# bank09.cfg - auto-created by ingest_starfox_enhanced_symbols.py

bank = 09

# >>> AUTO-INGESTED FROM Star Fox Enhanced SYMBOLS.TXT - do not hand-edit between markers >>>
# Source: third_party/starfox-enhanced/upstream-ultrastarfox/SYMBOLS.TXT
# Regenerate via: py tools/ingest_starfox_enhanced_symbols.py
# These are non-promoting labels; do not convert this block to `name`.
# 209 entries (0 suppressed by hand-authored declarations).
symbol 098000 HERE12
symbol 098000 COPYPOS_YX
symbol 098005 DOBJ2OBJ3DANGLE_XY
symbol 098026 DROTSFLAT_X
symbol 09803b DADDVECS2POS_X
symbol 098040 POSITIONAL_L
symbol 098044 DINCANIM_X
symbol 098060 DINCANIMJMP_X
symbol 098087 DDECANIM_X
symbol 0980a3 DZDISTLESS_L
symbol 0980a7 DZDISTLESS
symbol 0980cb DFALLYVEC_X
symbol 098123 TRUCK_ACCEL
symbol 098151 FLY_ISTRAT
symbol 0981ab FLY_STRAT
symbol 0981eb FLYLR_ISTRAT
symbol 098211 FLYR_ISTRAT
symbol 098224 FLYR_STRAT
symbol 098272 DGEN3DVECS
symbol 098285 DGENVECS
symbol 09829c HIGHFLY_ISTRAT
symbol 098311 DISTANTFLY_ISTRAT
symbol 09835a FLY2_ISTRAT
symbol 098367 FLY2_STRAT
symbol 0984cc FLY3_ISTRAT
symbol 0984e6 FLY3_STRAT
symbol 0985b8 FLY4_ISTRAT
symbol 0985d3 FLY4_STRAT
symbol 098636 FLYDEAD_ISTRAT
symbol 098647 FLYDEAD_STRAT
symbol 09866c FLYHITGND_ISTRAT
symbol 09869c FLYHITGND_STRAT
symbol 0986c3 NOFIRE2_AGGR
symbol 0986c3 NOFIRE_AGGR
symbol 0986c4 CUBEFALL_ISTRAT
symbol 0986ff CUBEFALL_STRAT
symbol 098747 CUBEEXP_STRAT
symbol 09874c CUBECOLL_STRAT
symbol 09876a SAUCER1_ISTRAT
symbol 0987a4 SAUCER1_STRAT
symbol 09891f SAUCER1_ISTRAT2
symbol 098932 SAUCER1_STRAT2
symbol 0989b7 SAUCER1_ISTRAT3
symbol 0989c4 SAUCER1_STRAT3
symbol 098a40 SAUCER1_ISTRAT4
symbol 098a55 SAUCER1_STRAT4
symbol 098aa0 PILLAR3_ISTRAT
symbol 098acf PILLAR3_STRAT
symbol 098afd PILLAR3FALL_I
symbol 098b8c PILLAR3FALL_STRAT
symbol 098ba2 PILLAR3STAY_ISTRAT
symbol 098bc1 PILLAR3STAY_STRAT
symbol 098bc2 WALKING_ISTRAT
symbol 098c15 WALKING_STRAT
symbol 098c37 WALKING2_STRAT
symbol 098c72 WALKING_HIT
symbol 098cbd WALKING_RIGHT
symbol 098e3f WALKING_LEFT
symbol 098fbd WALKING_FALL
symbol 098fce WOBBLE_STRAT
symbol 098ff0 FELLIT
symbol 099001 FALLOVER_STRAT
symbol 099104 WALLLEFTRIGHT_ISTRAT
symbol 09912f WALL2_STRAT
symbol 099161 WALLRND_ISTRAT
symbol 09916d WALLL_ISTRAT
symbol 099176 WALLR_ISTRAT
symbol 09917d WALLIN
symbol 0991a7 WALL1_STRAT
symbol 0991f8 WALLCHK
symbol 099206 WALLNOTHIT
symbol 099220 WALLLR_I
symbol 09922d WALLLEFT_I
symbol 099247 WALLLEFT_STRAT
symbol 099259 WALLRIGHT_I
symbol 099273 WALLRIGHT_STRAT
symbol 099285 SEARCHMETEOR_ISTRAT
symbol 099333 SLOWMETEOR_ISTRAT
symbol 099350 METEOR_ISTRAT2
symbol 099383 METEOR_ISTRAT
symbol 09939c METEOR_ISTRAT_IN  # METEOR_ISTRAT.IN
symbol 0993f0 METEOR_ISTRAT3
symbol 099412 METEOR_STRAT
symbol 099439 METEORCOL_ISTRAT
symbol 099451 METEOREXP_ISTRAT
symbol 0994c0 TUNNELA_ISTRAT
symbol 0994e0 TUNNELA_STRAT
symbol 099505 TUNNELA2_STRAT
symbol 099525 IRIS_ISTRAT
symbol 09957b IRIS_STRAT
symbol 09959d CAMELEON_ISTRAT
symbol 0995c0 CAMELEON_STRAT
symbol 09965c MINE0_ISTRAT
symbol 099681 MINE0_STRAT
symbol 099682 SAUCER_ISTRAT
symbol 0996c0 SAUCER_STRAT
symbol 09975c SAUCER_STRAT2
symbol 0997b3 PILLAR2_ISTRAT
symbol 0997d0 PILLAR2_STRAT
symbol 0997d6 GATE_ISTRAT
symbol 099816 GATE_STRAT
symbol 0998c7 SET_RESTART_POSITION_L
symbol 099910 RESTART_L
symbol 099993 LOCHNESSMONSTER_ISTRAT
symbol 0999a5 SEADRAGON2_ISTRAT
symbol 0999a9 SEADY
symbol 0999a9 SEADRAGON_ISTRAT
symbol 0999bc SEADY_MISSHEIGHT  # SEADY.MISSHEIGHT
symbol 0999f7 SEAD
symbol 0999f7 SEADRAGON_ISTRAT2
symbol 099a6c TREE3_ISTRAT
symbol 099a74 TREE2
symbol 099a74 TREE2_ISTRAT
symbol 099a82 TREE2_FORCEDENTRY  # TREE2.FORCEDENTRY
symbol 099ae4 TREE2_ISTRAT2
symbol 099b33 TREE1_ISTRAT
symbol 099b76 TREE1
symbol 099b76 TREE1_ISTRAT2
symbol 099bc5 TREE1_BLOOM  # TREE1.BLOOM
symbol 099c2d SPROUTT_ISTRAT
symbol 099c37 SPROUT_ISTRAT
symbol 099c79 SPROUTY
symbol 099c79 SPROUT2_ISTRAT
symbol 099cc4 SPROUTY_STRAT  # SPROUTY.STRAT
symbol 09a036 SPROUTY_WITHDRAW_I  # SPROUTY.WITHDRAW_I
symbol 09a2c9 SPROUTY_EXPL  # SPROUTY.EXPL
symbol 09a39f LEAF_ISTRAT
symbol 09a3e1 REMOVE_ALPTRS_L
symbol 09a3f7 ARM_ISTRAT
symbol 09a3f7 ARS
symbol 09a96b ARS_POSITION  # ARS.POSITION
symbol 09aa4b FLING
symbol 09aa4b FLINGBOSS_ISTRAT
symbol 09ae31 FLING_MAKEOBJ  # FLING.MAKEOBJ
symbol 09aed0 FLING_POSITIONAL  # FLING.POSITIONAL
symbol 09af67 FLING_COPYROTS_YX  # FLING.COPYROTS_YX
symbol 09b1c3 FIND_ALPTR_L
symbol 09b1da KILL_ROBOT_L
symbol 09b1fb FIND_Y_L
symbol 09b213 FIND_SWORD1_L
symbol 09b22a SPEEDLINES_ISTRAT
symbol 09b255 LARGEPLASMA_ISTRAT
symbol 09b26d DEADFLINGBOSS_ISTRAT
symbol 09b319 CHICK
symbol 09b319 CHICKEN_ISTRAT
symbol 09bcd5 EGGY
symbol 09bcd5 EGG_ISTRAT
symbol 09be08 CHICK_ISTRAT
symbol 09be42 NOTHING_ISTRAT
symbol 09be56 SHELL_ISTRAT
symbol 09be93 FIREBREATHE_ISTRAT
symbol 09be97 FIREBREATHE2_ISTRAT
symbol 09c013 MODECHANGEADD_L
symbol 09c01f MODECHANGESET_L
symbol 09c023 JUMPTOSTATE_L
symbol 09c042 WINGS_ISTRAT
symbol 09c0dc KILL_ALPTR_LIST_Y_L
symbol 09c0f3 MOVEOBJTOEND_L
symbol 09c123 BIKE2_ISTRAT
symbol 09c15c MADBIKER_ISTRAT
symbol 09c54b ROADLINE_ISTRAT
symbol 09c55e MADTRUCKER_ISTRAT
symbol 09cb7b BARRIER_ISTRAT
symbol 09cc5c CASTANET_ISTRAT
symbol 09d27d CASTBIT_ISTRAT
symbol 09d305 CASTBIT_ISTRAT_HIT  # CASTBIT_ISTRAT.HIT
symbol 09d32b TRUCKLAUNCH_ISTRAT
symbol 09d489 FALLINGTRUCK_ISTRAT
symbol 09d4eb FIRENORMRINGLASER_L
symbol 09d51e FIRERINGLASER_L
symbol 09d59b RINGLASER_ISTRAT
symbol 09d77b WEBMONSTER_ISTRAT
symbol 09da71 DRILL_ISTRAT
symbol 09dd0e DRILL_ISTRAT_LAUNCHWEB  # DRILL_ISTRAT.LAUNCHWEB
symbol 09dd34 LAUNCHATPLAYER_ISTRAT
symbol 09dd7f WEB_ISTRAT
symbol 09df49 PROPTURRET_ISTRAT
symbol 09e03b CHILD_ROTPOS_L
symbol 09e114 ROTPOS_ALLCHILDREN_L
symbol 09e124 AIRSHIP_ISTRAT
symbol 09ea2e BOSSFHEAD_ISTRAT
symbol 09eca7 BOSSFBODY_ISTRAT
symbol 09ee48 BOSSFFEET_ISTRAT
symbol 09f0c4 BLUB
symbol 09f0c4 BOSSFARM_ISTRAT
symbol 09f386 FIRE_IRONBALL
symbol 09f418 FIRE_IRONBALL2
symbol 09f499 FIRE_IRONBALL3
symbol 09f50b IRONBALL_ISTRAT
symbol 09f727 TOPRIGHT1_ISTRAT
symbol 09f733 TOPLEFT1_ISTRAT
symbol 09f73f BOTLEFT1_ISTRAT
symbol 09f74b BOTRIGHT1_ISTRAT
symbol 09f757 LEFTWALL_ISTRAT
symbol 09f75f RIGHTWALL_ISTRAT
symbol 09f763 DUCT_ISTRAT
symbol 09f767 LAUNCHBIGMISSILE
symbol 09f7b1 LAUNCHHEAD
symbol 09f7f0 HEADFIRE_ISTRAT
symbol 09f852 SKILLFLY_ISTRAT
symbol 09f8fd DAMYSCR_ISTRAT
symbol 09f91f DAMYSCR_SHAPESLIST
symbol 09f95f SPACEPILON_ISTRAT
symbol 09fb34 SPACEPILON_STRAT
symbol 09fc36 SPACEPILONCOL_ISTRAT
symbol 09fc9e SPACEPILONEXP_ISTRAT
symbol 09fcc0 SPACEPILONP_ISTRAT
symbol 09fce4 SPACEPILONP_STRAT
symbol 09fdf6 GAME_OVERBGM
# <<< END AUTO-INGESTED <<<
