# bank10.cfg - auto-created by ingest_starfox_enhanced_symbols.py

bank = 10

# >>> AUTO-INGESTED FROM Star Fox Enhanced SYMBOLS.TXT - do not hand-edit between markers >>>
# Source: third_party/starfox-enhanced/upstream-ultrastarfox/SYMBOLS.TXT
# Regenerate via: py tools/ingest_starfox_enhanced_symbols.py
# These are non-promoting labels; do not convert this block to `name`.
# 505 entries (0 suppressed by hand-authored declarations).
symbol 108000 ZACO_0
symbol 108000 ZACO_1
symbol 108000 ZACO_4
symbol 108000 ZACO_7
symbol 108000 ZACO_4P
symbol 108000 ZACO_7P
symbol 108000 HALF_D
symbol 108000 AMISSILE
symbol 108000 COCKPIT
symbol 108000 SHARK
symbol 108000 PAPER_1
symbol 108000 PAPER_3
symbol 108000 MYZOOM_B
symbol 108000 MYZOOM_L
symbol 108000 MYZOOM_R
symbol 108000 WALL_0
symbol 108000 WALL_1
symbol 108000 WALL_2
symbol 108000 WALL_3
symbol 108000 WALL_4
symbol 108000 WALL_5
symbol 108000 WALL_6
symbol 108000 WALL_7
symbol 108000 SPACEPILON
symbol 108000 S_DOOR_1
symbol 108000 S_DOOR_3
symbol 108000 S_DOOR_2
symbol 108000 S_DOOR
symbol 108000 HOU_3
symbol 108000 BOSS_B_6
symbol 108000 BOSS_B_7
symbol 108000 BOSS_F_0
symbol 108000 BOSS_F_1
symbol 108000 BOSS_F_2
symbol 108000 BOSS_F_3
symbol 108000 BOSS_F_4
symbol 108000 BOSS_F_5
symbol 108000 BOSS_F_6
symbol 108000 BOSS_F_7
symbol 108000 BOSS_F_8
symbol 108000 BOSS_F_9
symbol 108000 BOSS_F_B
symbol 108000 BOSS_F_1A
symbol 108000 BOSS_F_8A
symbol 108000 BOSS_F_9A
symbol 108000 BOU_0
symbol 108000 BOU_1
symbol 108000 BOU_1B
symbol 108000 SPILLAR2
symbol 108000 TOW_0
symbol 108000 LENG_0
symbol 108000 S_ZACO_0
symbol 108000 R_BUT_2
symbol 108000 R_BU_0
symbol 108000 R_BU_1
symbol 108000 R_BU_2
symbol 108000 R_BU_3
symbol 108000 R_BU_4
symbol 108000 R_BU_5
symbol 108000 R_BU_6
symbol 108000 R_BU_7
symbol 108000 S_WARK_0
symbol 108000 BU_3_P
symbol 108000 BU_3
symbol 108000 BU_4
symbol 108000 BU_5
symbol 108000 BU_6
symbol 108000 BU_7
symbol 108000 SHIPS
symbol 108000 SHIP_5
symbol 108000 SHIP_5_S
symbol 108000 SHIP_5L
symbol 108000 SHIP_5M
symbol 108000 SHIP_5S
symbol 108000 SLOT_3
symbol 108000 SLOT_2
symbol 108000 SLOT_4
symbol 108000 LSPIECE
symbol 108000 SSPIECE
symbol 108000 PILON
symbol 108000 TUNNEL_6
symbol 108000 TUNNEL_8
symbol 108000 MY_UP
symbol 108000 MSPIECE
symbol 108000 D_PILAR
symbol 10800f BU_3_F
symbol 10801d BU_3_F1
symbol 108048 BU_4_P
symbol 108092 BU_4_F
symbol 1080e7 BU_4_F1
symbol 1080f3 BU_4_F3
symbol 108145 BU_4_F4
symbol 108151 BU_4_F6
symbol 108191 BU_4_F7
symbol 1081c5 BU_4_EBSP
symbol 1081c6 BU_5_P
symbol 108207 BU_5_F
symbol 108242 BU_5_F1
symbol 10824e BU_5_F3
symbol 1082a0 BU_5_F4
symbol 1082de BU_5_EBSP
symbol 1082df BU_6_P
symbol 10831d BU_6_F
symbol 108366 BU_6_F1
symbol 108373 BU_6_F3
symbol 1083b3 BU_6_F4
symbol 1083bf BU_6_F6
symbol 1083e9 BU_6_F7
symbol 10841c BU_6_EBSP
symbol 10841d BU_7_P
symbol 10843b BU_7_F
symbol 108452 BU_7_F1
symbol 1084ab BOSS_F_0_P
symbol 108ca3 BOSS_F_0_F
symbol 108db2 BOSS_F_0_F1
symbol 108dbe BOSS_F_0_F3
symbol 108df8 BOSS_F_0_F4
symbol 108e04 BOSS_F_0_F6
symbol 108e10 BOSS_F_0_F8
symbol 108e4a BOSS_F_0_F9
symbol 108e56 BOSS_F_0_F11
symbol 108e62 BOSS_F_0_F13
symbol 108e78 BOSS_F_0_F14
symbol 108e84 BOSS_F_0_F16
symbol 108f12 BOSS_F_0_F17
symbol 108f1e BOSS_F_0_F19
symbol 108f2a BOSS_F_0_F21
symbol 108f5b BOSS_F_0_F22
symbol 108f79 BOSS_F_0_F23
symbol 108f85 BOSS_F_0_F25
symbol 108f91 BOSS_F_0_F27
symbol 108fd6 BOSS_F_0_F28
symbol 108ff4 BOSS_F_0_F29
symbol 10903c BOSS_F_0_EBSP
symbol 10903d BOSS_F_1_P
symbol 1090b9 BOSS_F_1_F
symbol 1090fa BOSS_F_1_F1
symbol 109106 BOSS_F_1_F3
symbol 10917a BOSS_F_1_F4
symbol 1091a0 BOSS_F_1_EBSP
symbol 1091a1 BOSS_F_2_P
symbol 109539 BOSS_F_2_F
symbol 1095d2 BOSS_F_2_F1
symbol 1095de BOSS_F_2_F3
symbol 10965e BOSS_F_2_F4
symbol 10966a BOSS_F_2_F6
symbol 109676 BOSS_F_2_F8
symbol 109682 BOSS_F_2_F10
symbol 1096c0 BOSS_F_2_F11
symbol 109703 BOSS_F_2_F12
symbol 10975a BOSS_F_2_EBSP
symbol 10975b BOSS_F_3_P
symbol 109827 BOSS_F_3_F
symbol 1098bc BOSS_F_3_F1
symbol 1098c8 BOSS_F_3_F3
symbol 109948 BOSS_F_3_F4
symbol 109954 BOSS_F_3_F6
symbol 109960 BOSS_F_3_F8
symbol 10996c BOSS_F_3_F10
symbol 109978 BOSS_F_3_F12
symbol 1099c6 BOSS_F_3_F13
symbol 109a02 BOSS_F_3_F14
symbol 109a16 BOSS_F_3_F15
symbol 109a2a BOSS_F_3_EBSP
symbol 109a2b BOSS_F_4_P
symbol 109ad7 BOSS_F_4_F
symbol 109bbc BOSS_F_4_F1
symbol 109bc8 BOSS_F_4_F3
symbol 109c14 BOSS_F_4_F4
symbol 109c20 BOSS_F_4_F6
symbol 109c6c BOSS_F_4_F7
symbol 109c78 BOSS_F_4_F9
symbol 109d74 BOSS_F_4_F10
symbol 109d80 BOSS_F_4_F12
symbol 109dcf BOSS_F_4_F13
symbol 109ddb BOSS_F_4_F15
symbol 109de6 BOSS_F_4_F16
symbol 109e15 BOSS_F_4_EBSP
symbol 109e16 BOSS_F_5_P
symbol 109e3a BOSS_F_5_F
symbol 109e75 BOSS_F_5_F1
symbol 109f38 BOSS_F_6_P
symbol 109f53 BOSS_F_6_F
symbol 109f73 BOSS_F_6_F1
symbol 109fd2 BOSS_F_7_P
symbol 109fed BOSS_F_7_F
symbol 10a00d BOSS_F_7_F1
symbol 10a06c BOSS_F_8_P
symbol 10a0f8 BOSS_F_8_F
symbol 10a106 BOSS_F_8_F1
symbol 10a12f BOSS_F_9_P
symbol 10a1bb BOSS_F_9_F
symbol 10a1c9 BOSS_F_9_F1
symbol 10a1f2 BOSS_F_8A_P
symbol 10a204 BOSS_F_8A_F
symbol 10a212 BOSS_F_8A_F1
symbol 10a21f BOSS_F_9A_P
symbol 10a234 BOSS_F_9A_F
symbol 10a242 BOSS_F_9A_F1
symbol 10a24f TUNNEL_6_P
symbol 10a4c6 TUNNEL_6_F
symbol 10a582 TUNNEL_6_F1
symbol 10a58f TUNNEL_6_F3
symbol 10a59c TUNNEL_6_F5
symbol 10a5a8 TUNNEL_6_F7
symbol 10a5be TUNNEL_6_F8
symbol 10a5ca TUNNEL_6_F10
symbol 10a5e0 TUNNEL_6_F11
symbol 10a5ec TUNNEL_6_F13
symbol 10a634 TUNNEL_6_F14
symbol 10a640 TUNNEL_6_F16
symbol 10a674 TUNNEL_6_F17
symbol 10a680 TUNNEL_6_F19
symbol 10a696 TUNNEL_6_F20
symbol 10a6d0 TUNNEL_6_F21
symbol 10a6dc TUNNEL_6_F23
symbol 10a6f2 TUNNEL_6_F24
symbol 10a72c TUNNEL_6_EBSP
symbol 10a72d TUNNEL_8_P
symbol 10a768 TUNNEL_8_F
symbol 10a794 TUNNEL_8_F1
symbol 10a827 WALL_0_P
symbol 10a83c WALL_0_F
symbol 10a84d WALL_0_F1
symbol 10a882 WALL_1_P
symbol 10a897 WALL_1_F
symbol 10a8a8 WALL_1_F1
symbol 10a8dd WALL_2_P
symbol 10a8f2 WALL_2_F
symbol 10a90f WALL_2_F1
symbol 10a96c WALL_3_P
symbol 10a981 WALL_3_F
symbol 10a99e WALL_3_F1
symbol 10a9fb WALL_4_P
symbol 10aa10 WALL_4_F
symbol 10aa2d WALL_4_F1
symbol 10aa8a WALL_5_P
symbol 10aa9f WALL_5_F
symbol 10aabc WALL_5_F1
symbol 10ab19 WALL_6_P
symbol 10ab2e WALL_6_F
symbol 10ab4b WALL_6_F1
symbol 10aba8 WALL_7_P
symbol 10abbd WALL_7_F
symbol 10abda WALL_7_F1
symbol 10ac37 SPILLAR2_P
symbol 10ad2f SPILLAR2_F
symbol 10ad40 SPILLAR2_F1
symbol 10ad75 COCKPIT_P
symbol 10ae2b COCKPIT_F
symbol 10af79 COCKPIT_F1
symbol 10af85 COCKPIT_F3
symbol 10af91 COCKPIT_F5
symbol 10af9d COCKPIT_F7
symbol 10afa9 COCKPIT_F9
symbol 10afb5 COCKPIT_F10
symbol 10aff1 COCKPIT_F11
symbol 10affc COCKPIT_F13
symbol 10b039 COCKPIT_F14
symbol 10b044 COCKPIT_F16
symbol 10b082 COCKPIT_F17
symbol 10b08e COCKPIT_F19
symbol 10b09a COCKPIT_F21
symbol 10b0a6 COCKPIT_F23
symbol 10b0bc COCKPIT_F24
symbol 10b0c8 COCKPIT_F26
symbol 10b0f1 COCKPIT_F27
symbol 10b0fd COCKPIT_F29
symbol 10b109 COCKPIT_F30
symbol 10b115 COCKPIT_F32
symbol 10b13d COCKPIT_F33
symbol 10b149 COCKPIT_F35
symbol 10b185 COCKPIT_F36
symbol 10b191 COCKPIT_F38
symbol 10b19d COCKPIT_F39
symbol 10b1a9 COCKPIT_F41
symbol 10b1b5 COCKPIT_F43
symbol 10b1c1 COCKPIT_F45
symbol 10b1cd COCKPIT_F47
symbol 10b215 COCKPIT_F48
symbol 10b23f COCKPIT_EBSP
symbol 10b240 MYZOOM_B_P
symbol 10b263 MYZOOM_B_F
symbol 10b2c3 MYZOOM_B_F1
symbol 10b2ce MYZOOM_B_F3
symbol 10b2d9 MYZOOM_B_F5
symbol 10b2ff MYZOOM_B_F6
symbol 10b337 MYZOOM_B_F7
symbol 10b342 MYZOOM_B_F9
symbol 10b34d MYZOOM_B_F11
symbol 10b373 MYZOOM_B_F12
symbol 10b387 MYZOOM_B_EBSP
symbol 10b388 MYZOOM_L_P
symbol 10b3ae MYZOOM_L_F
symbol 10b40e MYZOOM_L_F1
symbol 10b419 MYZOOM_L_F3
symbol 10b424 MYZOOM_L_F5
symbol 10b44a MYZOOM_L_F6
symbol 10b482 MYZOOM_L_F7
symbol 10b48d MYZOOM_L_F9
symbol 10b498 MYZOOM_L_F11
symbol 10b4be MYZOOM_L_F12
symbol 10b4d2 MYZOOM_L_EBSP
symbol 10b4d3 MYZOOM_R_P
symbol 10b4f9 MYZOOM_R_F
symbol 10b559 MYZOOM_R_F1
symbol 10b564 MYZOOM_R_F3
symbol 10b56f MYZOOM_R_F5
symbol 10b595 MYZOOM_R_F6
symbol 10b5cd MYZOOM_R_F7
symbol 10b5d8 MYZOOM_R_F9
symbol 10b5e3 MYZOOM_R_F11
symbol 10b609 MYZOOM_R_F12
symbol 10b61d MYZOOM_R_EBSP
symbol 10b61e BOSS_B_6_P
symbol 10bc62 BOSS_B_6_F
symbol 10bcf3 BOSS_B_6_F1
symbol 10bcfe BOSS_B_6_F3
symbol 10bd09 BOSS_B_6_F5
symbol 10bd2f BOSS_B_6_F6
symbol 10bd4c BOSS_B_6_F7
symbol 10bd57 BOSS_B_6_F9
symbol 10bda1 BOSS_B_6_F10
symbol 10bdac BOSS_B_6_F12
symbol 10bdb7 BOSS_B_6_F14
symbol 10bdf9 BOSS_B_6_F15
symbol 10be16 BOSS_B_6_F16
symbol 10be33 BOSS_B_6_EBSP
symbol 10be34 BOSS_B_7_P
symbol 10be49 BOSS_B_7_F
symbol 10be63 BOSS_B_7_F1
symbol 10beae BOSS_F_B_P
symbol 10bed7 BOSS_F_B_F
symbol 10bf20 BOSS_F_B_F1
symbol 10bf2e BOSS_F_B_F3
symbol 10bf3c BOSS_F_B_F5
symbol 10bfaa BOSS_F_B_F6
symbol 10bfbe BOSS_F_B_F7
symbol 10bfd2 BOSS_F_B_EBSP
symbol 10bfd3 R_BU_0_P
symbol 10c22d R_BU_0_F
symbol 10c26e R_BU_0_F1
symbol 10c27a R_BU_0_F3
symbol 10c2e0 R_BU_0_F4
symbol 10c31e R_BU_0_EBSP
symbol 10c31f R_BU_1_P
symbol 10c334 R_BU_1_F
symbol 10c34e R_BU_1_F1
symbol 10c3a1 R_BU_2_P
symbol 10c3ec R_BU_2_F
symbol 10c406 R_BU_2_F1
symbol 10c459 R_BU_3_P
symbol 10c46e R_BU_3_F
symbol 10c488 R_BU_3_F1
symbol 10c4db R_BU_4_P
symbol 10c4f0 R_BU_4_F
symbol 10c50a R_BU_4_F1
symbol 10c55d R_BU_5_P
symbol 10c572 R_BU_5_F
symbol 10c589 R_BU_5_F1
symbol 10c5d6 R_BU_6_P
symbol 10c5f1 R_BU_6_F
symbol 10c611 R_BU_6_F1
symbol 10c680 R_BU_7_P
symbol 10c6b3 R_BU_7_F
symbol 10c6d3 R_BU_7_F1
symbol 10c742 ZACO_4_P
symbol 10c757 ZACO_4_F
symbol 10c794 ZACO_4_F1
symbol 10c79f ZACO_4_F3
symbol 10c7aa ZACO_4_F5
symbol 10c812 ZACO_4_F6
symbol 10c81c ZACO_4_F7
symbol 10c826 ZACO_4_EBSP
symbol 10c827 ZACO_4P_P
symbol 10c83c ZACO_4P_F
symbol 10c850 ZACO_4P_F1
symbol 10c891 SHIP_5_P
symbol 10c8cc SHIP_5_F
symbol 10c913 SHIP_5_F1
symbol 10c9f9 SHIP_5_S_P
symbol 10ca22 SHIP_5_S_F
symbol 10ca4b SHIP_5_S_F1
symbol 10ca57 SHIP_5_S_F3
symbol 10ca82 SHIP_5_S_F4
symbol 10caab SHIP_5_S_EBSP
symbol 10caac HOU_3_P
symbol 10cac1 HOU_3_F
symbol 10cacf HOU_3_F1
symbol 10caf9 SHIPS_P
symbol 10cbce SHIPS_F
symbol 10cbf7 SHIPS_F1
symbol 10cc04 SHIPS_F3
symbol 10cc18 SHIPS_F4
symbol 10cc5d SHIPS_EBSP
symbol 10cc5e S_DOOR_P
symbol 10ce50 S_DOOR_F
symbol 10ce88 S_DOOR_F1
symbol 10cf43 S_DOOR_1_P
symbol 10d2d9 S_DOOR_1_F
symbol 10d311 S_DOOR_1_F1
symbol 10d3ca S_DOOR_2_P
symbol 10d810 S_DOOR_2_F
symbol 10d848 S_DOOR_2_F1
symbol 10d8ff ZACO_7_P
symbol 10da02 ZACO_7_F
symbol 10da54 ZACO_7_F1
symbol 10da5f ZACO_7_F3
symbol 10da6a ZACO_7_F5
symbol 10dabc ZACO_7_F6
symbol 10daeb ZACO_7_F7
symbol 10db1a ZACO_7_EBSP
symbol 10db1b ZACO_7P_P
symbol 10db2d ZACO_7P_F
symbol 10db3b ZACO_7P_F1
symbol 10db64 SPIECE_P
symbol 10db70 SPIECE_F
symbol 10db78 SPIECE_F1
symbol 10db8d LENG_0_P
symbol 10ddd0 LENG_0_F
symbol 10de02 LENG_0_F1
symbol 10dea9 SHARK_P
symbol 10ded5 SHARK_F
symbol 10df3e SHARK_F1
symbol 10df49 SHARK_F3
symbol 10df54 SHARK_F5
symbol 10dfd5 SHARK_F6
symbol 10dfeb SHARK_F7
symbol 10dff6 SHARK_F9
symbol 10e001 SHARK_F10
symbol 10e032 SHARK_EBSP
symbol 10e033 AMISSILE_P
symbol 10e223 AMISSILE_F
symbol 10e255 AMISSILE_F1
symbol 10e260 AMISSILE_F3
symbol 10e2a1 AMISSILE_F4
symbol 10e2c7 AMISSILE_EBSP
symbol 10e2c8 S_ZACO_0_P
symbol 10e2ee S_ZACO_0_F
symbol 10e361 S_ZACO_0_F1
symbol 10e36c S_ZACO_0_F3
symbol 10e378 S_ZACO_0_F5
symbol 10e39e S_ZACO_0_F6
symbol 10e3a9 S_ZACO_0_F8
symbol 10e3c6 S_ZACO_0_F9
symbol 10e3ec S_ZACO_0_F10
symbol 10e3f7 S_ZACO_0_F12
symbol 10e40b S_ZACO_0_F13
symbol 10e416 S_ZACO_0_F15
symbol 10e421 S_ZACO_0_F16
symbol 10e447 S_ZACO_0_EBSP
symbol 10e448 S_WARK_0_P
symbol 10e640 S_WARK_0_F
symbol 10e663 S_WARK_0_F1
symbol 10e6e9 ZACO_0_P
symbol 10e718 ZACO_0_F
symbol 10e762 ZACO_0_F1
symbol 10e84f ZACO_1_P
symbol 10e955 ZACO_1_F
symbol 10e999 ZACO_1_F1
symbol 10ea6c D_PILAR_P
symbol 10eb7a D_PILAR_F
symbol 10eb8e D_PILAR_F1
symbol 10ebcf HALF_D_P
symbol 10ed8b HALF_D_F
symbol 10eda5 HALF_D_F1
symbol 10edf8 SLOT_3_P
symbol 10ee13 SLOT_3_F
symbol 10ee33 SLOT_3_F1
symbol 10eea2 SLOT_2_P
symbol 10eeee SLOT_2_F
symbol 10ef05 SLOT_2_F1
symbol 10ef4d SLOT_4_P
symbol 10ef56 SLOT_4_F
symbol 10ef5b SLOT_4_F1
symbol 10ef68 TOW_0_P
symbol 10ef7d TOW_0_F
symbol 10ef94 TOW_0_F1
symbol 10efdf PAPER_3_P
symbol 10f108 PAPER_3_F
symbol 10f15e PAPER_3_F1
symbol 10f169 PAPER_3_F3
symbol 10f174 PAPER_3_F5
symbol 10f19a PAPER_3_F6
symbol 10f1a5 PAPER_3_F8
symbol 10f1b9 PAPER_3_F9
symbol 10f1cd PAPER_3_F10
symbol 10f1d8 PAPER_3_F12
symbol 10f1ec PAPER_3_F13
symbol 10f200 PAPER_3_EBSP
symbol 10f201 PAPER_1_P
symbol 10f515 PAPER_1_F
symbol 10f547 PAPER_1_F1
symbol 10f5e6 BOU_0_P
symbol 10f5f5 BOU_0_F
symbol 10f600 BOU_0_F1
symbol 10f621 BOU_1_P
symbol 10f630 BOU_1_F
symbol 10f63b BOU_1_F1
symbol 10f65c BOU_1B_F
symbol 10f667 BOU_1B_F1
symbol 10f688 PILON_P
symbol 10f699 PILON_F
symbol 10f6b0 PILON_F1
symbol 10f6f5 SECTOR_Y
# <<< END AUTO-INGESTED <<<
