# bank0e.cfg - auto-created by ingest_starfox_enhanced_symbols.py

bank = 0e

# >>> AUTO-INGESTED FROM Star Fox Enhanced SYMBOLS.TXT - do not hand-edit between markers >>>
# Source: third_party/starfox-enhanced/upstream-ultrastarfox/SYMBOLS.TXT
# Regenerate via: py tools/ingest_starfox_enhanced_symbols.py
# These are non-promoting labels; do not convert this block to `name`.
# 623 entries (0 suppressed by hand-authored declarations).
symbol 0e8000 DEBOSS_2
symbol 0e8000 BZACO_8
symbol 0e8000 ARCH_0
symbol 0e8000 RADER_0
symbol 0e8000 RADER_1
symbol 0e8000 ZACO_5
symbol 0e8000 ZACO_6
symbol 0e8000 ZACO_8
symbol 0e8000 ZACO_9
symbol 0e8000 ZACO_8P
symbol 0e8000 TADPOLE
symbol 0e8000 LASER_0_P
symbol 0e8000 LASER_0
symbol 0e8000 PIPE_9_0
symbol 0e8000 LBLACKFACE
symbol 0e8000 BSHIPEXITFACE
symbol 0e8000 SPARKLAS
symbol 0e8000 MBLACKFACE
symbol 0e8000 W_L
symbol 0e8000 BOM_WING
symbol 0e8000 BHYPER
symbol 0e8000 LWIREEXIT
symbol 0e8000 HOU_4
symbol 0e8000 HOUDAI_0
symbol 0e8000 HOUDAI_1
symbol 0e8000 BLTUNNELFACE
symbol 0e8000 BMTUNNELFACE
symbol 0e8000 RIPAIR_W
symbol 0e8000 BOSS_1_0
symbol 0e8000 BOSS_1_1
symbol 0e8000 BOSS_1_2
symbol 0e8000 BOSS_2_0
symbol 0e8000 BOSS_2_1
symbol 0e8000 BOSS_2_2
symbol 0e8000 BOSS_2_3
symbol 0e8000 BOSS_2_4
symbol 0e8000 BOSS_2_5
symbol 0e8000 BOSS_2_6
symbol 0e8000 BOSS_7_0
symbol 0e8000 BOSS_7_1
symbol 0e8000 BOSS_7_2
symbol 0e8000 BOSS_7_3
symbol 0e8000 BOSS_7_4
symbol 0e8000 BOSS_8_0
symbol 0e8000 BOSS_8_1
symbol 0e8000 BOSS_8_4
symbol 0e8000 BOSS_8_5
symbol 0e8000 BOSS_A_1
symbol 0e8000 BOSS_A_2
symbol 0e8000 BOSS_A_3
symbol 0e8000 BOSS_A_4
symbol 0e8000 BOSS_A_5
symbol 0e8000 BOSS_B_0
symbol 0e8000 BOSS_B_1
symbol 0e8000 BOSS_A_6
symbol 0e8000 BOSS_B_H
symbol 0e8000 BOSS_B_L
symbol 0e8000 BOSS_B_R
symbol 0e8000 BOSS_8_1C
symbol 0e8000 BOSS_7_1O
symbol 0e8000 MWIREEXIT
symbol 0e8000 SHRAP1
symbol 0e8000 TOWER_2
symbol 0e8000 TOWER_2A
symbol 0e8000 CORE_1_0
symbol 0e8000 CORE_1_1
symbol 0e8000 SSHIP_0_C
symbol 0e8000 DOOR_1
symbol 0e8000 ITEM_0
symbol 0e8000 ITEM_5
symbol 0e8000 ITEM_4
symbol 0e8000 ITEM_7
symbol 0e8000 ITEM_6
symbol 0e8000 EXIT_0
symbol 0e8000 EXIT_1
symbol 0e8000 EXIT_2
symbol 0e8000 EXITFACE
symbol 0e8000 EXITLIGHT
symbol 0e8000 HYPER
symbol 0e8000 HYPER2
symbol 0e8000 HYPER3
symbol 0e8000 HYPER4
symbol 0e8000 S_0
symbol 0e8000 FONT_D
symbol 0e8000 FONT_D2
symbol 0e8000 SHIP3EXITFACE
symbol 0e8000 SHIP_1
symbol 0e8000 SHIP_3
symbol 0e8000 SHIP_0_C
symbol 0e8000 SHIP_3_S
symbol 0e8000 LEXIT_0
symbol 0e8000 IRIS_1
symbol 0e8000 IRIS
symbol 0e8000 S_TANK_0
symbol 0e8000 MEXITFACE
symbol 0e8000 ROUND_0
symbol 0e8000 STONE_0
symbol 0e8000 UP1_MAN
symbol 0e8000 WIRE_MAN
symbol 0e8000 SHYPER
symbol 0e8000 S_1
symbol 0e8000 MY_B_W
symbol 0e8000 MY_L_W
symbol 0e8000 MY_R_W
symbol 0e8000 MY_W
symbol 0e8000 EXPL_6
symbol 0e8000 EXPL_8
symbol 0e8014 LASER_0_F
symbol 0e8028 LASER_0_F1
symbol 0e806f STONE_0_P
symbol 0e8089 STONE_0_F
symbol 0e80a6 STONE_0_F1
symbol 0e80fd ROUND_0_P
symbol 0e813e ROUND_0_F
symbol 0e81b7 ROUND_0_F1
symbol 0e81c3 ROUND_0_F3
symbol 0e81ff ROUND_0_F4
symbol 0e820b ROUND_0_F6
symbol 0e8234 ROUND_0_F7
symbol 0e8317 ROUND_0_EBSP
symbol 0e8318 IRIS_P
symbol 0e849f IRIS_F
symbol 0e84f5 IRIS_F1
symbol 0e85fc EXPL_6_P
symbol 0e861a EXPL_6_F
symbol 0e862e EXPL_6_F1
symbol 0e8668 EXPL_8_P
symbol 0e868f EXPL_8_F
symbol 0e86a9 EXPL_8_F1
symbol 0e86f5 BOSS_1_0_P
symbol 0e874c BOSS_1_0_F
symbol 0e87a1 BOSS_1_0_F1
symbol 0e87ae BOSS_1_0_F3
symbol 0e87bb BOSS_1_0_F5
symbol 0e8803 BOSS_1_0_F6
symbol 0e883e BOSS_1_0_F7
symbol 0e8879 BOSS_1_0_EBSP
symbol 0e887a BOSS_1_1_P
symbol 0e8891 BOSS_1_1_F
symbol 0e88a2 BOSS_1_1_F1
symbol 0e88d7 BOSS_1_2_P
symbol 0e891b BOSS_1_2_F
symbol 0e897f BOSS_1_2_F1
symbol 0e898b BOSS_1_2_F3
symbol 0e8997 BOSS_1_2_F5
symbol 0e8a85 BOSS_1_2_F6
symbol 0e8a8f BOSS_1_2_F7
symbol 0e8a99 BOSS_1_2_EBSP
symbol 0e8a9a BOSS_2_0_P
symbol 0e8aa9 BOSS_2_0_F
symbol 0e8aba BOSS_2_0_F1
symbol 0e8aef BOSS_2_1_P
symbol 0e8b15 BOSS_2_1_F
symbol 0e8b2f BOSS_2_1_F1
symbol 0e8ba6 BOSS_2_2_P
symbol 0e8bdb BOSS_2_2_F
symbol 0e8c10 BOSS_2_2_F1
symbol 0e8cb9 BOSS_2_3_P
symbol 0e8cd8 BOSS_2_3_F
symbol 0e8cf2 BOSS_2_3_F1
symbol 0e8d41 BOSS_2_4_P
symbol 0e8d60 BOSS_2_4_F
symbol 0e8d7a BOSS_2_4_F1
symbol 0e8dc9 BOSS_2_5_P
symbol 0e8de3 BOSS_2_5_F
symbol 0e8dfd BOSS_2_5_F1
symbol 0e8e4c BOSS_2_6_P
symbol 0e8e60 BOSS_2_6_F
symbol 0e8e7a BOSS_2_6_F1
symbol 0e8ec9 HYPER_P
symbol 0e8ef6 HYPER_F
symbol 0e8f36 HYPER2_P
symbol 0e8f57 HYPER2_F
symbol 0e8f87 HYPER3_P
symbol 0e8f9c HYPER3_F
symbol 0e8fbc HYPER4_P
symbol 0e8fc5 HYPER4_F
symbol 0e8fd5 LEXIT_0_P
symbol 0e9020 SHIP_3_P
symbol 0e9077 SHIP_3_F
symbol 0e90fc SHIP_3_F1
symbol 0e9108 SHIP_3_F3
symbol 0e917c SHIP_3_F4
symbol 0e9188 SHIP_3_F6
symbol 0e91fc SHIP_3_F7
symbol 0e9296 SHIP_3_EBSP
symbol 0e9297 SHIP_0_0_P
symbol 0e92f4 SHIP_0_0_F
symbol 0e93c4 SHIP_0_0_F1
symbol 0e93d0 SHIP_0_0_F3
symbol 0e944a SHIP_0_0_F4
symbol 0e9456 SHIP_0_0_F6
symbol 0e94d0 SHIP_0_0_F7
symbol 0e94db SHIP_0_0_F9
symbol 0e94e7 SHIP_0_0_F11
symbol 0e94f3 SHIP_0_0_F13
symbol 0e94ff SHIP_0_0_F15
symbol 0e9527 SHIP_0_0_F16
symbol 0e953d SHIP_0_0_F17
symbol 0e956e SHIP_0_0_F18
symbol 0e9579 SHIP_0_0_F20
symbol 0e95ac SHIP_0_0_F21
symbol 0e95b6 SHIP_0_0_F22
symbol 0e95c2 SHIP_0_0_F24
symbol 0e95cc SHIP_0_0_F25
symbol 0e95f2 SHIP_0_0_EBSP
symbol 0e95f3 SHIP_3_S_P
symbol 0e9611 SHIP_3_S_F
symbol 0e9628 SHIP_3_S_F1
symbol 0e9634 SHIP_3_S_F3
symbol 0e9640 SHIP_3_S_F4
symbol 0e964c SHIP_3_S_EBSP
symbol 0e964d EXIT_0_P
symbol 0e96ae EXIT_0_F
symbol 0e96e3 EXIT_0_F1
symbol 0e96ef EXIT_0_F3
symbol 0e96f1 EXIT_0_F4
symbol 0e9749 EXIT_0_EBSP
symbol 0e974a EXIT_1_P
symbol 0e9783 EXIT_1_F
symbol 0e97c4 EXIT_1_F1
symbol 0e97d0 EXIT_1_F3
symbol 0e97d2 EXIT_1_F4
symbol 0e97de EXIT_1_F6
symbol 0e97ea EXIT_1_F8
symbol 0e9846 EXIT_1_EBSP
symbol 0e9847 LWIREEXIT_P
symbol 0e9862 LWIREEXIT_F
symbol 0e988a MWIREEXIT_P
symbol 0e98a5 EXITLIGHT_P
symbol 0e98b4 EXITLIGHT_F
symbol 0e98c6 BLTUNNELFACE_P
symbol 0e98e1 BLTUNNELFACE_F
symbol 0e98f3 BMTUNNELFACE_P
symbol 0e990e BMTUNNELFACE_F
symbol 0e9920 EXITFACE_P
symbol 0e992f EXITFACE_F
symbol 0e9941 MEXITFACE_P
symbol 0e9950 MEXITFACE_F
symbol 0e9962 SHIP3EXITFACE_P
symbol 0e9971 SHIP3EXITFACE_F
symbol 0e9983 BSHIPEXITFACE_P
symbol 0e9992 BSHIPEXITFACE_F
symbol 0e99a4 LBLACKFACE_P
symbol 0e99d7 LBLACKFACE_F
symbol 0e9a07 MBLACKFACE_P
symbol 0e9a3a HOUDAI_0_P
symbol 0e9a56 HOUDAI_0_F
symbol 0e9a88 HOUDAI_0_F1
symbol 0e9a93 HOUDAI_0_F3
symbol 0e9ad8 HOUDAI_0_F4
symbol 0e9afe HOUDAI_0_EBSP
symbol 0e9aff HOUDAI_1_P
symbol 0e9b0e HOUDAI_1_F
symbol 0e9b1f HOUDAI_1_F1
symbol 0e9b54 ZACO_5_P
symbol 0e9cae ZACO_5_F
symbol 0e9d44 ZACO_5_F1
symbol 0e9d4f ZACO_5_F3
symbol 0e9d5a ZACO_5_F5
symbol 0e9d92 ZACO_5_F6
symbol 0e9d9d ZACO_5_F8
symbol 0e9db1 ZACO_5_F9
symbol 0e9dbc ZACO_5_F11
symbol 0e9dc7 ZACO_5_F13
symbol 0e9ddb ZACO_5_F14
symbol 0e9def ZACO_5_F15
symbol 0e9dfa ZACO_5_F17
symbol 0e9e17 ZACO_5_F18
symbol 0e9e22 ZACO_5_F20
symbol 0e9e2d ZACO_5_F22
symbol 0e9e4a ZACO_5_F23
symbol 0e9e5e ZACO_5_EBSP
symbol 0e9e5f BOSS_7_0_P
symbol 0e9f3c BOSS_7_0_F
symbol 0e9f7d BOSS_7_0_F1
symbol 0e9f89 BOSS_7_0_F3
symbol 0ea005 BOSS_7_0_F4
symbol 0ea02f BOSS_7_0_EBSP
symbol 0ea030 BOSS_7_1_P
symbol 0ea075 BOSS_7_1_F
symbol 0ea137 BOSS_7_1_F1
symbol 0ea143 BOSS_7_1_F3
symbol 0ea14f BOSS_7_1_F5
symbol 0ea15b BOSS_7_1_F7
symbol 0ea1b7 BOSS_7_1_F8
symbol 0ea1e1 BOSS_7_1_F9
symbol 0ea1ed BOSS_7_1_F11
symbol 0ea1f9 BOSS_7_1_F13
symbol 0ea252 BOSS_7_1_F14
symbol 0ea268 BOSS_7_1_F15
symbol 0ea274 BOSS_7_1_F16
symbol 0ea280 BOSS_7_1_F18
symbol 0ea28c BOSS_7_1_F20
symbol 0ea2e5 BOSS_7_1_F21
symbol 0ea2fb BOSS_7_1_F22
symbol 0ea307 BOSS_7_1_EBSP
symbol 0ea308 BOSS_7_1O_P
symbol 0ea332 BOSS_7_1O_F
symbol 0ea392 BOSS_7_1O_F1
symbol 0ea39e BOSS_7_1O_F3
symbol 0ea3aa BOSS_7_1O_F5
symbol 0ea3b6 BOSS_7_1O_F7
symbol 0ea3d4 BOSS_7_1O_F8
symbol 0ea408 BOSS_7_1O_F9
symbol 0ea43c BOSS_7_1O_F10
symbol 0ea47a BOSS_7_1O_EBSP
symbol 0ea47b BOSS_7_2_P
symbol 0ea49c BOSS_7_2_F
symbol 0ea4b6 BOSS_7_2_F1
symbol 0ea509 BOSS_7_3_P
symbol 0ea5c3 BOSS_7_3_F
symbol 0ea5f2 BOSS_7_3_F1
symbol 0ea5fe BOSS_7_3_F3
symbol 0ea65c BOSS_7_3_F4
symbol 0ea66e BOSS_7_3_EBSP
symbol 0ea66f BOSS_7_4_P
symbol 0ea729 BOSS_7_4_F
symbol 0ea758 BOSS_7_4_F1
symbol 0ea764 BOSS_7_4_F3
symbol 0ea7b9 BOSS_7_4_F4
symbol 0ea7d4 BOSS_7_4_EBSP
symbol 0ea7d5 ZACO_6_P
symbol 0ea7ef ZACO_6_F
symbol 0ea81b ZACO_6_F1
symbol 0ea8a4 ZACO_8_P
symbol 0ea8c4 ZACO_8_F
symbol 0ea907 ZACO_8_F1
symbol 0ea912 ZACO_8_F3
symbol 0ea91d ZACO_8_F5
symbol 0ea94d ZACO_8_F6
symbol 0ea973 ZACO_8_F7
symbol 0ea999 ZACO_8_EBSP
symbol 0ea99a ZACO_8P_P
symbol 0ea9a9 ZACO_8P_F
symbol 0ea9b7 ZACO_8P_F1
symbol 0ea9de MY_W_P
symbol 0ea9fb MY_W_F
symbol 0eaa00 MY_W_F1
symbol 0eaaab MY_L_W_P
symbol 0eaacb MY_L_W_F
symbol 0eaacb MY_L_W_F1
symbol 0eab76 MY_R_W_P
symbol 0eab96 MY_R_W_F
symbol 0eab96 MY_R_W_F1
symbol 0eac41 MY_B_W_P
symbol 0eac5e MY_B_W_F
symbol 0eac5e MY_B_W_F1
symbol 0ead09 DOOR_1_P
symbol 0eb240 DOOR_1_F
symbol 0eb2a4 DOOR_1_F1
symbol 0eb2b0 DOOR_1_F3
symbol 0eb2bc DOOR_1_F5
symbol 0eb304 DOOR_1_F6
symbol 0eb356 DOOR_1_F7
symbol 0eb3b2 DOOR_1_EBSP
symbol 0eb3b3 RADER_0_P
symbol 0eb3ce RADER_0_F
symbol 0eb3f4 RADER_0_F1
symbol 0eb46b RADER_1_P
symbol 0eb489 RADER_1_F
symbol 0eb49a RADER_1_F1
symbol 0eb4df TOWER_2_P
symbol 0eb510 TOWER_2_F
symbol 0eb515 TOWER_2_F1
symbol 0eb5a0 W_L_P
symbol 0eb5c3 W_L_F
symbol 0eb5f8 W_L_F1
symbol 0eb6ab ITEM_7_P
symbol 0eb6d1 ITEM_7_F
symbol 0eb6eb ITEM_7_F1
symbol 0eb78e ITEM_5_P
symbol 0eb883 ITEM_5_F
symbol 0eb88b ITEM_5_F1
symbol 0eb8d6 ITEM_6_P
symbol 0eb8ff ITEM_6_F
symbol 0eb904 ITEM_6_F1
symbol 0eb9c7 RIPAIR_W_P
symbol 0eb9ea RIPAIR_W_F
symbol 0eba24 RIPAIR_W_F1
symbol 0eba2f RIPAIR_W_F3
symbol 0eba55 RIPAIR_W_F4
symbol 0eba60 RIPAIR_W_F6
symbol 0eba86 RIPAIR_W_F7
symbol 0ebafa RIPAIR_W_EBSP
symbol 0ebafb ITEM_4_P
symbol 0ebb24 ITEM_4_F
symbol 0ebb38 ITEM_4_F1
symbol 0ebbd7 UP1_MAN_P
symbol 0ebbfb UP1_MAN_F
symbol 0ebc21 UP1_MAN_F1
symbol 0ebc96 ITEM_0_P
symbol 0ebcc1 ITEM_0_F
symbol 0ebcdb ITEM_0_F1
symbol 0ebce6 ITEM_0_F3
symbol 0ebcfa ITEM_0_F4
symbol 0ebd7d ITEM_0_EBSP
symbol 0ebd7e BOM_WING_P
symbol 0ebdc6 BOM_WING_F
symbol 0ebdfb BOM_WING_F1
symbol 0ebeba WIRE_MAN_P
symbol 0ebee3 WIRE_MAN_F
symbol 0ebf2b WIRE_MAN_F1
symbol 0ebf36 WIRE_MAN_F3
symbol 0ebf5b WIRE_MAN_F4
symbol 0ebf66 WIRE_MAN_F6
symbol 0ebf71 WIRE_MAN_F8
symbol 0ebfa7 WIRE_MAN_F9
symbol 0ebfc3 WIRE_MAN_F10
symbol 0ebfdf WIRE_MAN_EBSP
symbol 0ebfe0 BOSS_8_0_P
symbol 0ec2ec BOSS_8_0_F
symbol 0ec30f BOSS_8_0_F1
symbol 0ec38c BOSS_8_1_P
symbol 0ec670 BOSS_8_1_F
symbol 0ec6f0 BOSS_8_1_F1
symbol 0ec6fe BOSS_8_1_F3
symbol 0ec778 BOSS_8_1_F4
symbol 0ec876 BOSS_8_1_EBSP
symbol 0ec877 BOSS_8_4_P
symbol 0ec893 BOSS_8_4_F
symbol 0ec89e BOSS_8_4_F1
symbol 0ec8bf BOSS_8_5_P
symbol 0ec8d6 BOSS_8_5_F
symbol 0ec8f0 BOSS_8_5_F1
symbol 0ec8fc BOSS_8_5_F3
symbol 0ec923 BOSS_8_5_F4
symbol 0ec935 BOSS_8_5_EBSP
symbol 0ec936 SPARKLAS_P
symbol 0ec9fe SPARKLAS_F
symbol 0eca03 SPARKLAS_F1
symbol 0eca36 HOU_4_P
symbol 0eca77 HOU_4_F
symbol 0eca8b HOU_4_F1
symbol 0ecac4 SHRAP1_P
symbol 0ecaeb SHRAP1_F
symbol 0ecb19 SHRAP1_F1
symbol 0ecb24 SHRAP1_F3
symbol 0ecb38 SHRAP1_F4
symbol 0ecb43 SHRAP1_F6
symbol 0ecb57 SHRAP1_F7
symbol 0ecb6b SHRAP1_EBSP
symbol 0ecb6c S_0_P
symbol 0ecb83 S_0_F
symbol 0ecb9a S_0_F1
symbol 0ecbe2 S_1_P
symbol 0ecbf9 S_1_F
symbol 0ecc10 S_1_F1
symbol 0ecc58 BOSS_A_6_P
symbol 0eccd4 BOSS_A_6_F
symbol 0ecd14 BOSS_A_6_F1
symbol 0ecd20 BOSS_A_6_F3
symbol 0ecd2c BOSS_A_6_F5
symbol 0ecd7a BOSS_A_6_F6
symbol 0ecd8e BOSS_A_6_F7
symbol 0ecda2 BOSS_A_6_EBSP
symbol 0ecda3 BOSS_A_1_P
symbol 0ecdc6 BOSS_A_1_F
symbol 0ecdfb BOSS_A_1_F1
symbol 0ece09 BOSS_A_1_F3
symbol 0ece63 BOSS_A_1_F4
symbol 0ece80 BOSS_A_1_EBSP
symbol 0ece81 BOSS_A_2_P
symbol 0ecf49 BOSS_A_2_F
symbol 0ecfc2 BOSS_A_2_F1
symbol 0ecfcf BOSS_A_2_F3
symbol 0ecfdc BOSS_A_2_F5
symbol 0ed04c BOSS_A_2_F6
symbol 0ed0bc BOSS_A_2_F7
symbol 0ed12c BOSS_A_2_EBSP
symbol 0ed12d CORE_1_0_P
symbol 0ed183 CORE_1_0_F
symbol 0ed204 CORE_1_0_F1
symbol 0ed20f CORE_1_0_F3
symbol 0ed272 CORE_1_0_F4
symbol 0ed27d CORE_1_0_F6
symbol 0ed289 CORE_1_0_F8
symbol 0ed294 CORE_1_0_F10
symbol 0ed2c5 CORE_1_0_F11
symbol 0ed2cf CORE_1_0_F12
symbol 0ed2da CORE_1_0_F14
symbol 0ed2f7 CORE_1_0_F15
symbol 0ed303 CORE_1_0_F17
symbol 0ed339 CORE_1_0_F18
symbol 0ed353 CORE_1_0_F19
symbol 0ed36e CORE_1_0_EBSP
symbol 0ed36f CORE_1_1_P
symbol 0ed383 CORE_1_1_F
symbol 0ed39d CORE_1_1_F1
symbol 0ed3e8 EXIT_2_P
symbol 0ed438 EXIT_2_F
symbol 0ed4a6 EXIT_2_F1
symbol 0ed4b2 EXIT_2_F3
symbol 0ed4ee EXIT_2_F4
symbol 0ed4fa EXIT_2_F6
symbol 0ed536 EXIT_2_F7
symbol 0ed542 EXIT_2_F9
symbol 0ed544 EXIT_2_F10
symbol 0ed550 EXIT_2_F12
symbol 0ed562 EXIT_2_F13
symbol 0ed5a8 EXIT_2_EBSP
symbol 0ed5a9 BOSS_A_3_P
symbol 0ed5ca BOSS_A_3_F
symbol 0ed5f3 BOSS_A_3_F1
symbol 0ed67a BOSS_A_4_P
symbol 0ed71b BOSS_A_4_F
symbol 0ed741 BOSS_A_4_F1
symbol 0ed7c8 BOSS_A_5_P
symbol 0ed869 BOSS_A_5_F
symbol 0ed88f BOSS_A_5_F1
symbol 0ed916 BOSS_B_0_P
symbol 0edf42 BOSS_B_0_F
symbol 0edfdf BOSS_B_0_F1
symbol 0edfea BOSS_B_0_F3
symbol 0edff5 BOSS_B_0_F5
symbol 0ee009 BOSS_B_0_F6
symbol 0ee014 BOSS_B_0_F8
symbol 0ee01f BOSS_B_0_F10
symbol 0ee03c BOSS_B_0_F11
symbol 0ee047 BOSS_B_0_F13
symbol 0ee06d BOSS_B_0_F14
symbol 0ee0b7 BOSS_B_0_F15
symbol 0ee0c2 BOSS_B_0_F17
symbol 0ee0e8 BOSS_B_0_F18
symbol 0ee0f3 BOSS_B_0_F20
symbol 0ee123 BOSS_B_0_EBSP
symbol 0ee124 BOSS_B_1_P
symbol 0ee15c BOSS_B_1_F
symbol 0ee1dd BOSS_B_1_F1
symbol 0ee1e8 BOSS_B_1_F3
symbol 0ee1f3 BOSS_B_1_F5
symbol 0ee1fe BOSS_B_1_F7
symbol 0ee248 BOSS_B_1_F8
symbol 0ee277 BOSS_B_1_F9
symbol 0ee282 BOSS_B_1_F11
symbol 0ee2b1 BOSS_B_1_F12
symbol 0ee2bc BOSS_B_1_F14
symbol 0ee2f4 BOSS_B_1_EBSP
symbol 0ee2f5 SHIP_1_P
symbol 0ee330 SHIP_1_F
symbol 0ee389 SHIP_1_F1
symbol 0ee395 SHIP_1_F3
symbol 0ee471 SHIP_1_F4
symbol 0ee4b3 SHIP_1_EBSP
symbol 0ee4b4 ZACO_9_P
symbol 0ee4e7 ZACO_9_F
symbol 0ee527 ZACO_9_F1
symbol 0ee532 ZACO_9_F3
symbol 0ee53e ZACO_9_F5
symbol 0ee58e ZACO_9_F6
symbol 0ee598 ZACO_9_F7
symbol 0ee5c9 ZACO_9_EBSP
symbol 0ee5ca BOSS_B_H_P
symbol 0ee5f4 BOSS_B_H_F
symbol 0ee63d BOSS_B_H_F1
symbol 0ee648 BOSS_B_H_F3
symbol 0ee653 BOSS_B_H_F5
symbol 0ee6b9 BOSS_B_H_F6
symbol 0ee6cd BOSS_B_H_F7
symbol 0ee6e1 BOSS_B_H_EBSP
symbol 0ee6e2 BOSS_B_L_P
symbol 0ee6f7 BOSS_B_L_F
symbol 0ee71d BOSS_B_L_F1
symbol 0ee728 BOSS_B_L_F3
symbol 0ee757 BOSS_B_L_F4
symbol 0ee76b BOSS_B_L_EBSP
symbol 0ee76c BOSS_B_R_P
symbol 0ee781 BOSS_B_R_F
symbol 0ee7a7 BOSS_B_R_F1
symbol 0ee7b2 BOSS_B_R_F3
symbol 0ee7e1 BOSS_B_R_F4
symbol 0ee7f5 BOSS_B_R_EBSP
symbol 0ee7f6 TADPOLE_P
symbol 0ee989 TADPOLE_F
symbol 0eea03 TADPOLE_F1
symbol 0eea0e TADPOLE_F3
symbol 0eea1a TADPOLE_F5
symbol 0eea4b TADPOLE_F6
symbol 0eea6b TADPOLE_F7
symbol 0eea76 TADPOLE_F9
symbol 0eea81 TADPOLE_F11
symbol 0eea8c TADPOLE_F13
symbol 0eeaa1 TADPOLE_F14
symbol 0eead3 TADPOLE_F15
symbol 0eeb1b TADPOLE_EBSP
symbol 0eeb1c ARCH_0_P
symbol 0eeb43 ARCH_0_F
symbol 0eeb72 ARCH_0_F1
symbol 0eec0b S_TANK_0_P
symbol 0eec40 S_TANK_0_F
symbol 0eec9b S_TANK_0_F1
symbol 0eeca6 S_TANK_0_F3
symbol 0eed36 S_TANK_0_F4
symbol 0eed41 S_TANK_0_F6
symbol 0eed4b S_TANK_0_F7
symbol 0eed94 S_TANK_0_EBSP
symbol 0eed95 DEBOSS_2_P
symbol 0eee01 DEBOSS_2_F
symbol 0eee73 DEBOSS_2_F1
symbol 0eee7e DEBOSS_2_F3
symbol 0eeea6 DEBOSS_2_F4
symbol 0eeeb1 DEBOSS_2_F6
symbol 0eeebd DEBOSS_2_F8
symbol 0eeed2 DEBOSS_2_F9
symbol 0eeef1 DEBOSS_2_F10
symbol 0eeefd DEBOSS_2_F12
symbol 0eef11 DEBOSS_2_F13
symbol 0eef1c DEBOSS_2_F15
symbol 0eef3b DEBOSS_2_F16
symbol 0eef47 DEBOSS_2_F18
symbol 0eef59 DEBOSS_2_F19
symbol 0eef75 DEBOSS_2_EBSP
symbol 0eef76 IRIS_1_P
symbol 0eef91 IRIS_1_F
symbol 0eefab IRIS_1_F1
symbol 0eeffe PIPE_9_0_P
symbol 0ef00d PIPE_9_0_F
symbol 0ef01b PIPE_9_0_F1
symbol 0ef046 FONT_D_P
symbol 0ef091 FONT_D_F
symbol 0ef0db FONT_D_F1
symbol 0efbe2 BGMPCR
symbol 0efbe2 BOSS_FORTUNA
# <<< END AUTO-INGESTED <<<
