# bank0f.cfg - auto-created by ingest_starfox_enhanced_symbols.py

bank = 0f

# >>> AUTO-INGESTED FROM Star Fox Enhanced SYMBOLS.TXT - do not hand-edit between markers >>>
# Source: third_party/starfox-enhanced/upstream-ultrastarfox/SYMBOLS.TXT
# Regenerate via: py tools/ingest_starfox_enhanced_symbols.py
# These are non-promoting labels; do not convert this block to `name`.
# 554 entries (0 suppressed by hand-authored declarations).
symbol 0f8000 FACE_0
symbol 0f8000 FACE_B
symbol 0f8000 FACE_0_1
symbol 0f8000 BARRIER
symbol 0f8000 BAZZ_1P
symbol 0f8000 BAZZ_1Q
symbol 0f8000 LEAF
symbol 0f8000 SFACE2_B
symbol 0f8000 SFACE_B
symbol 0f8000 UP_DOOR
symbol 0f8000 RO_0
symbol 0f8000 RO_1
symbol 0f8000 RO_2
symbol 0f8000 RO_3
symbol 0f8000 RO_4
symbol 0f8000 RO_5
symbol 0f8000 RO_6
symbol 0f8000 LAST_B_0
symbol 0f8000 LAST_B_2
symbol 0f8000 LAST_B_3
symbol 0f8000 PIPE_0
symbol 0f8000 PIPE_1
symbol 0f8000 PIPE_2
symbol 0f8000 PIPE_3
symbol 0f8000 PIPE_4
symbol 0f8000 PIPE_5
symbol 0f8000 PIPE_6
symbol 0f8000 SNAKE_0
symbol 0f8000 SNAKE_1
symbol 0f8000 SNAKE_2
symbol 0f8000 SNAKE_3
symbol 0f8000 SNAKE_4
symbol 0f8000 WALK_4_0
symbol 0f8000 WALK_4_L
symbol 0f8000 WALK_4_R
symbol 0f8000 KICHI_0
symbol 0f8000 KICHI_1
symbol 0f8000 KICHI_2
symbol 0f8000 KICHI_3
symbol 0f8000 KICHI_4
symbol 0f8000 BOLL
symbol 0f8000 STALK
symbol 0f8000 STALK_1
symbol 0f8000 STALK_S
symbol 0f8000 HELI
symbol 0f8000 BRO_0
symbol 0f8000 BRO_1
symbol 0f8000 BRO_2
symbol 0f8000 BRO_3
symbol 0f8000 BRO_4
symbol 0f8000 BRO_5
symbol 0f8000 BRO_6
symbol 0f8000 BOSS_0_0
symbol 0f8000 BOSS_0_1
symbol 0f8000 BOSS_0_2
symbol 0f8000 BOSS_0_3
symbol 0f8000 BOSS_9_0
symbol 0f8000 BOSS_9_5
symbol 0f8000 BOSS_9_6
symbol 0f8000 BOSS_E_0
symbol 0f8000 BOSS_E_1
symbol 0f8000 BOSS_E_3
symbol 0f8000 BOSS_E_4
symbol 0f8000 BOSS_G_0
symbol 0f8000 BOSS_G_S
symbol 0f8000 BOSS_0_0A
symbol 0f8000 BOSS_E_1A
symbol 0f8000 DOOR_L
symbol 0f8000 FIREFACE_B
symbol 0f8000 FIREFACE1_B
symbol 0f8000 FLOWER_1
symbol 0f8000 FLOWER_2
symbol 0f8000 FLOWER
symbol 0f8000 F_FISH
symbol 0f8000 BU_0_P
symbol 0f8000 BU_0
symbol 0f8000 BU_1
symbol 0f8000 BU_8
symbol 0f8000 K_DOOR
symbol 0f8000 TUNNEL_0
symbol 0f8000 TUNNEL_4
symbol 0f8000 GRO_0
symbol 0f8000 GRO_1
symbol 0f8000 GRO_2
symbol 0f8000 GRO_3
symbol 0f8000 GRO_4
symbol 0f8000 GRO_5
symbol 0f8000 GRO_6
symbol 0f8015 BU_0_F
symbol 0f8029 BU_0_F1
symbol 0f806a BU_1_P
symbol 0f807f BU_1_F
symbol 0f8093 BU_1_F1
symbol 0f80d4 BOSS_9_0_P
symbol 0f8192 BOSS_9_0_F
symbol 0f81a3 BOSS_9_0_F1
symbol 0f81e6 BOSS_9_6_P
symbol 0f8272 BOSS_9_6_F
symbol 0f838c BOSS_9_6_F1
symbol 0f8398 BOSS_9_6_F3
symbol 0f83a4 BOSS_9_6_F5
symbol 0f83f3 BOSS_9_6_F6
symbol 0f83ff BOSS_9_6_F8
symbol 0f840b BOSS_9_6_F10
symbol 0f8417 BOSS_9_6_F12
symbol 0f8449 BOSS_9_6_F13
symbol 0f847c BOSS_9_6_F14
symbol 0f84a3 BOSS_9_6_F15
symbol 0f8521 BOSS_9_6_F16
symbol 0f852d BOSS_9_6_F18
symbol 0f8539 BOSS_9_6_F20
symbol 0f8575 BOSS_9_6_F21
symbol 0f8580 BOSS_9_6_F23
symbol 0f859d BOSS_9_6_F24
symbol 0f85d6 BOSS_9_6_F25
symbol 0f85e1 BOSS_9_6_F27
symbol 0f85fe BOSS_9_6_F28
symbol 0f8637 BOSS_9_6_EBSP
symbol 0f8638 BARRIER_P
symbol 0f8db6 BARRIER_F
symbol 0f8e02 BARRIER_F1
symbol 0f8e0e BARRIER_F3
symbol 0f8e1a BARRIER_F5
symbol 0f8ea4 BARRIER_F6
symbol 0f8eb0 BARRIER_F7
symbol 0f8ebc BARRIER_EBSP
symbol 0f8ebd BOSS_E_0_P
symbol 0f916d BOSS_E_0_F
symbol 0f921d BOSS_E_0_F1
symbol 0f9228 BOSS_E_0_F3
symbol 0f9234 BOSS_E_0_F5
symbol 0f9240 BOSS_E_0_F7
symbol 0f924c BOSS_E_0_F9
symbol 0f92b4 BOSS_E_0_F10
symbol 0f92d1 BOSS_E_0_F11
symbol 0f92ee BOSS_E_0_F12
symbol 0f930b BOSS_E_0_F13
symbol 0f93eb BOSS_E_0_EBSP
symbol 0f93ec BOSS_E_3_P
symbol 0f942d BOSS_E_3_F
symbol 0f9482 BOSS_E_3_F1
symbol 0f948e BOSS_E_3_F3
symbol 0f949a BOSS_E_3_F5
symbol 0f9509 BOSS_E_3_F6
symbol 0f9527 BOSS_E_3_F7
symbol 0f9558 BOSS_E_3_EBSP
symbol 0f9559 BOSS_0_0_P
symbol 0f973d BOSS_0_0_F
symbol 0f97c1 BOSS_0_0_F1
symbol 0f97cc BOSS_0_0_F3
symbol 0f9823 BOSS_0_0_F4
symbol 0f982e BOSS_0_0_F6
symbol 0f9842 BOSS_0_0_F7
symbol 0f984d BOSS_0_0_F9
symbol 0f9858 BOSS_0_0_F11
symbol 0f9892 BOSS_0_0_F12
symbol 0f989d BOSS_0_0_F14
symbol 0f98e7 BOSS_0_0_EBSP
symbol 0f98e8 BOSS_0_1_P
symbol 0f9905 BOSS_0_1_F
symbol 0f991c BOSS_0_1_F1
symbol 0f9967 BOSS_0_2_P
symbol 0f997e BOSS_0_2_F
symbol 0f9998 BOSS_0_2_F1
symbol 0f99e8 BOSS_0_3_P
symbol 0f9c04 BOSS_0_3_F
symbol 0f9c40 BOSS_0_3_F1
symbol 0f9c4b BOSS_0_3_F3
symbol 0f9c56 BOSS_0_3_F5
symbol 0f9c61 BOSS_0_3_F7
symbol 0f9d14 BOSS_0_3_EBSP
symbol 0f9d15 BOLL_P
symbol 0f9d29 BOLL_F
symbol 0f9d2e BOLL_F1
symbol 0f9d3f TUNNEL_0_P
symbol 0f9d51 TUNNEL_0_F
symbol 0f9d59 TUNNEL_0_F1
symbol 0f9d6f TUNNEL_4_P
symbol 0f9dae TUNNEL_4_F
symbol 0f9dd1 TUNNEL_4_F1
symbol 0f9e46 KICHI_0_P
symbol 0f9e96 KICHI_0_F
symbol 0f9f69 KICHI_0_F1
symbol 0f9f74 KICHI_0_F3
symbol 0f9f8f KICHI_0_F4
symbol 0f9f9a KICHI_0_F6
symbol 0f9fb5 KICHI_0_F7
symbol 0f9fc0 KICHI_0_F9
symbol 0f9fcb KICHI_0_F11
symbol 0f9fd6 KICHI_0_F13
symbol 0f9fe1 KICHI_0_F15
symbol 0f9ff5 KICHI_0_F16
symbol 0fa008 KICHI_0_F17
symbol 0fa013 KICHI_0_F19
symbol 0fa05c KICHI_0_F20
symbol 0fa067 KICHI_0_F22
symbol 0fa072 KICHI_0_F24
symbol 0fa0a1 KICHI_0_F25
symbol 0fa0ac KICHI_0_F27
symbol 0fa0c1 KICHI_0_F28
symbol 0fa0cd KICHI_0_F30
symbol 0fa0fc KICHI_0_F31
symbol 0fa13c KICHI_0_EBSP
symbol 0fa13d KICHI_1_P
symbol 0fa18d KICHI_1_F
symbol 0fa1e4 KICHI_1_F1
symbol 0fa1f0 KICHI_1_F3
symbol 0fa1fb KICHI_1_F5
symbol 0fa207 KICHI_1_F7
symbol 0fa212 KICHI_1_F9
symbol 0fa2db KICHI_1_EBSP
symbol 0fa2dc KICHI_2_P
symbol 0fa2f4 KICHI_2_F
symbol 0fa305 KICHI_2_F1
symbol 0fa33a KICHI_3_P
symbol 0fa34f KICHI_3_F
symbol 0fa369 KICHI_3_F1
symbol 0fa3cc BOSS_G_0_P
symbol 0fa500 BOSS_G_0_F
symbol 0fa5ff BOSS_G_0_F1
symbol 0fa60b BOSS_G_0_F3
symbol 0fa617 BOSS_G_0_F5
symbol 0fa622 BOSS_G_0_F7
symbol 0fa62e BOSS_G_0_F9
symbol 0fa654 BOSS_G_0_F10
symbol 0fa66f BOSS_G_0_F11
symbol 0fa67a BOSS_G_0_F13
symbol 0fa685 BOSS_G_0_F15
symbol 0fa6e5 BOSS_G_0_F16
symbol 0fa6f1 BOSS_G_0_F18
symbol 0fa6fd BOSS_G_0_F20
symbol 0fa708 BOSS_G_0_F22
symbol 0fa714 BOSS_G_0_F24
symbol 0fa747 BOSS_G_0_F25
symbol 0fa77b BOSS_G_0_F26
symbol 0fa7a5 BOSS_G_0_F27
symbol 0fa7b1 BOSS_G_0_F29
symbol 0fa7da BOSS_G_0_F30
symbol 0fa804 BOSS_G_0_F31
symbol 0fa82a BOSS_G_0_F32
symbol 0fa85a BOSS_G_0_EBSP
symbol 0fa85b KICHI_4_P
symbol 0fab01 KICHI_4_F
symbol 0fab70 KICHI_4_F1
symbol 0fab7c KICHI_4_F3
symbol 0fabba KICHI_4_F4
symbol 0fabc6 KICHI_4_F6
symbol 0fabd6 KICHI_4_F8
symbol 0fabe2 KICHI_4_F10
symbol 0fac2c KICHI_4_F11
symbol 0fac38 KICHI_4_F13
symbol 0fac44 KICHI_4_F14
symbol 0fac6e KICHI_4_EBSP
symbol 0fac6f RO_0_P
symbol 0faca5 RO_0_F
symbol 0facce RO_0_F1
symbol 0fad4c RO_1_P
symbol 0fad82 RO_1_F
symbol 0fadab RO_1_F1
symbol 0fae29 RO_2_P
symbol 0fae5b RO_2_F
symbol 0fae84 RO_2_F1
symbol 0faf02 RO_3_P
symbol 0faf34 RO_3_F
symbol 0faf5d RO_3_F1
symbol 0fafdb RO_4_P
symbol 0fb010 RO_4_F
symbol 0fb039 RO_4_F1
symbol 0fb0b7 RO_5_P
symbol 0fb0ec RO_5_F
symbol 0fb115 RO_5_F1
symbol 0fb193 HELI_P
symbol 0fb215 HELI_F
symbol 0fb280 HELI_F1
symbol 0fb28b HELI_F3
symbol 0fb296 HELI_F5
symbol 0fb2f4 HELI_F6
symbol 0fb2ff HELI_F8
symbol 0fb313 HELI_F9
symbol 0fb31e HELI_F11
symbol 0fb332 HELI_F12
symbol 0fb346 HELI_F13
symbol 0fb363 HELI_EBSP
symbol 0fb364 BOSS_E_4_P
symbol 0fb409 BOSS_E_4_F
symbol 0fb42f BOSS_E_4_F1
symbol 0fb4aa RO_6_P
symbol 0fb4d4 RO_6_F
symbol 0fb500 RO_6_F1
symbol 0fb583 F_FISH_P
symbol 0fb69e F_FISH_F
symbol 0fb702 F_FISH_F1
symbol 0fb70d F_FISH_F3
symbol 0fb721 F_FISH_F4
symbol 0fb72c F_FISH_F6
symbol 0fb737 F_FISH_F8
symbol 0fb74b F_FISH_F9
symbol 0fb756 F_FISH_F11
symbol 0fb761 F_FISH_F13
symbol 0fb76c F_FISH_F15
symbol 0fb7b6 F_FISH_EBSP
symbol 0fb7b7 LEAF_P
symbol 0fb841 LEAF_F
symbol 0fb85b LEAF_F1
symbol 0fb8a6 FLOWER_P
symbol 0fba8a FLOWER_F
symbol 0fbb10 FLOWER_F1
symbol 0fbb1b FLOWER_F3
symbol 0fbb41 FLOWER_F4
symbol 0fbb4c FLOWER_F6
symbol 0fbb72 FLOWER_F7
symbol 0fbb7d FLOWER_F9
symbol 0fbba3 FLOWER_F10
symbol 0fbbae FLOWER_F12
symbol 0fbbd4 FLOWER_F13
symbol 0fbc5a FLOWER_EBSP
symbol 0fbc5b STALK_P
symbol 0fbd87 STALK_F
symbol 0fbdb0 STALK_F1
symbol 0fbe31 SNAKE_0_P
symbol 0fc0ce SNAKE_0_F
symbol 0fc147 SNAKE_0_F1
symbol 0fc152 SNAKE_0_F3
symbol 0fc15f SNAKE_0_F5
symbol 0fc16a SNAKE_0_F7
symbol 0fc175 SNAKE_0_F9
symbol 0fc181 SNAKE_0_F11
symbol 0fc1b0 SNAKE_0_F12
symbol 0fc1c4 SNAKE_0_F13
symbol 0fc1cf SNAKE_0_F14
symbol 0fc1e3 SNAKE_0_F15
symbol 0fc22d SNAKE_0_F16
symbol 0fc241 SNAKE_0_EBSP
symbol 0fc242 SNAKE_1_P
symbol 0fc36e SNAKE_1_F
symbol 0fc391 SNAKE_1_F1
symbol 0fc3fe STALK_1_P
symbol 0fc40d STALK_1_F
symbol 0fc418 STALK_1_F1
symbol 0fc439 SNAKE_2_P
symbol 0fc448 SNAKE_2_F
symbol 0fc453 SNAKE_2_F1
symbol 0fc474 STALK_S_P
symbol 0fc483 STALK_S_F
symbol 0fc48b STALK_S_F1
symbol 0fc4a2 FLOWER_1_P
symbol 0fc4f8 FLOWER_1_F
symbol 0fc5f1 FLOWER_1_F1
symbol 0fc5fc FLOWER_1_F3
symbol 0fc607 FLOWER_1_F5
symbol 0fc612 FLOWER_1_F7
symbol 0fc624 FLOWER_1_F8
symbol 0fc62f FLOWER_1_F10
symbol 0fc63a FLOWER_1_F12
symbol 0fc645 FLOWER_1_F14
symbol 0fc66b FLOWER_1_F15
symbol 0fc676 FLOWER_1_F17
symbol 0fc69c FLOWER_1_F18
symbol 0fc6b9 FLOWER_1_F19
symbol 0fc6c4 FLOWER_1_F21
symbol 0fc6cf FLOWER_1_F23
symbol 0fc6da FLOWER_1_F25
symbol 0fc6e5 FLOWER_1_F27
symbol 0fc719 FLOWER_1_F28
symbol 0fc72d FLOWER_1_F29
symbol 0fc738 FLOWER_1_F31
symbol 0fc743 FLOWER_1_F33
symbol 0fc757 FLOWER_1_F34
symbol 0fc76b FLOWER_1_F35
symbol 0fc7ad FLOWER_1_F36
symbol 0fc7ee FLOWER_1_EBSP
symbol 0fc7ef FLOWER_2_P
symbol 0fc854 FLOWER_2_F
symbol 0fc962 FLOWER_2_F1
symbol 0fc96e FLOWER_2_F3
symbol 0fc979 FLOWER_2_F5
symbol 0fc984 FLOWER_2_F7
symbol 0fc9b0 FLOWER_2_F8
symbol 0fc9bb FLOWER_2_F10
symbol 0fc9c6 FLOWER_2_F12
symbol 0fc9d1 FLOWER_2_F14
symbol 0fc9dd FLOWER_2_F15
symbol 0fc9fa FLOWER_2_F16
symbol 0fca05 FLOWER_2_F18
symbol 0fca10 FLOWER_2_F20
symbol 0fca1b FLOWER_2_F22
symbol 0fca41 FLOWER_2_F23
symbol 0fca5e FLOWER_2_F24
symbol 0fca8d FLOWER_2_F25
symbol 0fca98 FLOWER_2_F27
symbol 0fcaa4 FLOWER_2_F29
symbol 0fcab0 FLOWER_2_F31
symbol 0fcac6 FLOWER_2_F32
symbol 0fcad2 FLOWER_2_F34
symbol 0fcafa FLOWER_2_F35
symbol 0fcb05 FLOWER_2_F37
symbol 0fcb3d FLOWER_2_F38
symbol 0fcb48 FLOWER_2_F40
symbol 0fcb89 FLOWER_2_EBSP
symbol 0fcb8a SNAKE_3_P
symbol 0fcc57 SNAKE_3_F
symbol 0fcc83 SNAKE_3_F1
symbol 0fcd09 SNAKE_4_P
symbol 0fcd23 SNAKE_4_F
symbol 0fcd43 SNAKE_4_F1
symbol 0fcda5 WALK_4_0_P
symbol 0fcdd2 WALK_4_0_F
symbol 0fce43 WALK_4_0_F1
symbol 0fce4f WALK_4_0_F3
symbol 0fcf12 WALK_4_0_F4
symbol 0fcf85 WALK_4_0_EBSP
symbol 0fcf86 WALK_4_L_P
symbol 0fd22b WALK_4_L_F
symbol 0fd245 WALK_4_L_F1
symbol 0fd2a0 WALK_4_R_P
symbol 0fd545 WALK_4_R_F
symbol 0fd55f WALK_4_R_F1
symbol 0fd5ba LAST_B_0_P
symbol 0fd62f LAST_B_0_F
symbol 0fd75e LAST_B_0_F1
symbol 0fd769 LAST_B_0_F3
symbol 0fd775 LAST_B_0_F5
symbol 0fd781 LAST_B_0_F7
symbol 0fd78c LAST_B_0_F9
symbol 0fd797 LAST_B_0_F11
symbol 0fd7a3 LAST_B_0_F12
symbol 0fd7b7 LAST_B_0_F13
symbol 0fd7cb LAST_B_0_F14
symbol 0fd7d6 LAST_B_0_F16
symbol 0fd7e2 LAST_B_0_F18
symbol 0fd812 LAST_B_0_F19
symbol 0fd81d LAST_B_0_F21
symbol 0fd828 LAST_B_0_F22
symbol 0fd833 LAST_B_0_F24
symbol 0fd876 LAST_B_0_F25
symbol 0fd882 LAST_B_0_F27
symbol 0fd88e LAST_B_0_F29
symbol 0fd898 LAST_B_0_F30
symbol 0fd8a4 LAST_B_0_F32
symbol 0fd8b8 LAST_B_0_F33
symbol 0fd8cc LAST_B_0_F34
symbol 0fd8e0 LAST_B_0_F35
symbol 0fd8eb LAST_B_0_F37
symbol 0fd943 LAST_B_0_F38
symbol 0fd95f LAST_B_0_F39
symbol 0fd96a LAST_B_0_F41
symbol 0fd975 LAST_B_0_F42
symbol 0fd980 LAST_B_0_F44
symbol 0fd9a6 LAST_B_0_F45
symbol 0fd9b1 LAST_B_0_F47
symbol 0fd9bc LAST_B_0_F49
symbol 0fd9c7 LAST_B_0_F51
symbol 0fd9d2 LAST_B_0_F52
symbol 0fd9e4 LAST_B_0_EBSP
symbol 0fd9e5 LAST_B_2_P
symbol 0fda09 LAST_B_2_F
symbol 0fda57 LAST_B_2_F1
symbol 0fda63 LAST_B_2_F3
symbol 0fda6f LAST_B_2_F5
symbol 0fdb1f LAST_B_2_EBSP
symbol 0fdb20 LAST_B_3_P
symbol 0fdc3e LAST_B_3_F
symbol 0fdc52 LAST_B_3_F1
symbol 0fdc8b DOOR_L_P
symbol 0fdef1 DOOR_L_F
symbol 0fdf51 DOOR_L_F1
symbol 0fdf5d DOOR_L_F3
symbol 0fdf69 DOOR_L_F5
symbol 0fdf75 DOOR_L_F7
symbol 0fdf8b DOOR_L_F8
symbol 0fdfa1 DOOR_L_F9
symbol 0fdfb7 DOOR_L_F10
symbol 0fe03b DOOR_L_EBSP
symbol 0fe03c BAZZ_1P_P
symbol 0fe054 BAZZ_1P_F
symbol 0fe06b BAZZ_1P_F1
symbol 0fe0b0 BAZZ_1Q_P
symbol 0fe0ca BAZZ_1Q_F
symbol 0fe101 BAZZ_1Q_F1
symbol 0fe10d BAZZ_1Q_F3
symbol 0fe118 BAZZ_1Q_F5
symbol 0fe135 BAZZ_1Q_F6
symbol 0fe151 BAZZ_1Q_F7
symbol 0fe177 BAZZ_1Q_EBSP
symbol 0fe178 FACE_B_P
symbol 0fe187 FACE_B_F
symbol 0fe19b FACE_B_F1
symbol 0fe1da SFACE_B_P
symbol 0fe1e9 SFACE_B_F
symbol 0fe1fd SFACE_B_F1
symbol 0fe23c FIREFACE_B_P
symbol 0fe24b FIREFACE_B_F
symbol 0fe25f FIREFACE_B_F1
symbol 0fe29e FACE_0_P
symbol 0fe886 FACE_0_F
symbol 0fe96f FACE_0_F1
symbol 0fe97a FACE_0_F3
symbol 0fea15 FACE_0_F4
symbol 0fea20 FACE_0_F6
symbol 0fea2b FACE_0_F8
symbol 0fea36 FACE_0_F10
symbol 0fea66 FACE_0_F11
symbol 0fea71 FACE_0_F13
symbol 0feab2 FACE_0_F14
symbol 0feacf FACE_0_F15
symbol 0feaec FACE_0_F16
symbol 0feaf7 FACE_0_F18
symbol 0feb02 FACE_0_F20
symbol 0feb1f FACE_0_F21
symbol 0feb2a FACE_0_F23
symbol 0feb63 FACE_0_F24
symbol 0feb80 FACE_0_EBSP
symbol 0feb81 FACE_0_1_P
symbol 0ff05b FACE_0_1_F
symbol 0ff126 FACE_0_1_F1
symbol 0ff131 FACE_0_1_F3
symbol 0ff1cc FACE_0_1_F4
symbol 0ff1d7 FACE_0_1_F6
symbol 0ff1e2 FACE_0_1_F8
symbol 0ff1ed FACE_0_1_F10
symbol 0ff214 FACE_0_1_F11
symbol 0ff282 FACE_0_1_F12
symbol 0ff296 FACE_0_1_F13
symbol 0ff329 FACE_0_1_EBSP
symbol 0ff32a BOSS_G_S_P
symbol 0ff36e BOSS_G_S_F
symbol 0ff3aa BOSS_G_S_F1
symbol 0ff3b5 BOSS_G_S_F3
symbol 0ff45e BOSS_G_S_EBSP
symbol 0ff45f UP_DOOR_P
symbol 0ff7dc UP_DOOR_F
symbol 0ff811 UP_DOOR_F1
symbol 0ff8b8 PIPE_0_P
symbol 0ff8d9 PIPE_0_F
symbol 0ff8f0 PIPE_0_F1
symbol 0ff937 PIPE_1_P
symbol 0ff949 PIPE_1_F
symbol 0ff960 PIPE_1_F1
symbol 0ff9a7 PIPE_2_P
symbol 0ff9b9 PIPE_2_F
symbol 0ff9d0 PIPE_2_F1
symbol 0ffa17 PIPE_3_P
symbol 0ffa29 PIPE_3_F
symbol 0ffa40 PIPE_3_F1
symbol 0ffa87 PIPE_4_P
symbol 0ffa96 PIPE_4_F
symbol 0ffaa4 PIPE_4_F1
symbol 0ffacf PIPE_5_P
symbol 0ffade PIPE_5_F
symbol 0ffaec PIPE_5_F1
symbol 0ffb17 PIPE_6_P
symbol 0ffb34 PIPE_6_F
symbol 0ffb5a PIPE_6_F1
symbol 0ffbcd OPS_BGM
# <<< END AUTO-INGESTED <<<
