# bank04.cfg - auto-created by ingest_starfox_enhanced_symbols.py

bank = 04

# >>> AUTO-INGESTED FROM Star Fox Enhanced SYMBOLS.TXT - do not hand-edit between markers >>>
# Source: third_party/starfox-enhanced/upstream-ultrastarfox/SYMBOLS.TXT
# Regenerate via: py tools/ingest_starfox_enhanced_symbols.py
# These are non-promoting labels; do not convert this block to `name`.
# 343 entries (0 suppressed by hand-authored declarations).
symbol 048000 PM_METER  # PM__METER
symbol 048000 PATHDHA_ISTRAT
symbol 048000 PT_OFF
symbol 04800a PATHT_ISTRAT
symbol 04801e PATH_ISTRAT
symbol 04a2eb PATHHIT_ISTRAT
symbol 04a313 TRAIL_ISTRAT
symbol 04a36c GETPARAM1
symbol 04a378 GETPARAM2
symbol 04a384 GETPARAM3
symbol 04a390 GETPARAM4
symbol 04a39c GETPARAM5
symbol 04a3a8 GETPARAM6
symbol 04a3b4 GETPARAM7
symbol 04a3c0 GETPARAM8
symbol 04a3cc GETPARAM9
symbol 04a3d8 GETPARAM10
symbol 04a3e4 GETPARAM11
symbol 04a3f0 GETPARAM12
symbol 04a3fc GETPARAM13
symbol 04a408 GETPARAM14
symbol 04a414 GETPARAM15
symbol 04a420 PATHS
symbol 04a420 PE_GATE
symbol 04a423 PE_FLOWER
symbol 04a434 PE_FLOPEN
symbol 04a453 PTRN_SCORE
symbol 04a478 PTRN_RING2
symbol 04a482 PTRN_RING
symbol 04a48c PTRN_RING_TRN_RING01  # PTRN_RING.TRN_RING01
symbol 04a503 PTRN_RING_TRN_ROT1  # PTRN_RING.TRN_ROT1
symbol 04a516 PTRN_CK
symbol 04a574 PTENKI_DM
symbol 04a578 PTENKI_ON
symbol 04a596 PBIRD_METEOR
symbol 04a5d2 PDAMY_EXP
symbol 04a5ef PDAMY_EXP2
symbol 04a5f0 PE_EGG
symbol 04a614 PE_BIG_BIRD
symbol 04a6e1 PCHIBIR_2
symbol 04a6e7 PCHIBIR_1
symbol 04a6ea PCHIBIR_1_CHIBIR_0  # PCHIBIR_1.CHIBIR_0
symbol 04a70f PPINITA_B
symbol 04a716 PPINITA_A
symbol 04a71b PPINITA_A_PINITA_0  # PPINITA_A.PINITA_0
symbol 04a724 PPINITA_A_PINITA  # PPINITA_A.PINITA
symbol 04a743 PPINITA_A_PINITA_INIT  # PPINITA_A.PINITA_INIT
symbol 04a766 PE_PILL
symbol 04a76c PITACHI_B
symbol 04a77f PITACHI_A
symbol 04a781 PITACHI_A_ITACHI_INIT  # PITACHI_A.ITACHI_INIT
symbol 04a801 PITACHI_A_ITACHI_KAIT  # PITACHI_A.ITACHI_KAIT
symbol 04a806 PE_ASTE
symbol 04a80b PE_ASTE_B
symbol 04a833 PE_BREASTE
symbol 04a838 PINSEKIKUN
symbol 04a8ad PPYONTA
symbol 04a992 PKORORI
symbol 04aa1f PCALL_FOL
symbol 04aa72 PFOLOW
symbol 04aaf6 PCHECK
symbol 04ab38 PAT_HBEAM
symbol 04ab62 PTMP_TANK
symbol 04abb4 PKAMOME
symbol 04ac99 PE_SPLA_UP
symbol 04ac9f PE_SPLA_DW
symbol 04aca1 PE_SPLA_DW_SPLA_0  # PE_SPLA_DW.SPLA_0
symbol 04acd5 PE_FLYFISH
symbol 04ad45 PE_BEE
symbol 04ade1 PTOMHAHA
symbol 04adfe PTOMSET
symbol 04ae83 PTOMSET1
symbol 04ae88 PTOMSET2
symbol 04ae8a PTOMSET2_TOMSET2_0  # PTOMSET2.TOMSET2_0
symbol 04ae8c PTOMSET3
symbol 04aecb PTOMSET3_TOMUP_1  # PTOMSET3.TOMUP_1
symbol 04aed4 PE_TOMBO
symbol 04af51 PE_TOMBO_TOM_DES  # PE_TOMBO.TOM_DES
symbol 04af81 PE_UFO
symbol 04af81 DUMMYPARENT
symbol 04afff PPONPON
symbol 04b0a6 PEGU1
symbol 04b11b PEGU3
symbol 04b1e9 PEGU4
symbol 04b211 PEGU4_E4_5  # PEGU4.E4_5
symbol 04b287 PEGU5
symbol 04b315 PEGU6
symbol 04b43b PMINICAS0
symbol 04b470 PMINICAS1
symbol 04b478 PMINICAS2
symbol 04b4d5 PMINIMINE1
symbol 04b4df PMINIMINE2
symbol 04b4e8 PMINIMINE3
symbol 04b4f1 PMINIMINE4
symbol 04b4fb PMINIMINE5
symbol 04b505 PMINIMINE6
symbol 04b50f PMINIMINE7
symbol 04b516 PMINIMINE7_MINI_AD16  # PMINIMINE7.MINI_AD16
symbol 04b523 PMINIMINE7_MINI_SU16  # PMINIMINE7.MINI_SU16
symbol 04b530 PE_HELI
symbol 04b61d PE_WALK_1
symbol 04b65c PE_TANK
symbol 04b6b6 PE_TANK_S
symbol 04b6c8 PE_KURURI
symbol 04b6f1 PE_KURURI2
symbol 04b6f8 PE_DOSUN
symbol 04b726 PITADOSUN
symbol 04b754 PE_SHIELDR
symbol 04b835 PE_RAY_0
symbol 04b960 PE_WHALE
symbol 04ba0d PREM_WHALE
symbol 04ba17 PE_SUP_1
symbol 04ba1c PE_SUP_2
symbol 04ba21 PE_SUP_3
symbol 04ba26 PE_SUP_4
symbol 04ba2b PE_RAY_1
symbol 04ba2b EGUCHI1
symbol 04baed PE_IKA
symbol 04bba3 PIKA_2
symbol 04bc0d PL_CLISLA
symbol 04bcc3 PL_CLISLA_L_CL_SUB  # PL_CLISLA.L_CL_SUB
symbol 04bcd0 PL_CLISLA_COIN_CLIS  # PL_CLISLA.COIN_CLIS
symbol 04bd49 PMINI_CLI
symbol 04bd6d PR_CLISLA
symbol 04be2c PKANIHAHA
symbol 04bec9 PKANI_WITHHOU
symbol 04bece PE_KANI_0
symbol 04c160 PE_KANI_L1
symbol 04c165 PE_KANI_L2
symbol 04c167 PE_KANI_L2_EK_L2_INIT  # PE_KANI_L2.EK_L2_INIT
symbol 04c16e PE_BACK
symbol 04c18e PKANI_SHOT
symbol 04c190 PKANI_SHOT_SHOOT_FIRE  # PKANI_SHOT.SHOOT_FIRE
symbol 04c195 PSAKA_SHOT
symbol 04c1a1 PSAKA_HOU
symbol 04c1dd PMATEMSG
symbol 04c1f2 PASTEMSG
symbol 04c210 PDRAGONMSG
symbol 04c233 PHANDMSG
symbol 04c25b PKASTMSG
symbol 04c27b PKASTMSG2
symbol 04c299 PBRAYMSG
symbol 04c2b9 PAMEBMSG
symbol 04c2bd PAMEBMSG_AMEMS_A  # PAMEBMSG.AMEMS_A
symbol 04c2d7 PAMEBMSG2
symbol 04c2e8 PTOTUMSG
symbol 04c308 PMES_ANDROSS2
symbol 04c31d PMES_ANDROSS1
symbol 04c33c PMES_MESSAGE
symbol 04c343 PE_SHAWERL
symbol 04c34c PE_SHAWERR
symbol 04c351 PE_SHAWERR_E_SHAR_0  # PE_SHAWERR.E_SHAR_0
symbol 04c368 PE_SHAWER
symbol 04c37a PE_SHAWER_E_SHA_R  # PE_SHAWER.E_SHA_R
symbol 04c3aa PE_SHAWER_E_SHA_L  # PE_SHAWER.E_SHA_L
symbol 04c3da PE_SHAWER_SHAWER_INIT  # PE_SHAWER.SHAWER_INIT
symbol 04c3f8 PPATROL
symbol 04c45b PPATRET
symbol 04c49f PPATCOM
symbol 04c4db PSCREW
symbol 04c51d PDAMYSCR
symbol 04c52a PDAMYSCR_SCR_ROT  # PDAMYSCR.SCR_ROT
symbol 04c52f PCHASE1_1
symbol 04c52f EGUCHI2
symbol 04c5e0 PCHASE1_2
symbol 04c65d PCHASE2_1
symbol 04c79b PCHASE2_2
symbol 04c86e PCHASE3_1
symbol 04ca76 PCHASE3_2
symbol 04cbd2 PCHASE4_1
symbol 04cc8b PCHASE4_1_C4_FAL_MS  # PCHASE4_1.C4_FAL_MS
symbol 04ccc0 PCHASE4_1_C4_RAB_MS  # PCHASE4_1.C4_RAB_MS
symbol 04ccf5 PCHASE4_1_C4_FRO_MS  # PCHASE4_1.C4_FRO_MS
symbol 04cd2a PCHASE4_2
symbol 04cdb7 PCHASE4_3
symbol 04cdf7 PCHASE5_1
symbol 04cea7 PCHASE5_2
symbol 04cf24 PCHASE5_3
symbol 04cf5b PCHASE6_1
symbol 04d084 PCHASE6_2
symbol 04d106 PCHASE7_1
symbol 04d246 PCHASE7_2
symbol 04d2dc PCHASE8_1
symbol 04d3a8 PCHASE8_2
symbol 04d3fc PCHASE8_3
symbol 04d433 PPATRET_IRAB
symbol 04d451 PPATRET_IFRO
symbol 04d46f PPATRET_IFAL
symbol 04d48a PPATRET_IFAL_INTER_TIM  # PPATRET_IFAL.INTER_TIM
symbol 04d498 PPATRET_IFAL_PATFAL_INIT  # PPATRET_IFAL.PATFAL_INIT
symbol 04d4b3 PPATRET_IFAL_INTER_SUB  # PPATRET_IFAL.INTER_SUB
symbol 04d4e0 PEGU6_IRAB
symbol 04d4fe PEGU6_IFRO
symbol 04d51c PEGU6_IFAL
symbol 04d537 PEGU6_IFAL_E6I_TIM  # PEGU6_IFAL.E6I_TIM
symbol 04d546 PEGU6_IFAL_E6I_INIT  # PEGU6_IFAL.E6I_INIT
symbol 04d55c PEGU6_IFAL_E6I_SUB  # PEGU6_IFAL.E6I_SUB
symbol 04d674 PEGU1_IRAB
symbol 04d692 PEGU1_IFRO
symbol 04d6b0 PEGU1_IFAL
symbol 04d6cb PEGU1_IFAL_E1I_TIM  # PEGU1_IFAL.E1I_TIM
symbol 04d6da PEGU1_IFAL_E1I_INIT  # PEGU1_IFAL.E1I_INIT
symbol 04d6f4 PEGU1_IFAL_E1I_SUB  # PEGU1_IFAL.E1I_SUB
symbol 04d74f PSEPTER_RAB
symbol 04d754 PSEPTER_FRO
symbol 04d759 PSEPTER_FAL
symbol 04d75b PSEPTER_FAL_SEPT_CK  # PSEPTER_FAL.SEPT_CK
symbol 04d819 PFALCON3_1
symbol 04d83f PFROG1_1
symbol 04d8a2 CHASE_INIT
symbol 04d8bc FRIEND_INIT
symbol 04d8db FRIEND_INIB
symbol 04d8f2 FACEFIRE
symbol 04d8fd RECOVER
symbol 04d908 CLPBY2
symbol 04d90b YAMETE
symbol 04d930 SAVE
symbol 04d96b PE_RABBIT
symbol 04d970 PE_FROG
symbol 04d975 PE_FALCON
symbol 04d977 PE_FALCON_FIT_START_0  # PE_FALCON.FIT_START_0
symbol 04d97e PE_FALCON_FIT_START  # PE_FALCON.FIT_START
symbol 04da18 PE_FALCON_GFAL_FF  # PE_FALCON.GFAL_FF
symbol 04da31 PFALCO_LV1
symbol 04da42 PFROG_LV1
symbol 04da52 PFROG_LV1_GFRO_FF  # PFROG_LV1.GFRO_FF
symbol 04da69 PHENTAI_FRO
symbol 04da6e PHENTAI_RAB
symbol 04da73 PHENTAI_DAMY
symbol 04daae PHENTAI_FAL
symbol 04dab6 PHENTAI_FAL_HENTAI_INIT  # PHENTAI_FAL.HENTAI_INIT
symbol 04dae7 PHENTAI_FAL_MOVE_LEFT  # PHENTAI_FAL.MOVE_LEFT
symbol 04dc93 PTES
symbol 04dc95 DISPLAY_PWORD1
symbol 04dd2e PEDIGIT
symbol 04dd31 DPATHS
symbol 04dd31 PPAPER_1B
symbol 04ddcb PPAPER_3
symbol 04de3c PPAPERFLY
symbol 04de67 PPAPER_1
symbol 04deda PLEAF_FLOAT
symbol 04df0a PTOW_0
symbol 04df41 PTOW_1
symbol 04df77 PDSMOKE2
symbol 04df79 PDSMOKE3
symbol 04df7b PDSMOKE
symbol 04dfb2 PSLOTMACHINE
symbol 04e34f RESETHOLDS
symbol 04e35f SHOWHATCH
symbol 04e378 SHOWREELS
symbol 04e390 PSLOTHOLD1
symbol 04e3ba HOLDCHECK
symbol 04e3fa PSLOTHOLD2
symbol 04e424 PSLOTHOLD3
symbol 04e450 PSLOTREEL1
symbol 04e47b PSLOTREEL2
symbol 04e4a6 PSLOTREEL3
symbol 04e4d1 REELSPINNING
symbol 04e573 PSLOTARMWAIT
symbol 04e57b PSLOTARM
symbol 04e5fd SPEWCOINS
symbol 04e61c PCOIN
symbol 04e681 PSPIRALEXPLODE
symbol 04e6b1 PCOINEXPLODE
symbol 04e6b9 PCOINEXPLODE_COIN  # PCOINEXPLODE.COIN
symbol 04e6cd PMY_BIRD
symbol 04e76f PRING
symbol 04e773 PROBOTWITHLOG
symbol 04e797 PDUMMY
symbol 04e79b PROBOTSWITHLOG
symbol 04e7b7 PROBOTSWITHLOG_IN  # PROBOTSWITHLOG.IN
symbol 04e7e5 PROBOTWITHLOG2
symbol 04e7fc PCARRIEDLOG
symbol 04e881 PROBOT
symbol 04e89d PROBOT_ROBFORCE  # PROBOT.ROBFORCE
symbol 04e8db PROBOT_ROBDEAD  # PROBOT.ROBDEAD
symbol 04e8e3 PROBOT_ROBANIM  # PROBOT.ROBANIM
symbol 04e8e7 PROBEXPLODE
symbol 04e90e PDSTARFOX2
symbol 04e91d PDINTRO1
symbol 04e98f PDINTRO2
symbol 04e9be PBREAK1
symbol 04e9c2 PBREAK2
symbol 04e9ce PBREAK2_CREATETADPOLE  # PBREAK2.CREATETADPOLE
symbol 04e9d9 PMETEOR_TADPOLE
symbol 04e9dd PEXPLODEPARTICLES
symbol 04e9e0 PPARTICLES
symbol 04e9e2 PEXPLODE
symbol 04e9e3 PREMOVE
symbol 04e9e4 PRETURN
symbol 04e9e5 PDTEST5
symbol 04e9ff PDSIDESLIP
symbol 04ea1d PDSTARFOX
symbol 04ea41 PDNINTENDO
symbol 04ea65 PDPRESENTED
symbol 04ea8d TEXT_SWOOPIN
symbol 04eaac PMINICASTANET
symbol 04eaff MINICAST2
symbol 04eaff PMINICASTANETLR
symbol 04eb52 PBOOSTON
symbol 04eb62 PBOOSTCODE
symbol 04eb6e PBOOSTOFF
symbol 04eb6f PPOLLEN
symbol 04eb7b PGAMEOVER
symbol 04eb7b KPATHS
symbol 04eb9b PTHEENDT
symbol 04ebb1 PTHEENDH
symbol 04ebcc PTHEENDE
symbol 04ebe7 PTHEENDE2
symbol 04ec02 PTHEENDN
symbol 04ec1d PTHEENDD
symbol 04ec36 ENDIN
symbol 04ec43 PFADEINTOTAL
symbol 04ec57 PTOTAL
symbol 04ec72 PTOTALN
symbol 04ec8d PAVE
symbol 04eca8 PAVEN
symbol 04ecc3 PSTAGE1
symbol 04ecf5 PSTAGE2
symbol 04ed27 PSTAGE3
symbol 04ed59 PSTAGE4
symbol 04ed8b PSTAGE5
symbol 04edbd PSTAGE6
symbol 04edef PSTAGE7
symbol 04ee21 KWAITCHK
symbol 04ee2b D2COPYPOS_YX
symbol 04ee30 D2COPYROTS_YX
symbol 04ee35 BOSSG_ISTRAT
symbol 04f326 BOSSGEXPLODE_ISTRAT
symbol 04f55e BOSSGS_ISTRAT
symbol 04f5d3 MOTHER1_ISTRAT
symbol 04f62d MOTHER2_ISTRAT
symbol 04f687 PARA_ISTRAT
symbol 04f6aa PARA_STRAT
symbol 04f705 PARA2_ISTRAT
symbol 04f733 PARA2_STRAT
symbol 04f844 PARAJUMP_I
symbol 04f851 PARAJUMP_STRAT
symbol 04f890 MASSIVEBASE_ISTRAT
symbol 04f919 KDOOR2_ISTRAT
symbol 04f91f KDOOR_ISTRAT
symbol 04f9e0 KICHI2_ISTRAT
symbol 04f9e4 SNAKE_ISTRAT
# <<< END AUTO-INGESTED <<<
