# bank08.cfg - auto-created by ingest_starfox_enhanced_symbols.py

bank = 08

# >>> AUTO-INGESTED FROM Star Fox Enhanced SYMBOLS.TXT - do not hand-edit between markers >>>
# Source: third_party/starfox-enhanced/upstream-ultrastarfox/SYMBOLS.TXT
# Regenerate via: py tools/ingest_starfox_enhanced_symbols.py
# These are non-promoting labels; do not convert this block to `name`.
# 368 entries (0 suppressed by hand-authored declarations).
symbol 088000 DOBOSSROT_SROU
symbol 088097 DOBOSSROTX4_SROU
symbol 088131 ADDYROT2Z_SROU
symbol 088162 BOSS1EXP_ISTRAT
symbol 08816a BOSS1_ISTRAT
symbol 088204 BOSS1MAKECHILD
symbol 08840f BOSS1UP_STRAT
symbol 08842e BOSS1NORMAL_INIT
symbol 088445 BOSS1NORMAL_STRAT
symbol 08844d BOSS1IN_INIT
symbol 088460 BOSS1IN_STRAT
symbol 088488 BOSS1OUT_INIT
symbol 088495 BOSS1OUT_STRAT
symbol 0884d1 BOSS1INCLOSE_INIT
symbol 0884e8 BOSS1INCLOSE_STRAT
symbol 088514 BOSS1BACK_INIT
symbol 088521 BOSS1BACK_STRAT
symbol 08868b BOSS1_END
symbol 088789 BOSS1_END_NOFIRE  # BOSS1_END.NOFIRE
symbol 0887af BOSS1_FIN
symbol 0887bf BOSS1ROTS_SROU
symbol 088916 BOSS1TURRETL_ISTRAT
symbol 088941 BOSS1TURRETR_ISTRAT
symbol 088968 BOSS1TURRET_INIT
symbol 088999 BOSS1TURRETL_STRAT
symbol 0889aa BOSS1TURRETR_STRAT
symbol 0889b7 BOSS1TURRETFIRE_END
symbol 088a93 BOSS1TURRET_NFIRE
symbol 088aa0 BOSS1TURRET_END
symbol 088ab5 BOSS1TURCOL_ISTRAT
symbol 088ac3 BOSS1COV_ISTRAT
symbol 088b09 BOSS1COV_STRAT
symbol 088b82 BOSS1COVDIE_STRAT
symbol 088bba BOSS2_ISTRAT
symbol 088e38 BOSS2_STRAT
symbol 08938d BOSS2EXP_ISTRAT
symbol 0893a4 BOSS2TOP_ISTRAT
symbol 0893ea BOSS2TOP_STRAT
symbol 0894cc BOSS2TOPCOL_ISTRAT
symbol 0894ec BOSS2TOPEXP_ISTRAT
symbol 0894fc BOSS2TURRET_ISTRAT
symbol 089542 BOSS2TURRET_STRAT
symbol 0895ac BOSS2TURRETEXP_ISTRAT
symbol 089627 BOSS2PETAL_ISTRAT
symbol 089671 BOSS2PETAL_STRAT
symbol 089765 BOSS2PETALEXP_ISTRAT
symbol 08977b BOSS2PETALEXP_STRAT
symbol 08978f BOSS2PETAL_TAB
symbol 089795 BOSS2PLASMA_ISTRAT
symbol 0897e0 BOSS2PLASMA_STRAT
symbol 0898d6 BOSS2SPARK_ISTRAT
symbol 0898ed BOSS2SPARK_STRAT
symbol 089992 BOSS2ROTS_SROU
symbol 0899f2 DOBOSS2ROT_SROU
symbol 089a9e BOSS2SPARK_SROU
symbol 089b0d NUCLEUSLAUNCHER_ISTRAT
symbol 089b32 NUCLEUSLAUNCHER_INIT
symbol 089b4a NUCLEUSLAUNCHER_STRAT
symbol 089bdd NUCLEUSLAUNCHERFIRE_INIT
symbol 089bf2 NUCLEUSLAUNCHERFIRE_STRAT
symbol 089c64 NUCLAUNCH_CONT
symbol 089c7f NUCLEUSLAUNCHERCLOSE_INIT
symbol 089c8c NUCLEUSLAUNCHERCLOSE_STRAT
symbol 089cb9 NUCLEUSPILLAR_ISTRAT
symbol 089ced NUCLEUSPILLAR_STRAT
symbol 089cff NUCLEUSWALLROT_SROU_L
symbol 089d2e NUCLEUSWALLROT2_SROU_L
symbol 089d5d WALKRIGHT_ISTRAT
symbol 089d6e WALKRIGHT_STRAT
symbol 089e02 SPACETEST_ISTRAT
symbol 089e17 SHIP2_ISTRAT
symbol 089e63 SHIP2_STRAT
symbol 089ed6 SHIP2FIRE_CONT
symbol 089ed6 SHIP2_CONT
symbol 089edf SHIP2OUTSIDE_INIT
symbol 089ef4 SHIP2OUTSIDE_STRAT
symbol 089f3c SHIP2INTO_INIT
symbol 089f51 SHIP2INTO_STRAT
symbol 08a02d SHIP3_ISTRAT
symbol 08a06f SHIP3_STRAT
symbol 08a15a SHIP3A_STRAT
symbol 08a1a2 SHIP3_CONT
symbol 08a211 SHIP3B_STRAT
symbol 08a227 SHIP3C_INIT
symbol 08a247 SHIP3C_STRAT
symbol 08a250 CORE0_ISTRAT
symbol 08a277 CORE0_STRAT
symbol 08a291 CORE1_ISTRAT
symbol 08a2d8 CORE1_STRAT
symbol 08a302 CORE1EXP_ISTRAT
symbol 08a34b CORE1EXP_STRAT
symbol 08a372 CORE1COL_ISTRAT
symbol 08a37e SHIP1A_ISTRAT
symbol 08a3cb SHIP1A_STRAT
symbol 08a4c3 SHIP1A_CONT
symbol 08a4cc SHIP1AEXP_ISTRAT
symbol 08a4d6 SHIP1COL_ISTRAT
symbol 08a50d SHIP1_ISTRAT
symbol 08a544 SHIP1_STRAT
symbol 08a5e2 FRIEND1_ISTRAT
symbol 08a60e FRIEND1_STRAT
symbol 08a6d3 FRIEND2_ISTRAT
symbol 08a6ff FRIEND2_STRAT
symbol 08a8f0 FZACO_ISTRAT
symbol 08a93a FZACO_STRAT
symbol 08a94e FZACO2_INIT
symbol 08a95f FZACO2_STRAT
symbol 08aa3b FZACO3_INIT
symbol 08aa4e FZACO3_STRAT
symbol 08aa83 FZACO_CONT
symbol 08ab14 FZACO_CONT2
symbol 08ab2f FRIEND0_ISTRAT
symbol 08ab79 FRIEND0_STRAT
symbol 08ab8d FRIEND02_INIT
symbol 08ab9a FRIEND02_STRAT
symbol 08ac6c FRIEND0_CONT
symbol 08ac83 ZACOS_ISTRAT
symbol 08acc6 ZACOS_STRAT
symbol 08acfc ZACOS_CONT
symbol 08ad17 ZACOS2_INIT
symbol 08ad51 ZACOS2_STRAT
symbol 08ad70 ZACOS3_INIT
symbol 08ad84 ZACOS3_STRAT
symbol 08ade8 ZACOS4_INIT
symbol 08adf5 ZACOS4_STRAT
symbol 08ae07 DOOR1_ISTRAT
symbol 08ae1a DOOR1OPENWAIT_INIT
symbol 08ae2e DOOR1OPENWAIT_STRAT
symbol 08aeb6 DOOR1CLOSEWAIT_INIT
symbol 08aeca DOOR1CLOSEWAIT_STRAT
symbol 08af4f ZACO2_ISTRAT
symbol 08af93 ZACO2_INIT
symbol 08afa4 ZACO2_STRAT
symbol 08b047 ZACO2_CONT
symbol 08b08c ZACO2LOOP_INIT
symbol 08b0f3 ZACO2LOOP_STRAT
symbol 08b148 ZACO2DASH_INIT
symbol 08b159 ZACO2DASH_STRAT
symbol 08b16e TOWER0_ISTRAT
symbol 08b184 TOWER0_STRAT
symbol 08b18c RADER1_ISTRAT
symbol 08b196 RADER0_ISTRAT
symbol 08b1bb RADER0_STRAT
symbol 08b1c3 ZACO1L_ISTRAT
symbol 08b1d3 ZACO1R_ISTRAT
symbol 08b1e0 ZACO1_ICONT
symbol 08b24f ZACO1_STRAT
symbol 08b31f ZACO1_CONT
symbol 08b36a ZACO1A_INIT
symbol 08b37d ZACO1A_STRAT
symbol 08b399 ZACO1B_INIT
symbol 08b3a6 ZACO1B_STRAT
symbol 08b531 HOUDAINS_ISTRAT
symbol 08b567 HOUDAI_ISTRAT
symbol 08b59c HOUDAI_STRAT
symbol 08b67a MISSTANKEXP_ISTRAT
symbol 08b697 MISSTANK_ISTRAT
symbol 08b720 MISSTANK_STRAT
symbol 08b7b8 MISSGO_ISTRAT
symbol 08b7b9 WOODS_ISTRAT
symbol 08b7ee WOODS_STRAT
symbol 08b80b WOODSGO_INIT
symbol 08b838 WOODSGO_STRAT
symbol 08b92d WOODSEXP_ISTRAT
symbol 08b937 CAMELEON2_ISTRAT
symbol 08b959 CAMELEON2_STRAT
symbol 08b9a0 CAMELEON2_CONT
symbol 08b9a5 CAM2HIDE_INIT
symbol 08b9c3 CAM2HIDE_STRAT
symbol 08b9d8 CAM2NEXTPOS
symbol 08ba0d CAM2DASH_INIT
symbol 08ba1a CAM2DASH_STRAT
symbol 08bae2 CAM2POSX_TAB
symbol 08baee CAM2POSY_TAB
symbol 08bafa EVADER_ISTRAT
symbol 08bb1c EVADERA_STRAT
symbol 08bc56 EVADER_INIT
symbol 08bc63 EVADER_STRAT
symbol 08bd3c EVADER_CONT
symbol 08bd68 EVADERNEWPOS
symbol 08bdc8 NFINDEVAD
symbol 08bdc9 EVADERX_POS
symbol 08bdd1 EVADERY_POS
symbol 08bdd9 EVADERZ_POS
symbol 08bde1 PATROL_ISTRAT
symbol 08be09 PATROL_STRAT
symbol 08be24 TRUCK_ISTRAT
symbol 08be78 TRUCK_STRAT
symbol 08be81 TRUCK_CONT
symbol 08be97 TRUCK_NORM
symbol 08bf1d TRUCKCOL_ISTRAT
symbol 08bf68 TRACKCORNER_ISTRAT
symbol 08bf82 JUMP1_ISTRAT
symbol 08bfac JUMP0_ISTRAT
symbol 08bfe2 JUMP0_STRAT
symbol 08bfff JUMP0A_INIT
symbol 08c015 JUMP0A_STRAT
symbol 08c0e1 SHARK_ISTRAT
symbol 08c11c SHARK_STRAT
symbol 08c168 SHARK_CONT2
symbol 08c1fb SHARK_CONT
symbol 08c216 SHARKA_INIT
symbol 08c236 SHARKA_STRAT
symbol 08c2a5 KAMI_ISTRAT
symbol 08c2e5 KAMI_STRAT
symbol 08c349 KAMI_CONT
symbol 08c352 KAMIDIE_ISTRAT
symbol 08c367 KAMIDIE_STRAT
symbol 08c3bf KAMIGO_INIT
symbol 08c3d0 KAMIGO_STRAT
symbol 08c49c CRABB_ISTRAT
symbol 08c4ca CRABL_ISTRAT
symbol 08c4f8 CRABT_ISTRAT
symbol 08c526 CRABR_ISTRAT
symbol 08c551 CRAB_INIT
symbol 08c562 CRAB_CONT
symbol 08c66f CRABB_INIT
symbol 08c680 CRABB_STRAT
symbol 08c6b6 CRABL_INIT
symbol 08c6c7 CRABL_STRAT
symbol 08c6ed CRABT_INIT
symbol 08c6fe CRABT_STRAT
symbol 08c736 CRABR_INIT
symbol 08c747 CRABR_STRAT
symbol 08c76f TORPEDO_ISTRAT
symbol 08c7a1 TORPEDO_STRAT
symbol 08c7fe TORPEDO_CONT
symbol 08c819 TORPEDOA_INIT
symbol 08c841 TORPEDOA_STRAT
symbol 08c850 SEAMON_ISTRAT
symbol 08c89d SEAMON_STRAT
symbol 08cac9 WORMHEAD_ISTRAT
symbol 08cb0a WORM_ISTRAT
symbol 08cb31 WORM_INIT
symbol 08cb4d WORM_STRAT
symbol 08cc11 WORMEXP_ISTRAT
symbol 08cc24 WORMHEADEXP_ISTRAT
symbol 08cc30 WORMSPLIT_INIT
symbol 08cc7b WORMSPLIT_STRAT
symbol 08cc8e WORMGO_INIT
symbol 08cca8 WORMGO_STRAT
symbol 08ccd3 WORM2_ISTRAT
symbol 08cd11 WORM2_STRAT
symbol 08cfe0 SOKUTEN_ISTRAT
symbol 08d001 SOKUTEN_STRAT
symbol 08d06d FLYPILLARS_ISTRAT
symbol 08d09d FLYPILLAR_ISTRAT
symbol 08d11d FLYPILLAR_STRAT
symbol 08d178 FLYPILLAR_END
symbol 08d19c LWALKER1_ISTRAT
symbol 08d1a4 RWALKER1_ISTRAT
symbol 08d1a8 WALKER1_ISTRAT
symbol 08d1e5 WALKER1_STRAT
symbol 08d23f MINE1_ISTRAT
symbol 08d240 MINUMUSI_ISTRAT
symbol 08d241 WIREMAN_ISTRAT
symbol 08d24f WIREMAN_INIT
symbol 08d27a WIREMAN_STRAT
symbol 08d2ff WIREMAN_CONT
symbol 08d30e WIREMAN_CONT2
symbol 08d329 WIREMAN2_INIT
symbol 08d36c WIREMAN2YL_STRAT
symbol 08d387 WIREMAN2YR_STRAT
symbol 08d3a2 WIREMAN2X_STRAT
symbol 08d3b6 WIREMANUP_INIT
symbol 08d3d4 WIREMANUP_STRAT
symbol 08d3e1 WIREMANDIE_ISTRAT
symbol 08d40c BOMWING_ISTRAT
symbol 08d41c BOMWING_INIT
symbol 08d447 BOMWING_STRAT
symbol 08d46b BOMWING_CONT
symbol 08d478 BOMWING2_INIT
symbol 08d489 BOMWING2_STRAT
symbol 08d515 BOMWINGDIE_ISTRAT
symbol 08d54e ITEM5_ISTRAT
symbol 08d565 ITEM5_STRAT
symbol 08d5e8 ITEM6_ISTRAT
symbol 08d5ff ITEM6_STRAT
symbol 08d67b WL_ISTRAT
symbol 08d6ab WL_STRAT
symbol 08d6ac WLDIE_ISTRAT
symbol 08d6d7 ITEM3_ISTRAT
symbol 08d6ee ITEM3_STRAT
symbol 08d77d ITEM0_ISTRAT
symbol 08d798 ITEM0_STRAT
symbol 08d852 UP1MAN_ISTRAT
symbol 08d915 UP1MAN_STRAT
symbol 08d996 UP1MANHIT_ISTRAT
symbol 08d9cf UP1MANCHILD1_ISTRAT
symbol 08da0e UP1MANCHILD2_ISTRAT
symbol 08da4d UP1MANCHILD3_ISTRAT
symbol 08da8c UP1MANCHILD_STRAT
symbol 08db31 WINGLAZERMAN_ISTRAT
symbol 08db6e WINGLAZERMAN_STRAT
symbol 08dbf6 WINGLAZERMAN_CONT
symbol 08dc11 WINGLAZERMANGO_INIT
symbol 08dc22 WINGLAZERMANGO_STRAT
symbol 08dc55 WINGLAZERMAN2_INIT
symbol 08dc70 WINGLAZERMAN2_STRAT
symbol 08dc90 WINGLAZERMAN3_INIT
symbol 08dca5 WINGLAZERMAN3_STRAT
symbol 08dda0 WINGLAZERMANDIE_ISTRAT
symbol 08dde4 ITEM7_ISTRAT
symbol 08ddfb ITEM7_STRAT
symbol 08ded2 ITEM7A_ISTRAT
symbol 08dee9 ITEM7A_STRAT
symbol 08df94 RIPMAN_ISTRAT
symbol 08dfcf RIPMAN_STRAT
symbol 08e00a RIPMANEXP_ISTRAT
symbol 08e037 ITEM4_ISTRAT
symbol 08e04f ITEM4_STRAT
symbol 08e0cf RIPAIR_ISTRAT
symbol 08e147 RIPAIR_STRAT
symbol 08e263 FLASHPLAYER_ISTRAT
symbol 08e285 FLASHPLAYER_STRAT
symbol 08e2e4 ITEMTORANGE_SROU
symbol 08e318 TUNNEL_ISTRAT
symbol 08e332 BEE1_ISTRAT
symbol 08e371 BEE1_STRAT
symbol 08e52e BEE1A_INIT
symbol 08e541 BEE1A_STRAT
symbol 08e5ca BEE1B_INIT
symbol 08e5d7 BEE1B_STRAT
symbol 08e60a MISSPOD_ISTRAT
symbol 08e649 MISSPOD_STRAT
symbol 08e662 ENDMISSPOD
symbol 08e66e MISSPODA_INIT
symbol 08e681 MISSPODA_STRAT
symbol 08e6af MISSPODV
symbol 08e762 MISSPODH
symbol 08e815 MISSPODX
symbol 08e8b6 FASTFIGHTER1_ISTRAT
symbol 08e8cf FASTFIGHTER1_STRAT
symbol 08e9ad FASTFIGHTER3_ISTRAT
symbol 08e9c6 FASTFIGHTER3_STRAT
symbol 08ea36 FASTFIGHTER2_ISTRAT
symbol 08ea4b FASTFIGHTER2_STRAT
symbol 08ea9e FASTFIGHTER_INIT
symbol 08ead4 FIGHTER_ISTRAT
symbol 08eb14 FIGHTER_STRAT
symbol 08eb55 DOFIGHTER
symbol 08ebba WINDMILL_ISTRAT
symbol 08ebf3 WINDMILL_STRAT
symbol 08ed04 WINDEXP_ISTRAT
symbol 08effe WINDSPIN_ISTRAT
symbol 08f058 WINDSPIN_STRAT
symbol 08f077 DOMA_ISTRAT
symbol 08f077 DOMB_ISTRAT
symbol 08f0b5 DOMA_STRAT
symbol 08f148 EXITCOLL_ISTRAT
symbol 08f14d EXIT_ISTRAT
symbol 08f165 GND_ISTRAT
symbol 08f183 EXITLIGHT1_ISTRAT
symbol 08f18b EXITLIGHT2_ISTRAT
symbol 08f193 EXITLIGHT3_ISTRAT
symbol 08f19b EXITLIGHT4_ISTRAT
symbol 08f1a3 EXITLIGHT5_ISTRAT
symbol 08f1ab EXITLIGHT6_ISTRAT
symbol 08f1af EXITLIGHT_INIT
symbol 08f1b5 EXITLIGHTA_INIT
symbol 08f1c2 EXITLIGHTA_STRAT
symbol 08f1d4 EXITLIGHTB_INIT
symbol 08f1ec EXITLIGHTB_STRAT
symbol 08f1ff EXITOPENSND2_ISTRAT
symbol 08f208 EXITOPENSND_ISTRAT
symbol 08f20e EXITOPEN_ISTRAT
symbol 08f235 EXITOPEN_STRAT
symbol 08f2ba FORTUNA
# <<< END AUTO-INGESTED <<<
