# bank0a.cfg - auto-created by ingest_starfox_enhanced_symbols.py

bank = 0a

# >>> AUTO-INGESTED FROM Star Fox Enhanced SYMBOLS.TXT - do not hand-edit between markers >>>
# Source: third_party/starfox-enhanced/upstream-ultrastarfox/SYMBOLS.TXT
# Regenerate via: py tools/ingest_starfox_enhanced_symbols.py
# These are non-promoting labels; do not convert this block to `name`.
# 272 entries (0 suppressed by hand-authored declarations).
symbol 0a8000 ZACO4_ISTRAT
symbol 0a8030 Z34EXIT
symbol 0a8031 ZACO3_ISTRAT
symbol 0a805d ZACO34_ISTRAT
symbol 0a80a7 ZACO3_STRAT
symbol 0a81dd ZACO3CIRCLE_STRAT
symbol 0a8300 ZACO3DIE_ISTRAT
symbol 0a8315 ZACO3DIE_STRAT
symbol 0a8371 ZACO3GO_INIT
symbol 0a8393 ZACO3GO_STRAT
symbol 0a847c ZACO3CONT
symbol 0a8485 ZACO0_ISTRAT
symbol 0a84b6 ZACO0_STRAT
symbol 0a8500 ZACO0B_ISTRAT
symbol 0a850d ZACO0B_STRAT
symbol 0a8526 ZACO0C_ISTRAT
symbol 0a85c0 ZACO0C2_ISTRAT
symbol 0a85cd ZACO0C_STRAT
symbol 0a85e6 ZACO0D_ISTRAT
symbol 0a85f3 ZACO0D_STRAT
symbol 0a862d CARRIER_ISTRAT
symbol 0a864c CARRIER_STRAT
symbol 0a868f CARRIERB_ISTRAT
symbol 0a86a4 CARRIERB_STRAT
symbol 0a875b CARRIERC_ISTRAT
symbol 0a8768 CARRIERC_STRAT
symbol 0a878c HARD90YR_ISTRAT
symbol 0a87a6 HARD90YRFOG_ISTRAT
symbol 0a87c0 HARD180YRFOG_ISTRAT
symbol 0a87e2 FOG_STRAT
symbol 0a8817 BASE0_ISTRAT
symbol 0a8857 BASE0_STRAT
symbol 0a8881 BASE0B_STRAT
symbol 0a88a8 BASE1_ISTRAT
symbol 0a88cd BASE1_STRAT
symbol 0a896e TANK1A_ISTRAT
symbol 0a89ab TANK1A2_ISTRAT
symbol 0a89ca TANK1A_STRAT
symbol 0a8a80 TANK0_ISTRAT
symbol 0a8ad0 TANK1_ISTRAT
symbol 0a8aef TANK1_STRAT
symbol 0a8b2e TANK1_STRAT_FORWARD  # TANK1_STRAT.FORWARD
symbol 0a8c34 TANK1LR
symbol 0a8c66 TANK1FIRE
symbol 0a8cf8 TANK3_ISTRAT
symbol 0a8f31 HOUDAI5F_ISTRAT
symbol 0a8f6f HOUDAI5F_STRAT
symbol 0a9025 HOUDAI5_ISTRAT
symbol 0a905b HOUDAI5_STRAT
symbol 0a90e5 PILLAR3F_ISTRAT
symbol 0a9106 PILLAR3F_STRAT
symbol 0a916b PILLAR3FFALL_I
symbol 0a91e3 PILLAR3FFALL_STRAT
symbol 0a91f9 PILLAR3FSTAY_ISTRAT
symbol 0a920d BHOLEEXIT1_ISTRAT
symbol 0a9212 BHOLEEXIT2_ISTRAT
symbol 0a9217 BHOLEEXIT3_ISTRAT
symbol 0a9219 BHOLECOLL_ISTRAT
symbol 0a9235 BHOLECOLL_STRAT
symbol 0a928f BLACKHOLEEXIT_ISTRAT
symbol 0a938a THEEND_T_ISTRAT
symbol 0a93db THEEND_T_STRAT
symbol 0a948f THEEND_H_ISTRAT
symbol 0a94e0 THEEND_H_STRAT
symbol 0a9517 THEEND_E_ISTRAT
symbol 0a9568 THEEND_E_STRAT
symbol 0a959f THEEND_E2_ISTRAT
symbol 0a95f0 THEEND_E2_STRAT
symbol 0a9627 THEEND_N_ISTRAT
symbol 0a9678 THEEND_N_STRAT
symbol 0a96af THEEND_D_ISTRAT
symbol 0a9700 THEEND_D_STRAT
symbol 0a9737 THEEND_ZOOM_ISTRAT
symbol 0a976a THEEND_ZOOM_STRAT
symbol 0a978e THEEND_ZOOM2_ISTRAT
symbol 0a97c1 THEEND_ZOOM2_STRAT
symbol 0a97e5 THEEND_CHECK_ISTRAT
symbol 0a981d THEENDDEAD
symbol 0a982d THEEND_FIN_ISTRAT
symbol 0a9851 THEEND_FIN_STRAT
symbol 0a986c THEEND_FIN2_ISTRAT
symbol 0a9890 THEEND_FIN2_STRAT
symbol 0a98b5 THEENDOK
symbol 0a98ce THEEND_FLYAWAY_ISTRAT
symbol 0a98f8 THEEND_FLYAWAY_STRAT
symbol 0a991e THEEND_FLIP_ISTRAT
symbol 0a9add THEEND_FLIP_STRAT
symbol 0a9b6a STARBULL_ISTRAT
symbol 0a9bd2 STARBULL_STRAT
symbol 0a9d0e STARBULLC
symbol 0a9e08 STARBULL2
symbol 0a9e29 STBFP_STRAT
symbol 0a9f06 STBGO_INIT
symbol 0a9f13 STBGO_STRAT
symbol 0a9f5f AMOEBA_ISTRAT
symbol 0a9fa2 AMOEBA_CONT
symbol 0a9fa2 AMOEBA_STRAT
symbol 0a9fb3 AMOEBACOL_ISTRAT
symbol 0a9fe6 AMOEBAHOME_INIT
symbol 0a9ff3 AMOEBAHOME_STRAT
symbol 0aa01b AMOEBASTICK_ISTRAT
symbol 0aa063 AMOEBASTICK_STRAT
symbol 0aa173 AMOEBAGO_INIT
symbol 0aa18f SZACO2_ISTRAT
symbol 0aa1eb SZACO2_STRAT
symbol 0aa42c SZACO2_CONT
symbol 0aa447 SZACO0A
symbol 0aa46f SZACO0B
symbol 0aa497 SZACO0C
symbol 0aa4bf SZACO0D
symbol 0aa4e7 SZACO0_ISTRAT
symbol 0aa53d SZACO0_STRAT
symbol 0aaf20 CRUISER2FIRE_ISTRAT
symbol 0ab014 CRUISER2_ISTRAT
symbol 0ab021 CRUISER2_ICONT
symbol 0ab047 CRUISER2FIRE_STRAT
symbol 0ab0be CRUISER2_STRAT
symbol 0ab0d9 CRUISER2LAUNCHER_ISTRAT
symbol 0ab0f2 CRUISER2LAUNCHER_STRAT
symbol 0ab2fc SHIPS_ISTRAT
symbol 0ab313 SHIPS_STRAT
symbol 0ab344 SZACO5_ISTRAT
symbol 0ab386 SZACO5_STRAT
symbol 0ab502 SDOOR1_ISTRAT
symbol 0ab522 SDOOR1_STRAT
symbol 0ab5f5 SDOOR2_ISTRAT
symbol 0ab61d SDOOR2_STRAT
symbol 0ab694 LENG0_ISTRAT
symbol 0ab6ba LENG0_STRAT
symbol 0ab719 CRUISER1_ISTRAT
symbol 0ab71f CRUISER1F_ISTRAT
symbol 0ab762 CRUISER1_STRAT
symbol 0ab820 CRUISER1_CONT
symbol 0ab83b CRUISER1FALL_ISTRAT
symbol 0ab85e CRUISER1FALL_STRAT
symbol 0ab885 CRANE0_ISTRAT
symbol 0ab916 CRANE0_STRAT
symbol 0aba15 CRANE0COL_ISTRAT
symbol 0aba73 TZACO7FALL_ISTRAT
symbol 0aba97 TZACO7GO_ISTRAT
symbol 0ababc TZACO7GO_STRAT
symbol 0abb17 TWALL0_ISTRAT
symbol 0abb3c TWALL0_STRAT
symbol 0abb89 TZACO7CAT_ISTRAT
symbol 0abbaf TZACO7CAT_STRAT
symbol 0abbf2 WARKER3_ISTRAT
symbol 0abc1c WARKER3_STRAT
symbol 0abe26 ZACO7_ISTRAT
symbol 0abe3f ZACO7_STRAT
symbol 0abf29 BAZOOKA1L_ISTRAT
symbol 0abf2f BAZOOKA1R_ISTRAT
symbol 0abf45 BAZOOKAL_ISTRAT
symbol 0abf4b BAZOOKAR_ISTRAT
symbol 0abf5e BAZOOKA_ICONT
symbol 0abfb5 BAZOOKA_STRAT
symbol 0ac1b9 BAZEXP_ISTRAT
symbol 0ac1f1 BAZFALL_ISTRAT
symbol 0ac208 BAZFALL_STRAT
symbol 0ac243 UPERM_ISTRAT
symbol 0ac299 UPERM_STRAT
symbol 0ac351 WARP_ISTRAT
symbol 0ac394 WARP_STRAT
symbol 0ac667 WARPSHAPETAB
symbol 0ac66f WARPPOSTAB
symbol 0ac68f TANK2_ISTRAT
symbol 0ac806 TANK2_STRAT
symbol 0ac98f TANK2ZACO_ISTRAT
symbol 0ac9b9 TANK2ZACO_STRAT
symbol 0acc05 SHIP3A_ISTRAT
symbol 0acc4c DRAGONFLY_ISTRAT
symbol 0acc81 DRAGONFLY_STRAT
symbol 0acd44 MAKESDRAG_SROU
symbol 0acd6c SDRAGONFLY_ISTRAT
symbol 0acd99 SDRAGONFLY_STRAT
symbol 0acf2f SPACEBAR_ISTRAT
symbol 0acf4e SPACEBAR_STRAT
symbol 0acf73 SPINSPACEBAR_ISTRAT
symbol 0acf92 SPINSPACEBAR_STRAT
symbol 0acfcb SPACEBAR1_ISTRAT
symbol 0acff8 SPACEBAR1_STRAT
symbol 0ad025 SPACEBAR2_ISTRAT
symbol 0ad03e SPACEBAR2_STRAT
symbol 0ad181 SPACEBAR3_ISTRAT
symbol 0ad1de SPACEBAR3_STRAT
symbol 0ad249 COLONY0_ISTRAT
symbol 0ad278 COLONY0_STRAT
symbol 0ad3fe COLONY0_CONT
symbol 0ad40f COLONY1_ISTRAT
symbol 0ad428 COLONY1_STRAT
symbol 0ad443 COLONY2_ISTRAT
symbol 0ad463 COLONY2_STRAT
symbol 0ad4c8 SPACEBARWALKER_ISTRAT
symbol 0ad4e7 SPACEBARWALKER_STRAT
symbol 0ad55f SPACEBARSHOOT_ISTRAT
symbol 0ad598 SPACEBARSHOOT_STRAT
symbol 0ad5e9 SHOU0A_ISTRAT
symbol 0ad5ef SHOU0_ISTRAT
symbol 0ad620 SHOU0_STRAT
symbol 0ad6ff WALKER2_ISTRAT
symbol 0ad722 WALKER2_STRAT
symbol 0ad763 VOLCANO_ISTRAT
symbol 0ad7c1 VOLCANO_STRAT
symbol 0ad883 VOLPLASMA_ISTRAT
symbol 0ad8d6 VOLPLASMA_STRAT
symbol 0ad9bc VOLROCK_ISTRAT
symbol 0ada51 VOLROCK_STRAT
symbol 0adabe FIREPILLAR_ISTRAT
symbol 0adb21 FIREPILLAR_STRAT
symbol 0adbe5 VOLROCKDOWN_ISTRAT
symbol 0adc27 VOLROCKDOWN_STRAT
symbol 0add00 METEO0_ISTRAT
symbol 0addfe BLACKHOLE_ISTRAT
symbol 0ae082 AIRCAR1_ISTRAT
symbol 0ae0ba AIRCAR1_STRAT
symbol 0ae129 AIRCAR2_ISTRAT
symbol 0ae15d AIRCAR2_STRAT
symbol 0ae22b AIRCAR3_ISTRAT
symbol 0ae269 AIRCAR3_STRAT
symbol 0ae387 AIRCAR4_ISTRAT
symbol 0ae3bd AIRCAR4_STRAT
symbol 0ae470 AIRCAR5_ISTRAT
symbol 0ae4b2 AIRCAR5_STRAT
symbol 0ae5ad TRUCK1_ISTRAT
symbol 0ae5dc TRUCK1_STRAT
symbol 0ae5ed TRUCK2_ISTRAT
symbol 0ae620 TRUCK2_STRAT
symbol 0ae677 MINE2_ISTRAT
symbol 0ae6c1 MINE2_STRAT
symbol 0ae702 MINE2EXP_ISTRAT
symbol 0ae7e4 MINE2EXPNOFIRE_ISTRAT
symbol 0ae80f GATE3_ISTRAT
symbol 0ae82f GATE3_STRAT
symbol 0ae8af GATE2_ISTRAT
symbol 0ae8c8 GATE2_STRAT
symbol 0ae9e0 SFISH_ISTRAT
symbol 0aea6e SFISH_STRAT
symbol 0aede6 SZACO3_ISTRAT
symbol 0aee2e SZACO3_STRAT
symbol 0aeed6 TADPOLE_ISTRAT
symbol 0aef0d TADPOLE_STRAT
symbol 0af0e0 OPENLR_ISTRAT
symbol 0af10f OPENLR_STRAT
symbol 0af161 OPENLRCOL_ISTRAT
symbol 0af171 UPDOOR_ISTRAT
symbol 0af1a0 UPDOOR_STRAT
symbol 0af20c UPDOORCOL_ISTRAT
symbol 0af229 COLONYEXIT_ISTRAT
symbol 0af2a7 BOSSSEAMON_ISTRAT
symbol 0af2f4 BOSSSEAMON_STRAT
symbol 0af64b BOSSSEAMONEXP_ISTRAT
symbol 0af652 HALFD_ISTRAT
symbol 0af652 DPILAR_ISTRAT
symbol 0af66b HALFD_STRAT
symbol 0af6c9 POLE0_ISTRAT
symbol 0af70c POLE0_STRAT
symbol 0af72b POLE0COL_ISTRAT
symbol 0af79a GROUNDPILON_ISTRAT
symbol 0af7b7 GROUNDPILON_STRAT
symbol 0af8ee CLASTEROID_ISTRAT
symbol 0af915 CLASTEROID_STRAT
symbol 0af922 INITMEM_L
symbol 0af941 AVAIL_L
symbol 0af96d FREE_L
symbol 0afa82 ALLOC_L
symbol 0afb0b SALLOC_L
symbol 0afb28 SFREE_L
symbol 0afb64 SALLFREE_L
symbol 0afb8a MPUSH_L
symbol 0afbbf SMPUSH_L
symbol 0afbf4 MPULL_L
symbol 0afc1c SMPULL_L
symbol 0afc47 BLACK_HOLEBGM
# <<< END AUTO-INGESTED <<<
