bank = 3

# SpyderTL/StarFoxDisassembly (US v1.2): standard SPC packet loader. Keep the
# complete ROM boundary and layer an optional equivalent upload optimization
# on it; SNESRECOMP_LLE_BOUNCE=0 continues to execute the bytes directly.
func LoadAudio b109 end:b269
hle_func b109 HleStarFoxLoadAudio

# >>> AUTO-INGESTED FROM Star Fox Enhanced SYMBOLS.TXT - do not hand-edit between markers >>>
# Source: third_party/starfox-enhanced/upstream-ultrastarfox/SYMBOLS.TXT
# Regenerate via: py tools/ingest_starfox_enhanced_symbols.py
# These are non-promoting labels; do not convert this block to `name`.
# 651 entries (0 suppressed by hand-authored declarations).
symbol 038000 PLANETDMAPOS1
symbol 038002 PLANETDMAPOS2
symbol 038004 HYPER_C
symbol 03800c WHITE_C
symbol 03807c BLACK_C
symbol 0380fc RED_C
symbol 0381d8 DEFAULT_C
symbol 0381d8 BLUE1_C
symbol 0381d8 BLUE2_C
symbol 0381d8 BLUE3_C
symbol 03820a DEFAULT_A1
symbol 038213 TEXTURES_C
symbol 038213 ID_0_C
symbol 038213 ID_0_FC
symbol 0382ed ID_1_C
symbol 0383c1 ID_2_C
symbol 038421 ID_3_C
symbol 038481 ID_4_C
symbol 038481 ID_5_C
symbol 0384e1 CA_0
symbol 0384ea CA_1
symbol 0384f3 CA_1D
symbol 0384fc CA_2
symbol 038505 CA_3
symbol 03850e CA_4
symbol 038517 CA_5
symbol 038520 PEXPLOD2S_C
symbol 038524 PEXPLOD2S_A1
symbol 03852c CORNFLAKES_C
symbol 03852c SMOOTH_C
symbol 03852e BURNMARK_C
symbol 038530 SMOKE_C
symbol 038532 SPARK_C
symbol 038534 BOUNCYBALL_C
symbol 038536 EXPLODE_C
symbol 038538 EXPLODE2_C
symbol 03853a EXPLODE3_C
symbol 03853c BULLET_C
symbol 03853e EBULLET_C
symbol 038540 LINE_C
symbol 038542 ASTEROID_C
symbol 038544 ASTEROID2_C
symbol 038546 EXITLIGHT_C
symbol 038548 SPLASH_C
symbol 03854a STARWARS_C
symbol 03854c EGG_C
symbol 03854e ESCAPEE_C
symbol 038552 SPECIALWEAPON_C
symbol 038554 LFDIE_C
symbol 038556 BALLANDCHAIN_C
symbol 038558 FIRE_C
symbol 03855a RINGLASER_C
symbol 03855c IRONBALL_C
symbol 03855e AMOEBA_C
symbol 038560 FIREBALL_C
symbol 038562 BLACKHOLE_C
symbol 038566 OVALBEAM_C
symbol 038568 BOOST_C
symbol 03856a GAME_C
symbol 03856e OVER_C
symbol 038572 TELEPORT_C
symbol 038574 BONFIRE_C
symbol 038578 BONFIRE_A1
symbol 03857d BIG_METEOR_C
symbol 03857f BREAK_METEOR_C
symbol 038581 SCRAPMETAL_C
symbol 038583 ROCKBEAM_C
symbol 038585 ANDROSSL3_C
symbol 038589 ANDROSSL3C_A1
symbol 038590 ANDROSS_C
symbol 038594 FINALBOSS_C
symbol 0385a4 FRUITMACHINE_C
symbol 0385a6 NEONSIGN_A1
symbol 0385af ANDROSSHOLE_C
symbol 0385b3 PLAYERBEAM_A1
symbol 0385b8 BOOST_A1
symbol 0385bd PLAYERBEAM_C
symbol 0385bf FINALBOSSC0_A1
symbol 0385e8 FINALBOSSC1_A1
symbol 038611 FINALBOSSC2_A1
symbol 03863a FINALBOSSC3_A1
symbol 038663 FINALBOSSC4_A1
symbol 03868c FINALBOSSC5_A1
symbol 0386b5 FINALBOSSC6_A1
symbol 0386de FINALBOSSC7_A1
symbol 038707 ROCKBEAM_A1
symbol 038710 FIREBALL_A1
symbol 038719 AMOEBA_A1
symbol 038722 RING_A1
symbol 03872b RING_A2
symbol 038734 RING_A3
symbol 03873d RING_A4
symbol 038746 RING_A5
symbol 03874b RING_A6
symbol 03875c FIRE_A1
symbol 03876d ROADFLASH_A1
symbol 038772 LFDIE_A1
symbol 03877b SPECIALWEAPON_A1
symbol 03878c GATEFLASH_A1
symbol 0387ad BOSSHITCOL1_A1
symbol 0387b8 BOSSHITCOL2_A1
symbol 0387c3 BOSSHITCOL3_A1
symbol 0387d4 PWIREFRAME_A1
symbol 0387df EXITLIGHT_A1
symbol 0387e4 LINE_A1
symbol 0387f5 BULLET_A1
symbol 038806 EBULLET_A1
symbol 03880f BOUNCYBALL_A1
symbol 038814 SMOKE_A1
symbol 038825 SPARK_A1
symbol 03882e STARWARS_A1
symbol 038837 EXPLODE_A1
symbol 038840 EXPLODE_A2
symbol 038851 EXPLODE_A3
symbol 038862 ARROW_A1
symbol 038873 NORMAL_C
symbol 038899 BRITENORMAL_C
symbol 0388bf SPLASH_A1
symbol 0388d0 FLASH_C
symbol 0388d2 FLASH_A1
symbol 0388d7 SPACEMISTWHITE_A1
symbol 0388e8 SPACEMISTRED_A1
symbol 0388f9 SPACEMISTLGREY_A1
symbol 03890a BRAKELIGHT_A1
symbol 03890f OVALBEAM_A1
symbol 038918 TEXTUREADDRTAB
symbol 038a3e TEXTUREXYTAB
symbol 038a50 TEXTUREXY0
symbol 038a5a TEXTUREXY1
symbol 038a64 TEXTUREXY2
symbol 038a6e TEXTUREXY3
symbol 038a78 TEXTUREXY4
symbol 038a82 TEXTUREXY5
symbol 038a8c TEXTUREXY6
symbol 038a96 TEXTUREXY7
symbol 038aa0 TEXTUREXY8
symbol 038aaa PALADDR
symbol 038b0a SHADESTAB2_0
symbol 038b0a PALADDREND
symbol 038b22 SHADESTAB2_1
symbol 038b3a SHADESTAB2_2
symbol 038b52 SHADESTAB2_3
symbol 038b6a DEPTHTABS
symbol 038b6a NIGHT
symbol 038b6a NIGHT1
symbol 038b8a NIGHT2
symbol 038baa NIGHT3
symbol 038bca NIGHT4
symbol 038bea MIST1
symbol 038bea MIST
symbol 038c0a MIST2
symbol 038c2a MIST3
symbol 038c4a MIST4
symbol 038c6a DESERT
symbol 038c6a DESERT1
symbol 038c8a DESERT2
symbol 038caa DESERT3
symbol 038cca DESERT4
symbol 038cea MARINE
symbol 038cea MARINE1
symbol 038d0a MARINE2
symbol 038d2a MARINE3
symbol 038d4a MARINE4
symbol 038d6a RED
symbol 038d6a RED1
symbol 038d8a RED2
symbol 038daa RED3
symbol 038dca RED4
symbol 038dea SHADES0_0
symbol 038df4 SHADES0_1
symbol 038dfe SHADES0_2
symbol 038e08 SHADES0_3
symbol 038e12 SHADES0_4
symbol 038e1c SHADES0_5
symbol 038e26 SHADES0_6
symbol 038e30 SHADES0_7
symbol 038e3a SHADES0_8
symbol 038e44 SHADES0_9
symbol 038e4e SHADES1_0
symbol 038e58 SHADES1_1
symbol 038e62 SHADES1_2
symbol 038e6c SHADES1_3
symbol 038e76 SHADES1_4
symbol 038e80 SHADES1_5
symbol 038e8a SHADES1_6
symbol 038e94 SHADES1_7
symbol 038e9e SHADES1_8
symbol 038ea8 SHADES1_9
symbol 038eb2 SHADES2_0
symbol 038ebc SHADES2_1
symbol 038ec6 SHADES2_2
symbol 038ed0 SHADES2_3
symbol 038eda SHADES2_4
symbol 038ee4 SHADES2_5
symbol 038eee SHADES2_6
symbol 038ef8 SHADES2_7
symbol 038f02 SHADES2_8
symbol 038f0c SHADES2_9
symbol 038f16 SHADES3_0
symbol 038f20 SHADES3_1
symbol 038f2a SHADES3_2
symbol 038f34 SHADES3_3
symbol 038f3e SHADES3_4
symbol 038f48 SHADES3_5
symbol 038f52 SHADES3_6
symbol 038f5c SHADES3_7
symbol 038f66 SHADES3_8
symbol 038f70 SHADES3_9
symbol 038f7a DEPTHTABLES
symbol 038f9a BG_HOLE_1
symbol 03903f BG_1_1I_1
symbol 0390e3 BG_1_1A_1
symbol 0390e7 BG_1_1B_1
symbol 0390eb BG_1_1C_1
symbol 039180 BG_3_1C_1
symbol 039215 BG_TRAINING_1
symbol 0392bf BG_1_2_1
symbol 03934b BG_SPECIAL_1
symbol 0393f0 BG_1_3I_1
symbol 03947c BG_1_3A_1
symbol 03950f BG_1_3B_1
symbol 0395a7 BG_1_3C_1
symbol 03963a BG_1_3D_1
symbol 0396bc BG_1_3DA_1
symbol 03973e BG_1_3E_1
symbol 0397b6 BG_1_4_1
symbol 039857 BG_1_4B_1
symbol 039884 BG_1_5_1
symbol 039910 BG_1_6A_1
symbol 0399b0 BG_1_6B_1
symbol 039a08 BG16B26C
symbol 039a53 BG_1_6C_1
symbol 039aff BG_1_7A_1
symbol 039ba2 BG_1_7B_1
symbol 039c3b BG_1_7C_1
symbol 039cd1 BG_2_2_1
symbol 039d5d BG_2_3A_1
symbol 039e07 BG_2_3A_2
symbol 039e2b BG_2_3B_1
symbol 039f2f BG_2_3C_1
symbol 039fbc BG_2_4_1
symbol 03a048 BG_2_5_1
symbol 03a0d4 BG_2_6A_1
symbol 03a1d2 BG_2_6B_1
symbol 03a268 BG_2_6C_1
symbol 03a2fe BG_2_6B_2
symbol 03a2fe BG_2_6B_3
symbol 03a2fe BG_2_6B_4
symbol 03a325 BG_3_2_1
symbol 03a3b1 BG_3_3A_1
symbol 03a44e BG_3_4A_1
symbol 03a452 BG_3_4B_1
symbol 03a4de BG_3_4C_1
symbol 03a56b BG_3_4D_1
symbol 03a5e3 BG_3_5_1
symbol 03a687 BG_3_6_1
symbol 03a713 BG_3_7A_1
symbol 03a7b3 BG_CRED_1
symbol 03a83b BG_CONT_1
symbol 03a8bb BG_INTRO_1
symbol 03a943 BG_GAMEOVER_1
symbol 03a9d5 BG_TITLE_1
symbol 03aad9 INITMODE1
symbol 03aaf2 INITMODE2
symbol 03ab0b DEC_CHR_L
symbol 03ab22 DEC_BG_L
symbol 03ab40 DEC_BG3_L
symbol 03ab5e DEC_L
symbol 03ab75 BG2CHR
symbol 03abad BG2SCR
symbol 03abde DOPALETTE
symbol 03ac22 BGLISTS
symbol 03ac25 BG_1_1I
symbol 03ac2b BG_1_1A
symbol 03ac2b BG_2_1A
symbol 03ac2b BG_3_1A
symbol 03ac31 BG_1_1B
symbol 03ac31 BG_2_1B
symbol 03ac37 BG_3_1C
symbol 03ac3d BG_1_1C
symbol 03ac43 BG_1_2
symbol 03ac49 BG_1_3I
symbol 03ac4f BG_1_3A
symbol 03ac55 BG_1_3B
symbol 03ac5b BG_1_3C
symbol 03ac61 BG_1_3D
symbol 03ac67 BG_1_3DA
symbol 03ac6d BG_1_3E
symbol 03ac73 BG_1_4
symbol 03ac79 BG_1_5
symbol 03ac79 BG_2_5
symbol 03ac7f BG_1_6A
symbol 03ac85 BG_1_6B
symbol 03ac85 BG_3_7B
symbol 03ac8b BG_1_6C
symbol 03ac8b BG_3_7C
symbol 03ac91 BG_1_7A
symbol 03ac97 BG_1_7B
symbol 03ac9d BG_1_7C
symbol 03aca3 BG_CRED
symbol 03aca9 BG_2_2
symbol 03acaf BG_2_3A
symbol 03acb5 BG_2_3B
symbol 03acbb BG_2_3C
symbol 03acc1 BG_2_4
symbol 03acc7 BG_2_6A
symbol 03accd BG_2_6B
symbol 03acd3 BG_2_6C
symbol 03acd9 BG_3_2
symbol 03acdf BG_3_3A
symbol 03ace5 BG_3_4A
symbol 03aceb BG_3_4B
symbol 03acf1 BG_3_4C
symbol 03acf7 BG_3_4D
symbol 03acfd BG_3_5
symbol 03ad03 BG_3_6
symbol 03ad09 BG_3_7A
symbol 03ad0f BG_HOLE
symbol 03ad15 BG_INTRO
symbol 03ad1b BG_TITLE
symbol 03ad21 BG_CONT
symbol 03ad27 BG_GAMEOVER
symbol 03ad2d BG_SPECIAL
symbol 03ad33 BG_TRAINING
symbol 03ad3d INIT3D2
symbol 03ad40 INIT3D_L
symbol 03ad43 INIT3D1
symbol 03ad85 INITMARIO3D_L
symbol 03adb3 COPYCHARS_L
symbol 03adca INITWMAT_L
symbol 03ae62 WMATROTP16_L
symbol 03ae9c CROTMAT16_L
symbol 03af04 PROJECTLOG_L
symbol 03af57 PROJLOG_L
symbol 03af61 AOLKPROJLX5  # _AOLKPROJLX5
symbol 03af67 AOLKPROJLX51  # _AOLKPROJLX51
symbol 03af69 AOLKPROJLX4  # _AOLKPROJLX4
symbol 03af80 AOLLPROJLX1  # _AOLLPROJLX1
symbol 03af86 AOLLPROJLX3  # _AOLLPROJLX3
symbol 03af8c AOLLPROJLX31  # _AOLLPROJLX31
symbol 03af91 AOLLPROJLX21  # _AOLLPROJLX21
symbol 03afa2 AOLLPROJLX22  # _AOLLPROJLX22
symbol 03afa8 AOLLPROJLX2  # _AOLLPROJLX2
symbol 03afae AOLLPROJLX81  # _AOLLPROJLX81
symbol 03afb6 AOLLPROJLX8  # _AOLLPROJLX8
symbol 03afd6 AOLLPROJLX7  # _AOLLPROJLX7
symbol 03afdf AOLLPROJLX10  # _AOLLPROJLX10
symbol 03afe5 AOLLPROJLX6  # _AOLLPROJLX6
symbol 03affb AOLLPROJLX91  # _AOLLPROJLX91
symbol 03b008 AOLLPROJLX0  # _AOLLPROJLX0
symbol 03b009 MSHOWGRID_L
symbol 03b1f7 MINITDUST_L
symbol 03b207 MSHOWDUST_L
symbol 03b28c WAITDMA224
symbol 03b29f WAITDMA_L
symbol 03b2c1 INITPLANETS_L
symbol 03b2f1 PLANETSEQ_L
symbol 03b971 SETSHIPPOS
symbol 03b9a2 MOVESHIPALONGPATH
symbol 03ba2f COPYLIGHT
symbol 03baad SPINPLANETS
symbol 03bad1 PLANET_ROTZ
symbol 03badd CLEARLINES
symbol 03bade DISABLEWINDOW
symbol 03baf2 COPYFOX
symbol 03bb2f SETUPPLANETWINDOW
symbol 03bb9d DRAWROUTENAME
symbol 03bc34 CHARS
symbol 03bc3a BLITSCREEN
symbol 03bc6b CLEARSCREEN
symbol 03bc81 DMAPEPPERSCREEN
symbol 03bc95 CLEARPEPPERSCREEN
symbol 03bcab DMA256SCREEN
symbol 03bcc1 PLANETANIM
symbol 03bd99 DMA256SCREEN_FAST
symbol 03bdaf SWITCHBUFFER_FAST
symbol 03bdb4 SWITCHBUFFER
symbol 03bdc3 SWITCHBUFFER_QUICK  # SWITCHBUFFER.QUICK
symbol 03bde9 CALCDXDY
symbol 03be31 DIVIDEBYNUM
symbol 03be74 DRAWSELECTEDPLANET
symbol 03bee6 SETUPPLANETCOORD
symbol 03bf3a DRAWPLANETINCENTRE
symbol 03bf99 DRAWPLANETSPRITES
symbol 03c053 SETUPPLANETPAL_L
symbol 03c06d FADECOL0
symbol 03c092 FADELINES
symbol 03c092 FADELINES2
symbol 03c093 COPYCHAR
symbol 03c094 FADECHARSIN
symbol 03c0d0 CONVERTADDR
symbol 03c0df DRAWLINESBITBYBIT
symbol 03c106 READ_JOYPADT_L
symbol 03c119 READ_JOYPAD_L
symbol 03c11a READ_JOYPAD_L_READITALL  # READ_JOYPAD_L.READITALL
symbol 03c140 UNDRAWPLANETLINES_L
symbol 03c15c DRAWPLANETLINES_L
symbol 03c227 SETUP_PLANETS_L
symbol 03c432 P_INIT_SPRITES_L
symbol 03c468 SETSQUARE
symbol 03c505 SETCHARMAPPLAN_L
symbol 03c5f4 ROUTECHANGE1_L
symbol 03c603 ROUTECHANGE2_L
symbol 03c60e ROUTECHANGE3_L
symbol 03c619 ROUTECHANGEBHOLE1_L
symbol 03c624 ROUTECHANGEBHOLE2_L
symbol 03c62f ROUTECHANGEBHOLE3_L
symbol 03c63a CONVERTROUTE
symbol 03c651 PEPPERSPEAKING
symbol 03c6d9 SHOWPLANETNAME
symbol 03c76e PLANETSPRS
symbol 03c790 PLANETNAMES
symbol 03c7a1 PLANETPOS
symbol 03c7e5 STARTPLANETPOS
symbol 03c807 ENDPLANETPOS
symbol 03c829 FADETAB0
symbol 03c849 PLANSELPAL
symbol 03ca69 FADETABLE
symbol 03ca7a STAGEPATHS
symbol 03ca80 STAGEPATHS_PATH1  # STAGEPATHS.PATH1
symbol 03ca92 STAGEPATHS_PATH2  # STAGEPATHS.PATH2
symbol 03caac STAGEPATHS_PATH3  # STAGEPATHS.PATH3
symbol 03cace STAGEPATHS_PATH4  # STAGEPATHS.PATH4
symbol 03caec STAGEPATHS_PATH5  # STAGEPATHS.PATH5
symbol 03cafa STAGEPATHS_PATH6  # STAGEPATHS.PATH6
symbol 03cb0c STAGEPATHS_PATH7  # STAGEPATHS.PATH7
symbol 03cb2e STAGEPATHS_PATH8  # STAGEPATHS.PATH8
symbol 03cb40 STAGEPATHS_PATH9  # STAGEPATHS.PATH9
symbol 03cb52 STAGEPATHS_PATH10  # STAGEPATHS.PATH10
symbol 03cb60 STAGEPATHS_PATH11  # STAGEPATHS.PATH11
symbol 03cb76 STAGEPATHS_PATH12  # STAGEPATHS.PATH12
symbol 03cb8c STAGEPATHS_PATH13  # STAGEPATHS.PATH13
symbol 03cbae STAGEPATHS_PATH14  # STAGEPATHS.PATH14
symbol 03cbc4 STAGEPATHS_PATH15  # STAGEPATHS.PATH15
symbol 03cbd6 STAGEPATHS_PATH16  # STAGEPATHS.PATH16
symbol 03cbe4 STAGEPATHS_PATH17  # STAGEPATHS.PATH17
symbol 03cbfe STAGEPATHS_PATH18  # STAGEPATHS.PATH18
symbol 03cc14 STAGEPATHS_PATH19  # STAGEPATHS.PATH19
symbol 03cc46 STAGEPATHS_PATH20  # STAGEPATHS.PATH20
symbol 03cc84 STAGEPATHS_PATH21  # STAGEPATHS.PATH21
symbol 03cc9e STAGEPATHS_PATH22  # STAGEPATHS.PATH22
symbol 03ccc4 STAGEPATHS_END3  # STAGEPATHS.END3
symbol 03ccd0 STAGEPATHS_END2  # STAGEPATHS.END2
symbol 03ccdc STAGEPATHS_END  # STAGEPATHS.END
symbol 03cce8 STAGEPATHS_OTHEREND  # STAGEPATHS.OTHEREND
symbol 03ccf4 MAPANIM_CHARS
symbol 03cef4 INIT_SPRITES_L
symbol 03cf63 DO_SPRITES_L
symbol 03cfad RESET_SPRITES_L
symbol 03cfb1 RESET_SPRITES
symbol 03cfe6 DO_LIVES
symbol 03d029 DO_SHIELD
symbol 03d067 ROTPROJ_L
symbol 03d111 PRT_SCRAMBLE
symbol 03d15c DO_STAGE
symbol 03d1bc PRT_STAGECLEAR
symbol 03d1fa PRINT_SPRITE_MES
symbol 03d291 STAGEMES
symbol 03d291 SPRSBASE
symbol 03d29f SCRAMBLEMES
symbol 03d2b1 CLEARMES
symbol 03d2bd STAGEPTRS
symbol 03d2d9 LEV0MES
symbol 03d2dd LEV1MES
symbol 03d2e1 LEV2MES
symbol 03d2e5 LEV3MES
symbol 03d2e9 LEV4MES
symbol 03d2ed LEV5MES
symbol 03d2f1 LEV6MES
symbol 03d2f5 LEV7MES
symbol 03d2f9 LEV8MES
symbol 03d2fd LEV9MES
symbol 03d301 LEV10MES
symbol 03d307 LEV11MES
symbol 03d30d LEV12MES
symbol 03d313 LEV13MES
symbol 03d319 TRAININGMES
symbol 03d32b OKMES
symbol 03d331 NOMOREMES
symbol 03d33b SMCO1SPR
symbol 03d343 SMCO2SPR
symbol 03d34b SMCO3SPR
symbol 03d353 SMCO4SPR
symbol 03d35b SMCO5SPR
symbol 03d361 SMOK1SPR
symbol 03d369 SMOK2SPR
symbol 03d36f SMNM1SPR
symbol 03d377 SMNM2SPR
symbol 03d37f SMNM3SPR
symbol 03d387 SMNM4SPR
symbol 03d38d SPACESPR
symbol 03d393 DASHSPR
symbol 03d399 ONESPR
symbol 03d3a1 TWOSPR
symbol 03d3a9 THREESPR
symbol 03d3b1 FOURSPR
symbol 03d3b9 FIVESPR
symbol 03d3c1 SIXSPR
symbol 03d3c9 SEVENSPR
symbol 03d3d1 EIGHTSPR
symbol 03d3d9 NINESPR
symbol 03d3e1 ZEROSPR
symbol 03d3e9 ASPR
symbol 03d3f1 BSPR
symbol 03d3f9 CSPR
symbol 03d401 ESPR
symbol 03d409 GSPR
symbol 03d411 ISPR
symbol 03d417 LSPR
symbol 03d41f MSPR
symbol 03d427 NSPR
symbol 03d42f OSPR
symbol 03d437 RSPR
symbol 03d43f SSPR
symbol 03d447 TSPR
symbol 03d44f VSPR
symbol 03d457 PSPR
symbol 03d45f DSPR
symbol 03d467 DO_SPEC_WEAP
symbol 03d4ce DO_CROSSHAIR
symbol 03d561 DO_ENEMY
symbol 03d5a3 DO_ARROWS
symbol 03d5d4 DO_UP_ARROW
symbol 03d5e6 DO_DOWN_ARROW
symbol 03d5f8 DO_LEFT_ARROW
symbol 03d60a DO_RIGHT_ARROW
symbol 03d61c SETARROWS
symbol 03d665 ARTAB
symbol 03d665 UPTAB
symbol 03d6a5 DOWNTAB
symbol 03d6e5 RIGHTTAB
symbol 03d725 LEFTTAB
symbol 03d765 DO_1CREDIT
symbol 03d793 GENFOXSPR
symbol 03d7d6 FOXY_CONTINUE_L
symbol 03db81 FOXYTRANS_L
symbol 03dbae DRAWSOME3D
symbol 03dc48 CLEARSPRITES_L
symbol 03dc5c DMA_SPRITES_L
symbol 03dc89 SETCHARMAPFOX_L
symbol 03dcd1 FOX_SPRITES_L
symbol 03dd76 FOXSPRITES
symbol 03dd76 COPYFOXSPRITES
symbol 03dda2 SEND_MESSAGE_L
symbol 03ddfe FRIENDS_MESSAGES_L
symbol 03df92 FOXEYEANIM
symbol 03df9a FOXARMANIM
symbol 03dfa2 FOXFOOTANIM
symbol 03dfb2 FOXEYEANIM1
symbol 03dfde FOXEYEANIM2
symbol 03e00a FOXEYEANIM3
symbol 03e036 FOXARMANIM1
symbol 03e068 FOXARMANIM2
symbol 03e09a FOXARMANIM3
symbol 03e0cc FOXFOOTANIM1
symbol 03e0e0 FOXFOOTANIM2
symbol 03e0f4 FOXFOOTANIM3
symbol 03e108 SHAPESLIST
symbol 03e156 UPDATE_OBJECTS_L
symbol 03e179 NEWOBJS_L
symbol 03e183 NEWOBJEX
symbol 03e197 MAPJMP
symbol 03e225 MAPSETPATHDO
symbol 03e240 MAPWAIT2DO
symbol 03e254 NOTNEEDEDYET
symbol 03e254 SETBGMDO
symbol 03e26c MAPSENDMESSAGE
symbol 03e27b MAP65816
symbol 03e298 MAPCODEJSL
symbol 03e2bd MAPJMPVARLESSDO
symbol 03e2e4 MAPJMPVARMOREDO
symbol 03e30d MAPJMPVAREQDO
symbol 03e334 FADETOSEADO
symbol 03e34e FADETOGROUNDDO
symbol 03e368 SETRESTARTFADE_L
symbol 03e381 ADDALVARPTRBDO
symbol 03e3b3 ADDALVARPTRWDO
symbol 03e3e5 SETBGINFO
symbol 03e3f0 SETBGINFO_L
symbol 03e3fa SETBGINFOREQ_L
symbol 03e4bd SETVARLDO
symbol 03e4e2 SETVARWDO
symbol 03e4fb SETVARBDO
symbol 03e515 MAPSPECIAL
symbol 03e532 MAPCSPECIAL
symbol 03e54f SETZROTOFFDO
symbol 03e559 SETZROTONDO
symbol 03e565 SETSCREENOFFDO
symbol 03e57b SETSCREENONDO
symbol 03e591 MAPWAITFADEDO
symbol 03e5b1 SETVAROBJDO
symbol 03e5d3 SETALVARPTRBDO
symbol 03e601 SETALVARPTRWDO
symbol 03e62f SETFADEUPDO
symbol 03e63b SETFADEDOWNDO
symbol 03e647 SETFADEQUPDO
symbol 03e653 SETFADEQDOWNDO
symbol 03e65f SETALVARBDO
symbol 03e682 SETALVARWDO
symbol 03e6a4 SETALVARLDO
symbol 03e6cf SETALXVARBDO
symbol 03e6f5 SETALXVARWDO
symbol 03e71a SETALXVARLDO
symbol 03e749 MAPWAITDO
symbol 03e757 SETXROTDO
symbol 03e773 SETYROTDO
symbol 03e78f SETZROTDO
symbol 03e7ab MAPGOTODO
symbol 03e7bd MAPIFDO
symbol 03e80b MAPJSRDO
symbol 03e837 MAPRTSDO
symbol 03e858 SETVOFSON
symbol 03e860 VOFSONPLEASE_L
symbol 03e864 VOFSONPLEASE
symbol 03e87f SETVOFSOFF
symbol 03e887 VOFSOFFPLEASE_L
symbol 03e88b VOFSOFFPLEASE
symbol 03e8a4 SETHOFSON
symbol 03e8b0 SETHOFSOFF
symbol 03e8ba SETOTHMUSDO
symbol 03e8c8 SETNODOTSDO
symbol 03e8d0 SETGNDDOTSDO
symbol 03e8db SETSPACEDUSTDO
symbol 03e8e6 WAITSETBG
symbol 03e904 SETBGSLOWDO
symbol 03e91e SETBGDO
symbol 03e930 SETBG_L
symbol 03e93d DOBGREQ_L
symbol 03e971 SETSTAGEDO
symbol 03e97c MAPQOBJDO
symbol 03eaac MAPOBJ8DO
symbol 03eb7b MAPOBJDO
symbol 03ec2e MAPDOBJDO
symbol 03ece2 MAPOBJZROTDO
symbol 03ed9b MAPENDDO
symbol 03eda0 MAPLOOPDO
symbol 03edef MAPDEBDO
symbol 03edf3 MAPNOPDO
symbol 03edf7 MAPNORMOBJ
symbol 03ee8a MAPMOTHER
symbol 03ef29 MAPREMOVE
symbol 03ef49 MAPWAIT
symbol 03ef5c BEMOTHER_L
symbol 03ef9a MOTHEROBJ
symbol 03f05c MOTHERWAIT
symbol 03f067 MOTHERGOTO
symbol 03f073 MOTHERJUMP
symbol 03f0d4 MOTHERCOUNT
symbol 03f0fb MOTHERLOOP
symbol 03f12c MOTHEREND
symbol 03f135 MOTHERRND
# <<< END AUTO-INGESTED <<<
