# bank0c.cfg - auto-created by ingest_starfox_enhanced_symbols.py

bank = 0c

# >>> AUTO-INGESTED FROM Star Fox Enhanced SYMBOLS.TXT - do not hand-edit between markers >>>
# Source: third_party/starfox-enhanced/upstream-ultrastarfox/SYMBOLS.TXT
# Regenerate via: py tools/ingest_starfox_enhanced_symbols.py
# These are non-promoting labels; do not convert this block to `name`.
# 642 entries (0 suppressed by hand-authored declarations).
symbol 0c8000 FACE_BOX
symbol 0c8000 BASE_1
symbol 0c8000 CAMELEON
symbol 0c8000 BEEANIM
symbol 0c8000 DRAIL_0
symbol 0c8000 DRAIL_4
symbol 0c8000 DRAIL_0S
symbol 0c8000 SEA_0
symbol 0c8000 SEA_0_0
symbol 0c8000 SEA_0_1
symbol 0c8000 SEA_0_S
symbol 0c8000 BIG_M
symbol 0c8000 GRABBER
symbol 0c8000 BIG_BIRD
symbol 0c8000 BIG_GATE
symbol 0c8000 GATE_0
symbol 0c8000 GATE_1
symbol 0c8000 KAMIKAZE
symbol 0c8000 KAMI_S
symbol 0c8000 AIR_1
symbol 0c8000 RAIL_0
symbol 0c8000 RAIL_4
symbol 0c8000 MISS_1_1
symbol 0c8000 MISS_1_2
symbol 0c8000 MISSILE
symbol 0c8000 NECK_S
symbol 0c8000 NECK
symbol 0c8000 ARM
symbol 0c8000 SMALL_M
symbol 0c8000 D_BODY_0
symbol 0c8000 D_BODY_S
symbol 0c8000 EJECT
symbol 0c8000 WALL1
symbol 0c8000 WALL2
symbol 0c8000 WALKER_L_P
symbol 0c8000 WALL_L
symbol 0c8000 WALL_R
symbol 0c8000 WALL1_S1
symbol 0c8000 WALKER_0
symbol 0c8000 WALKER_L
symbol 0c8000 WALKER_R
symbol 0c8000 PARA_0
symbol 0c8000 PARA_1
symbol 0c8000 PARA_1_S
symbol 0c8000 BIT_0
symbol 0c8000 TRAINING
symbol 0c8000 SAUSHAD
symbol 0c8000 HOU_L
symbol 0c8000 HOU_R
symbol 0c8000 HOU_L_S
symbol 0c8000 HOU_R_S
symbol 0c8000 BULGE
symbol 0c8000 ROBOT_0
symbol 0c8000 RPILLAR3
symbol 0c8000 BOSS_C_1
symbol 0c8000 BOSS_D_0
symbol 0c8000 BOSS_D_1
symbol 0c8000 BOSS_D_2
symbol 0c8000 BOSS_D_4
symbol 0c8000 BOSS_D_5
symbol 0c8000 BOSS_D_6
symbol 0c8000 BOSS_D_7
symbol 0c8000 BOSS_D_8
symbol 0c8000 BOSS_D_9
symbol 0c8000 BOSS_H_0
symbol 0c8000 BOSS_H_1
symbol 0c8000 BOSS_H_2
symbol 0c8000 BOSS_H_3
symbol 0c8000 BOSS_C
symbol 0c8000 BOSS_H_1A
symbol 0c8000 FLINGBOSS
symbol 0c8000 TOW_1
symbol 0c8000 D_HEAD_0
symbol 0c8000 D_HEAD_S
symbol 0c8000 OPEN_L
symbol 0c8000 T_BOOL_6
symbol 0c8000 OP_0
symbol 0c8000 OP_1
symbol 0c8000 OP_2
symbol 0c8000 METEO_0
symbol 0c8000 SHIP_1_S
symbol 0c8000 SHIP_S_0
symbol 0c8000 SLOT_0
symbol 0c8000 SLOT_1
symbol 0c8000 LMISSILE
symbol 0c8000 TRUCK
symbol 0c8000 ROUND_0S
symbol 0c8000 MINE_0
symbol 0c8000 MINE_0_S
symbol 0c8000 PILLAR3_NS
symbol 0c8000 PILLAR3S
symbol 0c8000 PILLAR4S
symbol 0c8000 PILLAR2
symbol 0c8000 PILLAR3
symbol 0c8000 PILLAR4
symbol 0c8000 TUNNEL_7
symbol 0c8000 MY_DEMO
symbol 0c8000 MY_DEMOS
symbol 0c8000 MY_DEMOBS
symbol 0c8000 M_TANK
symbol 0c8000 EXPL_4
symbol 0c8039 WALKER_L_F
symbol 0c8077 WALKER_L_F1
symbol 0c814d WALKER_R_P
symbol 0c8183 WALKER_R_F
symbol 0c81e1 WALKER_R_F1
symbol 0c81ec WALKER_R_F3
symbol 0c81f7 WALKER_R_F5
symbol 0c8202 WALKER_R_F7
symbol 0c8252 WALKER_R_F8
symbol 0c825d WALKER_R_F10
symbol 0c828c WALKER_R_F11
symbol 0c82b2 WALKER_R_EBSP
symbol 0c82b3 WALKER_0_P
symbol 0c8691 WALKER_0_F
symbol 0c86da WALKER_0_F1
symbol 0c86e5 WALKER_0_F3
symbol 0c86f0 WALKER_0_F5
symbol 0c873e WALKER_0_F6
symbol 0c8764 WALKER_0_F7
symbol 0c878a WALKER_0_EBSP
symbol 0c878b PILLAR2_P
symbol 0c8883 PILLAR2_F
symbol 0c8894 PILLAR2_F1
symbol 0c88c9 BEEANIM_P
symbol 0c8915 BEEANIM_F
symbol 0c8963 BEEANIM_F1
symbol 0c896e BEEANIM_F3
symbol 0c8979 BEEANIM_F5
symbol 0c898d BEEANIM_F6
symbol 0c89ac BEEANIM_F7
symbol 0c89b7 BEEANIM_F9
symbol 0c89ee BEEANIM_F10
symbol 0c8a0d BEEANIM_EBSP
symbol 0c8a0e PARA_0_P
symbol 0c8a31 PARA_0_F
symbol 0c8a6a PARA_0_F1
symbol 0c8a75 PARA_0_F3
symbol 0c8a80 PARA_0_F5
symbol 0c8a94 PARA_0_F6
symbol 0c8a9f PARA_0_F8
symbol 0c8acf PARA_0_F9
symbol 0c8ad9 PARA_0_F10
symbol 0c8af4 PARA_0_EBSP
symbol 0c8af5 PARA_1_S_P
symbol 0c8b09 PARA_1_S_F
symbol 0c8b1a PARA_1_S_F1
symbol 0c8b26 PARA_1_S_F3
symbol 0c8b38 PARA_1_S_F4
symbol 0c8b42 PARA_1_S_EBSP
symbol 0c8b43 PARA_1_P
symbol 0c8b5a PARA_1_F
symbol 0c8b7a PARA_1_F1
symbol 0c8b85 PARA_1_F3
symbol 0c8bbc PARA_1_F4
symbol 0c8bce PARA_1_EBSP
symbol 0c8bcf BIG_M_P
symbol 0c8bef BIG_M_F
symbol 0c8c51 BIG_M_F1
symbol 0c8c5c BIG_M_F3
symbol 0c8c67 BIG_M_F5
symbol 0c8c72 BIG_M_F7
symbol 0c8c7d BIG_M_F9
symbol 0c8c92 BIG_M_F10
symbol 0c8cc3 BIG_M_F11
symbol 0c8ce1 BIG_M_F12
symbol 0c8cff BIG_M_F13
symbol 0c8d1d BIG_M_EBSP
symbol 0c8d1e WALL1_S1_P
symbol 0c8d46 WALL1_S1_F
symbol 0c8d4e WALL1_S1_F1
symbol 0c8d64 WALL1_P
symbol 0c8d92 WALL1_F
symbol 0c8da9 WALL1_F1
symbol 0c8dfb ROUND_0S_P
symbol 0c8e27 ROUND_0S_F
symbol 0c8e3b ROUND_0S_F1
symbol 0c8e96 EXPL_4_P
symbol 0c8ea5 EXPL_4_F
symbol 0c8eb3 EXPL_4_F1
symbol 0c8eda SHIP_1_S_P
symbol 0c8eec SHIP_1_S_F
symbol 0c8ef4 SHIP_1_S_F1
symbol 0c8f0d HOU_L_P
symbol 0c8f28 HOU_L_F
symbol 0c8f3c HOU_L_F1
symbol 0c8f76 HOU_L_S_P
symbol 0c8f85 HOU_L_S_F
symbol 0c8f8d HOU_L_S_F1
symbol 0c8fa2 HOU_R_P
symbol 0c8fbd HOU_R_F
symbol 0c8fd1 HOU_R_F1
symbol 0c900b HOU_R_S_P
symbol 0c901a HOU_R_S_F
symbol 0c9022 HOU_R_S_F1
symbol 0c9037 D_HEAD_0_P
symbol 0c9051 D_HEAD_0_F
symbol 0c9089 D_HEAD_0_F1
symbol 0c9094 D_HEAD_0_F3
symbol 0c910a D_HEAD_0_F4
symbol 0c911d D_HEAD_0_EBSP
symbol 0c911e D_BODY_0_P
symbol 0c9132 D_BODY_0_F
symbol 0c9152 D_BODY_0_F1
symbol 0c915d D_BODY_0_F3
symbol 0c9194 D_BODY_0_F4
symbol 0c919e D_BODY_0_EBSP
symbol 0c919f D_HEAD_S_P
symbol 0c91b3 D_HEAD_S_F
symbol 0c91d9 D_HEAD_S_F1
symbol 0c91e4 D_HEAD_S_F3
symbol 0c91ef D_HEAD_S_F4
symbol 0c9227 D_HEAD_S_EBSP
symbol 0c9228 D_BODY_S_P
symbol 0c9239 D_BODY_S_F
symbol 0c9247 D_BODY_S_F1
symbol 0c926e CAMELEON_P
symbol 0c929a CAMELEON_F
symbol 0c92f2 CAMELEON_F1
symbol 0c92fe CAMELEON_F3
symbol 0c9338 CAMELEON_F4
symbol 0c9344 CAMELEON_F6
symbol 0c937e CAMELEON_F7
symbol 0c93c8 CAMELEON_EBSP
symbol 0c93c9 SEA_0_P
symbol 0c93ec SEA_0_F
symbol 0c942c SEA_0_F1
symbol 0c9437 SEA_0_F3
symbol 0c9442 SEA_0_F5
symbol 0c9495 SEA_0_F6
symbol 0c94b2 SEA_0_F7
symbol 0c94c6 SEA_0_EBSP
symbol 0c94c7 SEA_0_S_P
symbol 0c94db SEA_0_S_F
symbol 0c94e9 SEA_0_S_F1
symbol 0c9512 SEA_0_0_P
symbol 0c9523 SEA_0_0_F
symbol 0c952b SEA_0_0_F1
symbol 0c9550 SEA_0_1_P
symbol 0c9567 SEA_0_1_F
symbol 0c9584 SEA_0_1_F1
symbol 0c958f SEA_0_1_F3
symbol 0c95b5 SEA_0_1_F4
symbol 0c95c9 SEA_0_1_EBSP
symbol 0c95ca SAUSHAD_P
symbol 0c95de SAUSHAD_F
symbol 0c95e3 SAUSHAD_F1
symbol 0c95f4 EJECT_P
symbol 0c9623 EJECT_F
symbol 0c963d EJECT_F1
symbol 0c96e8 BIT_0_P
symbol 0c9711 BIT_0_F
symbol 0c9743 BIT_0_F1
symbol 0c974e BIT_0_F3
symbol 0c97a7 BIT_0_F4
symbol 0c97bd BIT_0_EBSP
symbol 0c97be KAMIKAZE_P
symbol 0c97e9 KAMIKAZE_F
symbol 0c982f KAMIKAZE_F1
symbol 0c983a KAMIKAZE_F3
symbol 0c985f KAMIKAZE_F4
symbol 0c986a KAMIKAZE_F6
symbol 0c988f KAMIKAZE_F7
symbol 0c98e1 KAMIKAZE_EBSP
symbol 0c98e2 KAMI_S_P
symbol 0c9913 KAMI_S_F
symbol 0c9947 KAMI_S_F1
symbol 0c9951 KAMI_S_F3
symbol 0c995c KAMI_S_F5
symbol 0c998e KAMI_S_F6
symbol 0c9999 KAMI_S_F7
symbol 0c99c7 KAMI_S_EBSP
symbol 0c99c8 TRUCK_P
symbol 0c9a05 TRUCK_F
symbol 0c9a5c TRUCK_F1
symbol 0c9a68 TRUCK_F3
symbol 0c9aac TRUCK_F4
symbol 0c9ab7 TRUCK_F6
symbol 0c9ac2 TRUCK_F8
symbol 0c9b00 TRUCK_F9
symbol 0c9b0b TRUCK_F10
symbol 0c9b1f TRUCK_EBSP
symbol 0c9b20 DRAIL_0_P
symbol 0c9b2f DRAIL_0_F
symbol 0c9b37 DRAIL_0_F1
symbol 0c9b4e DRAIL_4_P
symbol 0c9b68 DRAIL_4_F
symbol 0c9b73 DRAIL_4_F1
symbol 0c9b94 DRAIL_0S_P
symbol 0c9b9d DRAIL_0S_F
symbol 0c9b9d DRAIL_0S_F1
symbol 0c9bb0 MISS_1_1_P
symbol 0c9bd0 MISS_1_1_F
symbol 0c9be7 MISS_1_1_F1
symbol 0c9c32 MISS_1_2_P
symbol 0c9c45 MISS_1_2_F
symbol 0c9c5c MISS_1_2_F1
symbol 0c9ca1 M_TANK_P
symbol 0c9cc1 M_TANK_F
symbol 0c9cf8 M_TANK_F1
symbol 0c9d04 M_TANK_F3
symbol 0c9d10 M_TANK_F5
symbol 0c9d55 M_TANK_F6
symbol 0c9d71 M_TANK_F7
symbol 0c9da5 M_TANK_EBSP
symbol 0c9da6 MINE_0_S_P
symbol 0c9db4 MINE_0_S_F
symbol 0c9dc2 MINE_0_S_F1
symbol 0c9df1 PILLAR3S_P
symbol 0c9e03 PILLAR3S_F
symbol 0c9e0b PILLAR3S_F1
symbol 0c9e21 PILLAR3_P
symbol 0c9e3f PILLAR3_F
symbol 0c9e5f PILLAR3_F1
symbol 0c9ec2 PILLAR4S_P
symbol 0c9ed4 PILLAR4S_F
symbol 0c9edc PILLAR4S_F1
symbol 0c9ef2 PILLAR4_P
symbol 0c9f10 PILLAR4_F
symbol 0c9f30 PILLAR4_F1
symbol 0c9f93 GATE_0_P
symbol 0c9fc2 GATE_0_F
symbol 0ca00c GATE_0_F1
symbol 0ca0e7 GATE_1_P
symbol 0ca119 GATE_1_F
symbol 0ca18b GATE_1_F1
symbol 0ca196 GATE_1_F3
symbol 0ca1a1 GATE_1_F5
symbol 0ca1ac GATE_1_F7
symbol 0ca1e4 GATE_1_F8
symbol 0ca201 GATE_1_F9
symbol 0ca24b GATE_1_F10
symbol 0ca295 GATE_1_EBSP
symbol 0ca296 ARM_P
symbol 0ca2a5 ARM_F
symbol 0ca2b9 ARM_F1
symbol 0ca2f8 BULGE_P
symbol 0ca36a BULGE_F
symbol 0ca3a2 BULGE_F1
symbol 0ca459 BOSS_C_P
symbol 0ca538 BOSS_C_F
symbol 0ca5be BOSS_C_F1
symbol 0ca5ca BOSS_C_F3
symbol 0ca5d5 BOSS_C_F5
symbol 0ca647 BOSS_C_F6
symbol 0ca652 BOSS_C_F8
symbol 0ca695 BOSS_C_F9
symbol 0ca6b3 BOSS_C_F10
symbol 0ca6bf BOSS_C_F12
symbol 0ca6d4 BOSS_C_F13
symbol 0ca6fa BOSS_C_EBSP
symbol 0ca6fb BOSS_C_1_P
symbol 0caa69 BOSS_C_1_F
symbol 0caac8 BOSS_C_1_F1
symbol 0caad3 BOSS_C_1_F3
symbol 0caade BOSS_C_1_F5
symbol 0cab1e BOSS_C_1_F6
symbol 0cab5d BOSS_C_1_F7
symbol 0cab68 BOSS_C_1_F9
symbol 0cab85 BOSS_C_1_F10
symbol 0cab91 BOSS_C_1_F12
symbol 0cabae BOSS_C_1_F13
symbol 0cabb8 BOSS_C_1_EBSP
symbol 0cabb9 NECK_P
symbol 0cabca NECK_F
symbol 0cabd5 NECK_F1
symbol 0cabf6 BOSS_D_0_P
symbol 0cad56 BOSS_D_0_F
symbol 0cadcf BOSS_D_0_F1
symbol 0cadda BOSS_D_0_F3
symbol 0cade5 BOSS_D_0_F5
symbol 0caea5 BOSS_D_0_F6
symbol 0caecb BOSS_D_0_F7
symbol 0caed6 BOSS_D_0_F9
symbol 0caef3 BOSS_D_0_EBSP
symbol 0caef4 BOSS_D_1_P
symbol 0cb27b BOSS_D_1_F
symbol 0cb2db BOSS_D_1_F1
symbol 0cb2e6 BOSS_D_1_F3
symbol 0cb2f1 BOSS_D_1_F5
symbol 0cb3dd BOSS_D_1_EBSP
symbol 0cb3de BOSS_D_2_P
symbol 0cb3ef BOSS_D_2_F
symbol 0cb3fd BOSS_D_2_F1
symbol 0cb427 BOSS_D_4_P
symbol 0cb59c BOSS_D_4_F
symbol 0cb5da BOSS_D_4_F1
symbol 0cb691 BOSS_D_5_P
symbol 0cb6ae BOSS_D_5_F
symbol 0cb6d7 BOSS_D_5_F1
symbol 0cb758 BOSS_D_6_P
symbol 0cb76f BOSS_D_6_F
symbol 0cb789 BOSS_D_6_F1
symbol 0cb7dc BOSS_D_7_P
symbol 0cb7f6 BOSS_D_7_F
symbol 0cb82e BOSS_D_7_F1
symbol 0cb8dd BOSS_D_8_P
symbol 0cba65 BOSS_D_8_F
symbol 0cba8f BOSS_D_8_F1
symbol 0cba9a BOSS_D_8_F3
symbol 0cbaed BOSS_D_8_EBSP
symbol 0cbaee BOSS_D_9_P
symbol 0cbc76 BOSS_D_9_F
symbol 0cbca0 BOSS_D_9_F1
symbol 0cbcab BOSS_D_9_F3
symbol 0cbcfe BOSS_D_9_EBSP
symbol 0cbcff NECK_S_P
symbol 0cbd08 NECK_S_F
symbol 0cbd10 NECK_S_F1
symbol 0cbd27 AIR_1_P
symbol 0cbd53 AIR_1_F
symbol 0cbd9c AIR_1_F1
symbol 0cbda8 AIR_1_F3
symbol 0cbdb3 AIR_1_F5
symbol 0cbdda AIR_1_F6
symbol 0cbde4 AIR_1_F7
symbol 0cbe54 AIR_1_EBSP
symbol 0cbe55 MISSILE_P
symbol 0cbe6c MISSILE_F
symbol 0cbea4 MISSILE_F1
symbol 0cbeaf MISSILE_F3
symbol 0cbeba MISSILE_F5
symbol 0cbef2 MISSILE_F6
symbol 0cbf18 MISSILE_EBSP
symbol 0cbf19 BIG_GATE_P
symbol 0cbf5b BIG_GATE_F
symbol 0cbfd1 BIG_GATE_F1
symbol 0cbfdd BIG_GATE_F3
symbol 0cbff4 BIG_GATE_F4
symbol 0cc000 BIG_GATE_F6
symbol 0cc00c BIG_GATE_F8
symbol 0cc023 BIG_GATE_F9
symbol 0cc02f BIG_GATE_F11
symbol 0cc0fb BIG_GATE_EBSP
symbol 0cc0fc BASE_1_P
symbol 0cc1b7 BASE_1_F
symbol 0cc248 BASE_1_F1
symbol 0cc254 BASE_1_F3
symbol 0cc260 BASE_1_F5
symbol 0cc28b BASE_1_F6
symbol 0cc297 BASE_1_F8
symbol 0cc2c2 BASE_1_F9
symbol 0cc2ce BASE_1_F11
symbol 0cc2da BASE_1_F12
symbol 0cc2e6 BASE_1_F14
symbol 0cc2f2 BASE_1_F16
symbol 0cc324 BASE_1_F17
symbol 0cc330 BASE_1_F19
symbol 0cc375 BASE_1_F20
symbol 0cc392 BASE_1_EBSP
symbol 0cc393 OPEN_L_P
symbol 0cc6b7 OPEN_L_F
symbol 0cc6ef OPEN_L_F1
symbol 0cc7a6 SHIP_S_0_P
symbol 0cc7c7 SHIP_S_0_F
symbol 0cc7cf SHIP_S_0_F1
symbol 0cc7e8 OP_0_P
symbol 0cc809 OP_0_F
symbol 0cc80e OP_0_F1
symbol 0cc8d1 OP_1_P
symbol 0cc910 OP_1_F
symbol 0cc9ac OP_1_F1
symbol 0cc9b8 OP_1_F3
symbol 0cc9c4 OP_1_F5
symbol 0cc9d0 OP_1_F7
symbol 0cc9dc OP_1_F9
symbol 0cc9e8 OP_1_F11
symbol 0cc9f4 OP_1_F13
symbol 0cca00 OP_1_F15
symbol 0cca0c OP_1_F17
symbol 0cca18 OP_1_F19
symbol 0cca24 OP_1_F21
symbol 0ccb0e OP_1_EBSP
symbol 0ccb0f OP_2_P
symbol 0ccb24 OP_2_F
symbol 0ccb3e OP_2_F1
symbol 0ccb91 ROBOT_0_P
symbol 0cd275 ROBOT_0_F
symbol 0cd343 ROBOT_0_F1
symbol 0cd34f ROBOT_0_F3
symbol 0cd371 ROBOT_0_F4
symbol 0cd37d ROBOT_0_F6
symbol 0cd389 ROBOT_0_F8
symbol 0cd394 ROBOT_0_F10
symbol 0cd3a8 ROBOT_0_F11
symbol 0cd3b3 ROBOT_0_F13
symbol 0cd3be ROBOT_0_F15
symbol 0cd3d2 ROBOT_0_F16
symbol 0cd40c ROBOT_0_F17
symbol 0cd418 ROBOT_0_F19
symbol 0cd424 ROBOT_0_F21
symbol 0cd449 ROBOT_0_F22
symbol 0cd455 ROBOT_0_F24
symbol 0cd461 ROBOT_0_F26
symbol 0cd4a3 ROBOT_0_F27
symbol 0cd4fa ROBOT_0_F28
symbol 0cd506 ROBOT_0_F30
symbol 0cd512 ROBOT_0_F32
symbol 0cd543 ROBOT_0_EBSP
symbol 0cd544 METEO_0_P
symbol 0cd7ea METEO_0_F
symbol 0cd854 METEO_0_F1
symbol 0cd85f METEO_0_F3
symbol 0cd86a METEO_0_F5
symbol 0cd876 METEO_0_F7
symbol 0cd882 METEO_0_F9
symbol 0cd88e METEO_0_F10
symbol 0cd8ae METEO_0_F11
symbol 0cd8ce METEO_0_F12
symbol 0cd8fc METEO_0_F13
symbol 0cd907 METEO_0_F15
symbol 0cd911 METEO_0_F16
symbol 0cd938 METEO_0_EBSP
symbol 0cd939 TUNNEL_7_P
symbol 0cd94e TUNNEL_7_F
symbol 0cd959 TUNNEL_7_F1
symbol 0cd990 BOSS_H_0_P
symbol 0cd9b0 BOSS_H_0_F
symbol 0cd9d9 BOSS_H_0_F1
symbol 0cda61 BOSS_H_1_P
symbol 0cdbce BOSS_H_1_F
symbol 0cdbe2 BOSS_H_1_F1
symbol 0cdc23 BOSS_H_2_P
symbol 0cdc4f BOSS_H_2_F
symbol 0cdca7 BOSS_H_2_F1
symbol 0cdcb2 BOSS_H_2_F3
symbol 0cdcbf BOSS_H_2_F5
symbol 0cdcd4 BOSS_H_2_F6
symbol 0cdd2b BOSS_H_2_F7
symbol 0cdd83 BOSS_H_2_EBSP
symbol 0cdd84 BIG_BIRD_P
symbol 0cddbc BIG_BIRD_F
symbol 0cde58 BIG_BIRD_F1
symbol 0cde63 BIG_BIRD_F3
symbol 0cde6e BIG_BIRD_F5
symbol 0cde79 BIG_BIRD_F7
symbol 0cdf26 BIG_BIRD_F8
symbol 0cdf67 BIG_BIRD_F9
symbol 0cdfb1 BIG_BIRD_F10
symbol 0cdfe0 BIG_BIRD_EBSP
symbol 0cdfe1 T_BOOL_6_P
symbol 0cdfed T_BOOL_6_F
symbol 0cdff2 T_BOOL_6_F1
symbol 0ce001 MY_DEMO_P
symbol 0ce042 MY_DEMO_F
symbol 0ce108 MY_DEMO_F1
symbol 0ce113 MY_DEMO_F3
symbol 0ce11f MY_DEMO_F5
symbol 0ce157 MY_DEMO_F6
symbol 0ce187 MY_DEMO_F7
symbol 0ce192 MY_DEMO_F9
symbol 0ce19e MY_DEMO_F11
symbol 0ce1d6 MY_DEMO_F12
symbol 0ce1f4 MY_DEMO_F13
symbol 0ce1ff MY_DEMO_F15
symbol 0ce20a MY_DEMO_F17
symbol 0ce257 MY_DEMO_F18
symbol 0ce2b4 MY_DEMO_F19
symbol 0ce2da MY_DEMO_EBSP
symbol 0ce2db BOSS_H_3_P
symbol 0ce3df BOSS_H_3_F
symbol 0ce3e4 BOSS_H_3_F1
symbol 0ce3f1 SLOT_0_P
symbol 0ce44b SLOT_0_F
symbol 0ce4d7 SLOT_0_F1
symbol 0ce4e3 SLOT_0_F3
symbol 0ce65d SLOT_0_F4
symbol 0ce697 SLOT_0_EBSP
symbol 0ce698 SLOT_1_P
symbol 0ce6fb SLOT_1_F
symbol 0ce754 SLOT_1_F1
symbol 0ce760 SLOT_1_F3
symbol 0ce7a2 SLOT_1_F4
symbol 0ce7ae SLOT_1_F6
symbol 0ce846 SLOT_1_EBSP
symbol 0ce847 TRAINING_P
symbol 0ce87a TRAINING_F
symbol 0ce8dc TRAINING_F1
symbol 0cea1f FACE_BOX_P
symbol 0cea36 FACE_BOX_F
symbol 0cea5c FACE_BOX_F1
symbol 0ceacf TOW_1_P
symbol 0ceb01 TOW_1_F
symbol 0ceb53 TOW_1_F1
symbol 0ceb5f TOW_1_F3
symbol 0ceb6b TOW_1_F5
symbol 0cec2d TOW_1_F6
symbol 0cec37 TOW_1_F7
symbol 0cec41 TOW_1_EBSP
symbol 0cec42 BASE_0
symbol 0cec42 BASE_0_0
symbol 0cec42 BASE_0_1
symbol 0cec42 BTANK_1
symbol 0cec42 CARRIER
symbol 0cec42 CARRIER_P
symbol 0cec42 TANK_1
symbol 0cec42 HOU_5
symbol 0cec42 KELLOGS
symbol 0cec42 FONT_E
symbol 0cec42 FONT_H
symbol 0cec42 FONT_N
symbol 0cec42 FONT_T
symbol 0cec42 FONT_E2
symbol 0cec42 FONT_E3
symbol 0cec42 FONT_H2
symbol 0cec42 FONT_N2
symbol 0cec42 FONT_T2
symbol 0cec7d CARRIER_F
symbol 0ceccd CARRIER_F1
symbol 0cedd2 TANK_1_P
symbol 0cee06 TANK_1_F
symbol 0cee43 TANK_1_F1
symbol 0cee4f TANK_1_F3
symbol 0cee5a TANK_1_F5
symbol 0ceeaa TANK_1_F6
symbol 0ceec9 TANK_1_F7
symbol 0ceedb TANK_1_EBSP
symbol 0ceedc BASE_0_0_P
symbol 0cefc5 BASE_0_0_F
symbol 0cefee BASE_0_0_F1
symbol 0cf075 BASE_0_1_P
symbol 0cf15e BASE_0_1_F
symbol 0cf187 BASE_0_1_F1
symbol 0cf20e HOU_5_P
symbol 0cf326 HOU_5_F
symbol 0cf34c HOU_5_F1
symbol 0cf3d6 BASE_0_P
symbol 0cf4b0 BASE_0_F
symbol 0cf4f4 BASE_0_F1
symbol 0cf5d7 FONT_E_P
symbol 0cf622 FONT_E_F
symbol 0cf660 FONT_E_F1
symbol 0cf72b FONT_T_P
symbol 0cf746 FONT_T_F
symbol 0cf76c FONT_T_F1
symbol 0cf7e7 FONT_N_P
symbol 0cf828 FONT_N_F
symbol 0cf85a FONT_N_F1
symbol 0cf8fd FONT_H_P
symbol 0cf944 FONT_H_F
symbol 0cf97c FONT_H_F1
symbol 0cfa33 BGMINTRO
# <<< END AUTO-INGESTED <<<
