bank = 0
auto_vectors
tier_down_stubs

# >>> AUTO-INGESTED FROM Star Fox Enhanced SYMBOLS.TXT - do not hand-edit between markers >>>
# Source: third_party/starfox-enhanced/upstream-ultrastarfox/SYMBOLS.TXT
# Regenerate via: py tools/ingest_starfox_enhanced_symbols.py
# These are non-promoting labels; do not convert this block to `name`.
# 690 entries (0 suppressed by hand-authored declarations).
symbol 008000 PAD_B
symbol 008000 LITESRC
symbol 008000 MAP_CTRL
symbol 008000 MF_IRQ
symbol 008000 WSF2_SFLAG4
symbol 008000 KEY_HANGUP
symbol 008000 SPR_VFLIP
symbol 008001 MAP_COUNT
symbol 008002 MQ_X
symbol 008002 M8_X
symbol 008003 MAP_SIZE
symbol 008003 MZ_X
symbol 008003 MOBJ_X
symbol 008003 MQ_Y
symbol 008003 MR_SHAPE
symbol 008003 MM_X
symbol 008003 M8_Y
symbol 008003 MD_X
symbol 008004 MQ_Z
symbol 008004 M8_Z
symbol 008005 MZ_Y
symbol 008005 MOBJ_Y
symbol 008005 MQ_SHAPE
symbol 008005 MR_SIZE
symbol 008005 MM_Y
symbol 008005 M8_SHAPE
symbol 008005 MD_Y
symbol 008006 TABSTART
symbol 008006 ALOGTAB8UL
symbol 008006 MQ_STRAT
symbol 008006 M8_STRAT
symbol 008007 MZ_Z
symbol 008007 MOBJ_Z
symbol 008007 MQ_SIZE
symbol 008007 MM_Z
symbol 008007 M8_SIZE
symbol 008007 MD_Z
symbol 008009 MZ_SHAPE
symbol 008009 MOBJ_SHAPE
symbol 008009 MM_SHAPE
symbol 008009 MD_STRAT
symbol 00800a MZ_STRAT
symbol 00800a MOBJ_STRAT
symbol 00800a MD_SIZE
symbol 00800b MZ_ROTZ
symbol 00800b MOBJ_SIZE
symbol 00800b MM_STRAT
symbol 00800c MZ_SIZE
symbol 00800e MM_MAP
symbol 008010 MM_SIZE
symbol 008106 ALOGTAB8UH
symbol 008206 LOGTAB8U
symbol 008306 LOGTAB8S
symbol 008406 ALOGTAB8S
symbol 008406 BG2PTRS
symbol 00841a BG2TAB1
symbol 00845a BG2TAB2
symbol 00849a BG2TAB3
symbol 0084da BG2TAB4
symbol 008506 ALOGTAB8SL
symbol 00851a BG2TAB5
symbol 00855a BG2TAB6
symbol 00859a PBITTABN
symbol 00859a PBITTAB
symbol 00859a X_DATA_END
symbol 00859a X_DATA_START
symbol 00859a MRNDTAB
symbol 00859a PXOFTAB
symbol 00859a PYOFTAB
symbol 0085d0 BGMENDSEQLEN
symbol 008606 NALOGTAB8S
symbol 00869a DEBUGCHARS
symbol 00869a DEBUGSPACE
symbol 008706 NALOGTAB8SL
symbol 008806 MULDIVTAB
symbol 00895a RECIPTAB16S
symbol 008b5a SHADESTAB
symbol 008b5a DEPTHTABTAB
symbol 008b62 SINTAB
symbol 008ba2 COSTAB
symbol 008ca2 SINTAB16
symbol 008ea4 MYCRAPMASK
symbol 008eb4 MYCRAPCHARS
symbol 009274 ARCTANTAB
symbol 009424 SOUND5LEN
symbol 009474 DEMOSHAPES
symbol 009474 PCOLLW
symbol 009474 PCOLRW
symbol 009490 PCOLB
symbol 0094ac ANDROSS
symbol 0094c8 ANDROSSHOLE
symbol 0094e4 ANDROSSCUBE
symbol 009500 NULLSHAPE
symbol 00951c FOLARGESHAPE
symbol 009538 LARGESHAPE
symbol 009554 MEDIUMSHAPE
symbol 009570 SMALLSHAPE
symbol 00958c FIREBREATH
symbol 0095a8 FIRE
symbol 0095c4 RINGLASER
symbol 0095e0 IRONBALL
symbol 0095fc FIREBALL
symbol 009618 LFIREBALL
symbol 009634 SMOKE
symbol 009650 LSMOKE
symbol 00966c L2SMOKE
symbol 009688 FOLSMOKE
symbol 0096a4 PLANE1LW
symbol 0096c0 PLANE1RW
symbol 0096dc PLANE1B
symbol 0096f8 MOTHER1
symbol 009714 SSPLASH
symbol 009730 SPLASH
symbol 00974c BOUNCYBALL
symbol 009768 LARGEPLASMA
symbol 009784 GRABBER2
symbol 0097a0 NUKE
symbol 0097bc ASTEROID1
symbol 0097d8 ASTEROID2
symbol 0097f4 ASTEROID3
symbol 009810 ASTEROID4
symbol 00982c BIG_METEOR
symbol 009848 CLASTEROID
symbol 009864 BLACKHOLE
symbol 009880 OVALBEAM
symbol 00989c PLASMA
symbol 0098b8 EGG
symbol 0098d4 LFLASH_0
symbol 0098f0 MFLASH_0
symbol 00990c SFLASH_0
symbol 009928 HELPBALL
symbol 009944 SHELPBALL
symbol 009960 EXPLOSION
symbol 00997c EXPLOSION2
symbol 009998 EXPLOSION3
symbol 0099b4 EXPLOSION4
symbol 0099d0 EXPLOSION5
symbol 0099ec AMOEBA1
symbol 009a08 AMOEBA2
symbol 009a24 PEXPLOD
symbol 009a40 ROCKBEAM
symbol 009a5c PLAYERBEAM
symbol 009a78 BOOSTSHAPE
symbol 009a94 GAMESH
symbol 009ab0 OVERSH
symbol 009acc ESCAPEE
symbol 009ae8 SPEXPLOD
symbol 009b04 LFDIE
symbol 009b20 LINE
symbol 009b3c LINE2
symbol 009b58 LINE3
symbol 009b74 LASERLINE
symbol 009b90 WELASER2
symbol 009bac ELASER2A
symbol 009bc8 ELASER2
symbol 009be4 ELASER2_S2
symbol 009c00 SMARK
symbol 009c1c MMARK
symbol 009c38 LMARK
symbol 009c54 WALKER_L
symbol 009c70 WALKER_R
symbol 009c8c WALKER_0
symbol 009ca8 PILLAR2
symbol 009cc4 BEEANIM
symbol 009ce0 PARA_0
symbol 009cfc PARA_1_S
symbol 009d01 PARA_1
symbol 009d1d SMALL_M
symbol 009d39 BIG_M
symbol 009d55 WALL1_S1
symbol 009d5a WALL1
symbol 009d76 WALL2
symbol 009d92 WALL_L
symbol 009dae WALL_R
symbol 009dca ROUND_0S
symbol 009de6 EXPL_4
symbol 009e02 SHIP_1_S
symbol 009e1e HOU_L
symbol 009e3a HOU_L_S
symbol 009e3f HOU_R
symbol 009e5b HOU_R_S
symbol 009e60 D_HEAD_0
symbol 009e7c D_BODY_0
symbol 009e98 D_HEAD_S
symbol 009e9d D_BODY_S
symbol 009ea2 CAMELEON
symbol 009ebe SEA_0
symbol 009eda SEA_0_S
symbol 009edf SEA_0_0
symbol 009efb SEA_0_1
symbol 009f17 SAUSHAD
symbol 009f33 EJECT
symbol 009f4f BIT_0
symbol 009f6b KAMIKAZE
symbol 009f87 KAMI_S
symbol 009fa3 TRUCK
symbol 009fbf DRAIL_0
symbol 009fbf RAIL_0
symbol 009fdb RAIL_4
symbol 009ff7 DRAIL_4
symbol 00a013 DRAIL_0S
symbol 00a018 MISS_1_1
symbol 00a034 MISS_1_2
symbol 00a050 M_TANK
symbol 00a06c MINE_0
symbol 00a088 MINE_0_S
symbol 00a0a4 PILLAR3S
symbol 00a0a9 PILLAR3
symbol 00a0c5 RPILLAR3
symbol 00a0e1 PILLAR3_NS
symbol 00a0fd PILLAR4S
symbol 00a102 PILLAR4
symbol 00a11e GATE_0
symbol 00a12f HEAP
symbol 00a12f FM_NEXT
symbol 00a12f SP_PREV
symbol 00a131 FM_PREV
symbol 00a131 SP_DATA
symbol 00a133 FM_LENGTH
symbol 00a135 FM_SIZE
symbol 00a135 SP_SIZE
symbol 00a13a GATE_1
symbol 00a156 ARM
symbol 00a172 BULGE
symbol 00a18e BOSS_C
symbol 00a18e FLINGBOSS
symbol 00a1aa GRABBER
symbol 00a1aa BOSS_C_1
symbol 00a1c6 NECK
symbol 00a1e2 BOSS_D_0
symbol 00a1fe BOSS_D_1
symbol 00a21a BOSS_D_2
symbol 00a236 BOSS_D_4
symbol 00a252 BOSS_D_5
symbol 00a26e BOSS_D_6
symbol 00a28a BOSS_D_7
symbol 00a2a6 BOSS_D_8
symbol 00a2c2 BOSS_D_9
symbol 00a2de NECK_S
symbol 00a2e3 AIR_1
symbol 00a2ff LMISSILE
symbol 00a31b MISSILE
symbol 00a337 BIG_GATE
symbol 00a353 BASE_1
symbol 00a36f OPEN_L
symbol 00a38b SHIP_S_0
symbol 00a3a7 OP_0
symbol 00a3c3 OP_1
symbol 00a3df OP_2
symbol 00a3fb ROBOT_0
symbol 00a417 METEO_0
symbol 00a433 TUNNEL_7
symbol 00a44f BOSS_H_0
symbol 00a46b BOSS_H_1
symbol 00a487 BOSS_H_1A
symbol 00a4a3 BOSS_H_2
symbol 00a4bf BIG_BIRD
symbol 00a4db T_BOOL_6
symbol 00a4f7 MY_DEMOBS
symbol 00a513 MY_DEMOS
symbol 00a52f MY_DEMO
symbol 00a54b BOSS_H_3
symbol 00a567 SLOT_0
symbol 00a583 SLOT_1
symbol 00a59f TRAINING
symbol 00a5bb FACE_BOX
symbol 00a5d7 TOW_1
symbol 00a5f3 LASER_0
symbol 00a60f STONE_0
symbol 00a62b ROUND_0
symbol 00a647 IRIS
symbol 00a663 EXPL_6
symbol 00a67f EXPL_8
symbol 00a69b BOSS_1_0
symbol 00a6b7 BOSS_1_1
symbol 00a6d3 BOSS_1_2
symbol 00a6ef BOSS_2_0
symbol 00a70b BOSS_2_1
symbol 00a727 BOSS_2_2
symbol 00a743 BOSS_2_3
symbol 00a75f BOSS_2_4
symbol 00a77b BOSS_2_5
symbol 00a797 BOSS_2_6
symbol 00a7b3 BHYPER
symbol 00a7cf HYPER
symbol 00a7eb SHYPER
symbol 00a807 HYPER2
symbol 00a823 HYPER3
symbol 00a83f HYPER4
symbol 00a85b LEXIT_0
symbol 00a877 SHIP_3
symbol 00a893 SSHIP_0_C
symbol 00a8af SHIP_0_C
symbol 00a8cb SHIP_3_S
symbol 00a8e7 EXIT_0
symbol 00a903 EXIT_1
symbol 00a91f LWIREEXIT
symbol 00a93b MWIREEXIT
symbol 00a957 EXITLIGHT
symbol 00a973 BLTUNNELFACE
symbol 00a98f BMTUNNELFACE
symbol 00a9ab EXITFACE
symbol 00a9c7 MEXITFACE
symbol 00a9e3 SHIP3EXITFACE
symbol 00a9ff BSHIPEXITFACE
symbol 00aa1b LBLACKFACE
symbol 00aa37 MBLACKFACE
symbol 00aa53 HOUDAI_0
symbol 00aa6f HOUDAI_1
symbol 00aa8b ZACO_5
symbol 00aaa7 BOSS_7_0
symbol 00aac3 BOSS_7_1
symbol 00aadf BOSS_7_1O
symbol 00aafb BOSS_7_2
symbol 00ab17 BOSS_7_3
symbol 00ab33 BOSS_7_4
symbol 00ab4f ZACO_6
symbol 00ab6b ZACO_8
symbol 00ab87 BZACO_8
symbol 00aba3 ZACO_8P
symbol 00abbf MY_W
symbol 00abdb MY_L_W
symbol 00abf7 MY_R_W
symbol 00ac13 MY_B_W
symbol 00ac2f DOOR_1
symbol 00ac4b RADER_0
symbol 00ac67 RADER_1
symbol 00ac83 TOWER_2
symbol 00ac9f TOWER_2A
symbol 00acbb W_L
symbol 00acd7 ITEM_7
symbol 00acf3 ITEM_5
symbol 00ad0f ITEM_6
symbol 00ad2b RIPAIR_W
symbol 00ad47 ITEM_4
symbol 00ad63 UP1_MAN
symbol 00ad7f ITEM_0
symbol 00ad9b BOM_WING
symbol 00adb7 WIRE_MAN
symbol 00add3 BOSS_8_0
symbol 00adef BOSS_8_1C
symbol 00ae0b BOSS_8_1
symbol 00ae27 BOSS_8_4
symbol 00ae43 BOSS_8_5
symbol 00ae5f SPARKLAS
symbol 00ae7b HOU_4
symbol 00ae97 SHRAP1
symbol 00aeb3 S_0
symbol 00aecf S_1
symbol 00aeeb BOSS_A_6
symbol 00af07 BOSS_A_1
symbol 00af23 BOSS_A_2
symbol 00af3f CORE_1_0
symbol 00af5b CORE_1_1
symbol 00af77 EXIT_2
symbol 00af93 BOSS_A_3
symbol 00afaf BOSS_A_4
symbol 00afcb BOSS_A_5
symbol 00afe7 BOSS_B_0
symbol 00b003 BOSS_B_1
symbol 00b01f SHIP_1
symbol 00b03b ZACO_9
symbol 00b057 BOSS_B_H
symbol 00b073 BOSS_B_L
symbol 00b08f BOSS_B_R
symbol 00b0ab TADPOLE
symbol 00b0c7 ARCH_0
symbol 00b0e3 S_TANK_0
symbol 00b0ff DEBOSS_2
symbol 00b11b IRIS_1
symbol 00b137 PIPE_9_0
symbol 00b153 FONT_D
symbol 00b16f FONT_D2
symbol 00b18b BU_0
symbol 00b1a7 BU_8
symbol 00b1c3 BU_1
symbol 00b1df BOSS_9_0
symbol 00b1fb BOSS_9_5
symbol 00b1fb BOSS_9_6
symbol 00b217 BARRIER
symbol 00b233 BOSS_E_0
symbol 00b24f BOSS_E_1
symbol 00b26b BOSS_E_1A
symbol 00b287 BOSS_E_3
symbol 00b2a3 BOSS_0_0
symbol 00b2bf BOSS_0_0A
symbol 00b2db BOSS_0_1
symbol 00b2f7 BOSS_0_2
symbol 00b313 BOSS_0_3
symbol 00b32f BOLL
symbol 00b34b TUNNEL_0
symbol 00b367 TUNNEL_4
symbol 00b383 KICHI_0
symbol 00b39f KICHI_1
symbol 00b3bb KICHI_2
symbol 00b3d7 KICHI_3
symbol 00b3f3 BOSS_G_0
symbol 00b40f KICHI_4
symbol 00b40f K_DOOR
symbol 00b42b RO_0
symbol 00b447 BRO_0
symbol 00b463 GRO_0
symbol 00b47f RO_1
symbol 00b49b BRO_1
symbol 00b4b7 GRO_1
symbol 00b4d3 RO_2
symbol 00b4ef BRO_2
symbol 00b50b GRO_2
symbol 00b527 RO_3
symbol 00b543 BRO_3
symbol 00b55f GRO_3
symbol 00b57b RO_4
symbol 00b597 BRO_4
symbol 00b5b3 GRO_4
symbol 00b5cf RO_5
symbol 00b5eb BRO_5
symbol 00b607 GRO_5
symbol 00b623 HELI
symbol 00b63f BOSS_E_4
symbol 00b65b RO_6
symbol 00b677 BRO_6
symbol 00b693 GRO_6
symbol 00b6af F_FISH
symbol 00b6cb LEAF
symbol 00b6e1 BOMBICONPOS
symbol 00b6e7 FLOWER
symbol 00b703 STALK
symbol 00b718 SHIELDTEXTPOS1
symbol 00b71f SNAKE_0
symbol 00b720 SHIELDTEXTPOS2
symbol 00b728 SHIELDTEXTPOS3
symbol 00b730 SHIELDTEXTPOS4
symbol 00b73b SNAKE_1
symbol 00b757 STALK_1
symbol 00b773 SNAKE_2
symbol 00b78f STALK_S
symbol 00b7ab FLOWER_1
symbol 00b7c7 FLOWER_2
symbol 00b7e3 SNAKE_3
symbol 00b7ff SNAKE_4
symbol 00b81b WALK_4_0
symbol 00b837 WALK_4_L
symbol 00b853 WALK_4_R
symbol 00b86f LAST_B_0
symbol 00b88b LAST_B_2
symbol 00b8a7 LAST_B_3
symbol 00b8c3 DOOR_L
symbol 00b8df BAZZ_1P
symbol 00b8fb BAZZ_1Q
symbol 00b917 FACE_B
symbol 00b933 SFACE_B
symbol 00b94f SFACE2_B
symbol 00b96b FIREFACE_B
symbol 00b987 FIREFACE1_B
symbol 00b9a3 FACE_0
symbol 00b9bf FACE_0_1
symbol 00b9db BOSS_G_S
symbol 00b9f7 UP_DOOR
symbol 00ba13 PIPE_0
symbol 00ba2f PIPE_1
symbol 00ba4b PIPE_2
symbol 00ba67 PIPE_3
symbol 00ba83 PIPE_4
symbol 00ba9f PIPE_5
symbol 00babb PIPE_6
symbol 00bad7 PETECUBE
symbol 00baf3 LCUBE
symbol 00bb0f GNDLCUBE
symbol 00bb2b NULLPLAYER
symbol 00bb47 BMYSHIP_4
symbol 00bb63 IMYSHIP_4
symbol 00bb7f MYSHIP_4
symbol 00bb9b FRIENDSHIP_4
symbol 00bbb7 BMYSHIP_L
symbol 00bbd3 MYSHIP_L
symbol 00bbef BMYSHIP_R
symbol 00bc0b MYSHIP_R
symbol 00bc27 BMYSHIP_B
symbol 00bc43 MYSHIP_B
symbol 00bc5f BU_3
symbol 00bc7b BU_4
symbol 00bc97 BU_5
symbol 00bcb3 BU_6
symbol 00bccf BU_7
symbol 00bceb BOSS_F_0
symbol 00bd07 BOSS_F_1
symbol 00bd23 BOSS_F_1A
symbol 00bd3f BOSS_F_2
symbol 00bd5b BOSS_F_3
symbol 00bd77 BOSS_F_4
symbol 00bd93 BOSS_F_5
symbol 00bdaf BOSS_F_6
symbol 00bdcb BOSS_F_7
symbol 00bde7 BOSS_F_8
symbol 00be03 BOSS_F_9
symbol 00be1f BOSS_F_8A
symbol 00be3b BOSS_F_9A
symbol 00be57 TUNNEL_6
symbol 00be73 TUNNEL_8
symbol 00be8f WALL_0
symbol 00beab WALL_1
symbol 00bec7 WALL_2
symbol 00bee3 WALL_3
symbol 00beff WALL_4
symbol 00bf1b WALL_5
symbol 00bf37 WALL_6
symbol 00bf53 WALL_7
symbol 00bf6f SPILLAR2
symbol 00bf8b COCKPIT
symbol 00bfa7 MY_UP
symbol 00bfc3 MYZOOM_B
symbol 00bfdf MYZOOM_L
symbol 00bffb MYZOOM_R
symbol 00c017 BOSS_B_6
symbol 00c033 BOSS_B_7
symbol 00c04f BOSS_F_B
symbol 00c06b R_BU_0
symbol 00c087 R_BU_1
symbol 00c0a3 R_BU_2
symbol 00c0bf R_BUT_2
symbol 00c0db R_BU_3
symbol 00c0f7 R_BU_4
symbol 00c113 R_BU_5
symbol 00c12f R_BU_6
symbol 00c14b R_BU_7
symbol 00c167 ZACO_4
symbol 00c183 ZACO_4P
symbol 00c19f SHIP_5
symbol 00c1bb SHIP_5L
symbol 00c1d7 SHIP_5M
symbol 00c1f3 SHIP_5S
symbol 00c20f SHIP_5_S
symbol 00c22b HOU_3
symbol 00c247 SHIPS
symbol 00c263 S_DOOR
symbol 00c27f S_DOOR_1
symbol 00c29b S_DOOR_3
symbol 00c2b7 S_DOOR_2
symbol 00c2d3 ZACO_7
symbol 00c2ef ZACO_7P
symbol 00c30b SSPIECE
symbol 00c327 MSPIECE
symbol 00c343 LSPIECE
symbol 00c35f LENG_0
symbol 00c37b SHARK
symbol 00c397 AMISSILE
symbol 00c3b3 S_ZACO_0
symbol 00c3cf S_WARK_0
symbol 00c3eb ZACO_0
symbol 00c407 ZACO_1
symbol 00c423 D_PILAR
symbol 00c43f HALF_D
symbol 00c45b SLOT_3
symbol 00c477 SLOT_2
symbol 00c493 SLOT_4
symbol 00c4af TOW_0
symbol 00c4cb PAPER_3
symbol 00c4e7 PAPER_1
symbol 00c503 BOU_0
symbol 00c51f BOU_1
symbol 00c53b BOU_1B
symbol 00c557 SPACEPILON
symbol 00c573 PILON
symbol 00c58f BU_2
symbol 00c5ab MYZOOM_4
symbol 00c5c7 MYBASE_0
symbol 00c5e3 MYBASE_1
symbol 00c5ff SHIP_S_1
symbol 00c61b SHIP_4
symbol 00c637 SHIP_4_S
symbol 00c653 BWARKER_3
symbol 00c66f WARKER_3
symbol 00c68b BAZOOKA
symbol 00c6a7 BAZOOKA1
symbol 00c6c3 BAZOOKA2
symbol 00c6df UPER_M
symbol 00c6fb WARP
symbol 00c717 WARP_1
symbol 00c733 WARP_2
symbol 00c74f WARP_3
symbol 00c76b TANK_2
symbol 00c787 F_DRAGON
symbol 00c7a3 F_DRA_1
symbol 00c7bf XWIRESPACEBAR
symbol 00c7db XSOLIDSPACEBAR
symbol 00c7f7 XPWIRESPACEBAR
symbol 00c813 XPSOLIDSPACEBAR
symbol 00c82f XPWIRESPACEBARROTY
symbol 00c84b XPSOLIDSPACEBARROTY
symbol 00c867 YWIRESPACEBAR
symbol 00c883 YSOLIDSPACEBAR
symbol 00c89f ZWIRESPACEBAR
symbol 00c8bb ZSOLIDSPACEBAR
symbol 00c8d7 SXWIRESPACEBAR
symbol 00c8f3 SXSOLIDSPACEBAR
symbol 00c90f SXPWIRESPACEBAR
symbol 00c92b SXPSOLIDSPACEBAR
symbol 00c947 SXPWIRESPACEBARROTY
symbol 00c963 SXPSOLIDSPACEBARROTY
symbol 00c97f SYWIRESPACEBAR
symbol 00c99b SYSOLIDSPACEBAR
symbol 00c9b7 SZWIRESPACEBAR
symbol 00c9d3 SZSOLIDSPACEBAR
symbol 00c9ef COLONY_0
symbol 00ca0b COLONY_1
symbol 00ca27 COLONY_3L
symbol 00ca43 COLONY3L
symbol 00ca5f COLONY3R
symbol 00ca7b R_HOU
symbol 00ca97 R_HOU_0
symbol 00cab3 S_HOU_0
symbol 00cacf B_HOU_0
symbol 00caeb COLONY_2
symbol 00cb07 WALKER_2
symbol 00cb23 SVOLCANO
symbol 00cb3f VOLCANO
symbol 00cb5b B_HOLL
symbol 00cb77 C_MISS
symbol 00cb93 SHIELDR
symbol 00cbaf ZACO_B
symbol 00cbcb ZACO_A
symbol 00cbe7 RAY_0
symbol 00cc03 RAY_BLUE
symbol 00cc1f RAY_1
symbol 00cc3b RAY_BRED
symbol 00cc57 CLISLA_L
symbol 00cc73 CLISLA_M
symbol 00cc8f CLISLA_S
symbol 00ccab CAR_0
symbol 00ccc7 CAR_1
symbol 00cce3 MINE_2
symbol 00ccff ROUND0P
symbol 00cd1b GATE_2
symbol 00cd37 S_FISH
symbol 00cd53 BAZZ_1
symbol 00cd6f IKA
symbol 00cd8b LINE_0
symbol 00cda7 LINE_1
symbol 00cdc3 LINE_2
symbol 00cddf PIPE_8
symbol 00cdfb PIPE_8_0
symbol 00ce17 PIPE_9
symbol 00ce33 OLD_TYPE
symbol 00ce4f OLD_TYPP
symbol 00ce6b DEBOSS_0
symbol 00ce87 DEBOSS_1
symbol 00cea3 MY_BIRD
symbol 00cebf WHALE
symbol 00cedb POLE_0
symbol 00cef7 FACE_1
symbol 00cf13 ITEM_3
symbol 00cf2f RIP_MAN
symbol 00cf4b CARRIER
symbol 00cf67 TANK_1
symbol 00cf83 BTANK_1
symbol 00cf9f KELLOGS
symbol 00cfbb BASE_0_0
symbol 00cfd7 BASE_0_1
symbol 00cff3 HOU_5
symbol 00d00f BASE_0
symbol 00d02b FONT_E
symbol 00d047 FONT_E2
symbol 00d063 FONT_E3
symbol 00d07f FONT_T
symbol 00d09b FONT_T2
symbol 00d0b7 FONT_N
symbol 00d0d3 FONT_N2
symbol 00d0ef FONT_H
symbol 00d10b FONT_H2
symbol 00d127 START
symbol 00d12b ABORT_VE
symbol 00d12b ABORT_VN
symbol 00d12b BREAK_VN
symbol 00d12b IRQ_VE
symbol 00d12b COP_VE
symbol 00d12b COP_VN
symbol 00d12b NMI_VE
symbol 00d12b RESET_VN
symbol 00f12f FMTEMP1
symbol 00f131 FMTEMP2
symbol 00f133 FMTEMP3
symbol 00f135 FREESPARE
symbol 00f137 STACKDATA
symbol 00f13b PATHPTR
symbol 00fffb REFLECTIONMAP
symbol 00fffc PHONGSHADE
symbol 00fffd BUMPMAP
symbol 00fffe SMOOTHSHADE
symbol 00ffff WM
symbol 00ffff TEXTURED
# <<< END AUTO-INGESTED <<<
