bank = 1

# >>> AUTO-INGESTED FROM Star Fox Enhanced SYMBOLS.TXT - do not hand-edit between markers >>>
# Source: third_party/starfox-enhanced/upstream-ultrastarfox/SYMBOLS.TXT
# Regenerate via: py tools/ingest_starfox_enhanced_symbols.py
# These are non-promoting labels; do not convert this block to `name`.
# 320 entries (0 suppressed by hand-authored declarations).
symbol 018000 MARIOBEGIN
symbol 018000 RZTAB
symbol 018000 YYY
symbol 018000 MSHAPE_JMP_TAB
symbol 018058 MSQRT16
symbol 018079 MTESTSQRT32
symbol 018086 MSQRT32
symbol 0180ac MTESTNORM16
symbol 0180bc MVECTOR_FROM
symbol 0180c5 MNORMALISE16
symbol 01814d MDIVS3216
symbol 01816a MDIVS3216LOOP
symbol 018175 MDIVS3216CC
symbol 01817a MDIVS3216END
symbol 018181 MDIVS3216RTS
symbol 018183 MDIVU3216
symbol 01818d MDIVU3216M
symbol 018192 MDIVU3115
symbol 018199 MDIVU3115LOOP
symbol 0181a3 MDIVU3115CC
symbol 0181aa MCALLARCTAN16
symbol 0181be MARCTAN16
symbol 0181df MARCTAN21
symbol 0181ed MARCTAN7
symbol 0181f7 MARCTAN3
symbol 018223 MARCTAN4
symbol 01822c MARCTAN5
symbol 018235 MARCTAN6
symbol 01823e MWMATROTP16
symbol 018295 MCROTWMATZXY16
symbol 01829f MCROTMATZXY16
symbol 0183c0 MDBUG
symbol 0183cf MSHOWOBJ
symbol 01840a MSHOWOBJ3
symbol 018456 MSHOWOBJ2
symbol 01846b MSHOWSHADOW
symbol 018479 MSHOWOBJECT
symbol 018484 MSHOWO
symbol 01848f MINIT3DVARS
symbol 0184fd MSHOW1
symbol 018615 INITLIGHT
symbol 018681 MEXEC_SHAPE
symbol 0186e7 MSH_SPHERES
symbol 0186e7 MSH_OUTWORD
symbol 0186e7 MSH_LINES
symbol 0186e7 MSH_QUIT
symbol 0186ec MSH_FRAMES
symbol 018700 MSH_JUMP
symbol 018709 MSH_ROTPOINTS16
symbol 018709 MSH_VNORMALS
symbol 018790 MSH_ROTPOINTSX16
symbol 01881f MSH_ROTPOINTS8_16
symbol 0188af MSH_ROTPOINTSX8_16
symbol 018938 MMATROTP
symbol 018938 MSH_ROTPOINTS8
symbol 01896a MMATROTPLOOP
symbol 0189af MMATROTPX
symbol 0189af MSH_ROTPOINTSX8
symbol 0189e0 MMATROTPXLOOP
symbol 018a4b PROJECTPNTS
symbol 018a4b MSH_ENDPOINTS
symbol 018a6b OUTPROJPLOOP
symbol 018a86 OUTPROJ1
symbol 018a91 OUTPROJZNEAR1
symbol 018ac8 OUTPROJ2
symbol 018ac9 OUTPROJ3
symbol 018ad9 OUTPROJ4
symbol 018ada OUTPROJ5
symbol 018af5 OUTPROJZNEAR
symbol 018b05 OUTPROJZ1
symbol 018b57 MTESTOUTCODES
symbol 018b57 SKIPOUT
symbol 018b81 MSH_BSPINIT
symbol 018b91 MSH_BSPE
symbol 018b9f MSH_BSPEND
symbol 018ba4 MSH_BSP
symbol 018bd0 MBSPVIS
symbol 018c08 MSH_BSPOUT
symbol 018c31 MZSORTINIT
symbol 018c31 MSH_GROUPS
symbol 018c4a MZSORTINITLOOP
symbol 018c54 MGROUPLOOP
symbol 018c5f MZSORTLOOP
symbol 018c69 MZSORTLOOP1
symbol 018c8f MSH_S_SPRITEVIS
symbol 018ca2 MSH_S_SPRITE
symbol 018d07 MFACESEND
symbol 018d14 MFACELOOP
symbol 018d14 MFACES
symbol 018d14 MSH_FACES
symbol 018d2c MFACELOOP1
symbol 018d38 MVISTEST
symbol 018d51 MISVIS
symbol 018d54 MISLINE
symbol 018d68 MCOPYPOLY
symbol 018dcb MSKIPTEX2
symbol 018dd7 MOFF_COPYPOLY
symbol 018e36 MSKIPTEX
symbol 018e38 MCHKPOLY
symbol 018e86 MCLPPOLY2D
symbol 018e94 MCLIPTEX
symbol 018e97 MTXCLPPOLY2D
symbol 018ea1 MFACEON
symbol 018ead MFACELABEL
symbol 018eb5 MFACELABEL2
symbol 018eb8 MFACENOTVIS
symbol 018ebc MSHOWOBJEND
symbol 018ebc MSH_ENDSHAPE
symbol 018ebc MSHOWOBJEXIT
symbol 018ecb MSHOWOBJEXIT_NOTDRAWN
symbol 018ece MEXPFACESVIS
symbol 018f3a MEXPFACESNVIS
symbol 018fbd MEXPFACESINIT
symbol 01904f MDO_COLOUR
symbol 019076 MDO_COLOUR_NG
symbol 019137 MDO_COLOURL
symbol 01917c LIGHTSRC1
symbol 019185 LIGHTSRC2
symbol 019192 MDO_COLOUR5
symbol 019195 MDO_COLOUR4
symbol 01919c MDO_COLOUR_RTS
symbol 01919e MSH_VIZIS
symbol 01920f MSHON_VIZIS
symbol 01925a MDO_VIS
symbol 019267 MPROJECTPNT
symbol 019267 MPROJECTSTART
symbol 0193f4 MDO_OUTCODE
symbol 01940e MDO_OUTCODELEFT
symbol 01940f MDO_OUTCODEX
symbol 019421 MDO_OUTCODETOP
symbol 019422 MDO_OUTCODEY
symbol 01942d MDO_PROJECTEXG
symbol 019433 MDO_PROJECT
symbol 019497 MPDIVU3216
symbol 0194a1 MPDIVU3216M
symbol 0194a6 MPDIVU3115
symbol 0194ad MPDIVU3115LOOP
symbol 0194b7 MPDIVU3115CC
symbol 0194be MPROJECTPNTLIST
symbol 019502 MTRANSMAT16
symbol 019532 MRMATMULT16
symbol 01962e MROTPNTY
symbol 01966f MCLIP3DLINE
symbol 01967d MMP2
symbol 019686 MMPC1
symbol 0196a1 MMP0
symbol 0196ba MMP1
symbol 0196c9 MMPX
symbol 0196e2 MMPC2
symbol 0196eb MMP20
symbol 019704 MMP21
symbol 019713 MMP2X
symbol 01972c MCLIPPOLY3D
symbol 0197ad MCLIP3DLOOP
symbol 01982b MCLIP3DOFF
symbol 01983f MPROJECTPOLY
symbol 019889 MCLIP3DEXIT
symbol 01988f MTXCLIPPOLY2D
symbol 0198a1 MTXCLIP2D_LEFT
symbol 0199bf MTXCLIP2D_RIGHT
symbol 019ae3 MTXCLIP2D_TOP
symbol 019c08 MTXCLIP2D_BOT
symbol 019d38 MTXCLIPPOLY2DEXIT
symbol 019d3e MTCLIPLINE2D
symbol 019d41 MTLCLIP2D_LEFT
symbol 019dee MTLCLIP2D_RIGHT
symbol 019ea1 MTLCLIP2D_TOP
symbol 019f54 MTLCLIP2D_BOT
symbol 01a014 MTCLIPPOLY2D
symbol 01a026 MTCLIP2D_LEFT
symbol 01a101 MTCLIP2D_RIGHT
symbol 01a1e2 MTCLIP2D_TOP
symbol 01a295 MTCLIP2D_BOT
symbol 01a353 MTCLIPPOLY2DEXIT
symbol 01a359 MLINE
symbol 01a3b6 MTSCANSTART
symbol 01a3b6 MDRAWTPOLY
symbol 01a44c MTHLINES
symbol 01a472 THLINES1
symbol 01a4cd CTHLINES
symbol 01a501 CTHLINESRTS
symbol 01a53b MTNEWX1
symbol 01a556 MTNEWX11
symbol 01a5d2 MTNEWX2
symbol 01a5ed MTNEWX21
symbol 01a66b MTSCANEXIT
symbol 01a66b MTSCANHLINE
symbol 01a66f MSCANSTART
symbol 01a66f MDRAWPOLY
symbol 01a6d6 MNEWX1
symbol 01a6e3 MNEWX11
symbol 01a6e5 MNEWX1INIT
symbol 01a719 MNEWX2
symbol 01a723 MNEWX21
symbol 01a756 HLINES1
symbol 01a756 MHLINES
symbol 01a760 HLINES2
symbol 01a762 HLINES3
symbol 01a787 MSCANEXIT
symbol 01a787 MSCANHLINE
symbol 01a78b MSHOWSPR
symbol 01a78d MSHOWGRID
symbol 01a7b5 MGRIDZLOOP
symbol 01a7bf MGRIDXLOOP
symbol 01a7c3 MGRDRAWDOTRTS
symbol 01a7fe MGRDRAWDOT
symbol 01a80a MGRDRAWDOT1
symbol 01a85d MGRDRAWDOT3
symbol 01a861 MGRDRAWDOT4
symbol 01a865 MINITDUST
symbol 01a8a1 MSHOWDUST2
symbol 01a8a8 MSHOWDUST2RET
symbol 01a8aa MSHOWDUST
symbol 01a8bd MROTDUSTLOOP
symbol 01aa0d MPROJDUST
symbol 01aa10 MPROJDUSTLOOP2
symbol 01aa1c MPROJDUSTLOOP
symbol 01aa32 MDRAWDUST
symbol 01aac7 MPROJDUSTOFF
symbol 01aad7 MCALC_CIRCLE
symbol 01aae1 PLOPPY
symbol 01ab03 MCIR1
symbol 01ab70 MCIR2
symbol 01ac21 MDO_3D_DISPLAY
symbol 01ac48 MSHOWVIEW
symbol 01ac9b MSHOW
symbol 01acaa MDRAWLOOP
symbol 01af85 MBOOSTMETER
symbol 01afbc MDAMAGEMETER
symbol 01affd MDRAWBOSSHP
symbol 01b063 MDRAWSOLIDBOX
symbol 01b07c MDRAWBOX
symbol 01b09f MDRAWHORZLINE
symbol 01b0ab MCLRMAPSCREEN
symbol 01b0bb MCLRPEPPERSCREEN
symbol 01b0cb MCLRBITMAPS
symbol 01b0db MCLRBITMAPS2
symbol 01b0f2 MCLRBITMAPS3
symbol 01b109 MTUNNELV
symbol 01b18f MALLROTZSORT
symbol 01b311 MDECRUNCH
symbol 01b347 MDECLOOP
symbol 01b3d1 MGETCOM
symbol 01b4aa MGETLONG
symbol 01b4c2 MGETBITS
symbol 01b4c6 MGETBITS2
symbol 01b4d4 MGETBITS3
symbol 01b4ef MDECCLEAR
symbol 01b4fe MSPRINTSTR
symbol 01b519 MGPRINTSTR
symbol 01b539 MFPRINTSTR
symbol 01b54f MPRINTCLIPPEDSTR
symbol 01b55b MPRINTSTR
symbol 01b56a MPRINTSTRIN
symbol 01b56e MPRINTSTRIN2
symbol 01b576 MPRINTSTRIN3
symbol 01b614 MGETLINELEN
symbol 01b684 MSHOWPERCGRAPH
symbol 01b6b2 MCALCPERC
symbol 01b6c7 MKRISDIVU3115
symbol 01b6d8 MPRTPERC
symbol 01b708 MPRTDECSTOP
symbol 01b70f MPRTDEC
symbol 01b76a MPRT2ZEROS
symbol 01b778 MPRTNUM
symbol 01b7a9 MSHOWTEAMMATE
symbol 01b7e1 MSHOWTEAMMATE2
symbol 01b817 MDRAWTSPHERE
symbol 01b817 MDRAWSPHERE
symbol 01b9a8 MSPHERE_EXIT
symbol 01b9b1 MSPH_SQRT16
symbol 01b9d2 MGENZLIST
symbol 01b9fc MDRAWTSPHERESTART
symbol 01ba30 MTSPHERELINE
symbol 01ba3f MGENUVLIST
symbol 01ba5c MGENUVLIST1
symbol 01baaa MGENUVLISTX
symbol 01bb0b MDRAWUVLIST
symbol 01bb28 MDRAWUVLISTX
symbol 01bc06 M_UVTAB
symbol 01cc06 MDRAWSPRITE32
symbol 01cc69 MUSPRITE
symbol 01ccb8 MSSPRITE
symbol 01cd33 MUSPRITE_ENTRY
symbol 01cd38 MUSPRITE_ENTRY_NOPUSH
symbol 01ce0a MFAST_PROJECTPNT
symbol 01ce4f MLARGESSPR
symbol 01cf00 MSPRINT
symbol 01d04e MLARGESCALE
symbol 01d16b MCOPYFACE
symbol 01d1a8 MMAKE_PARTICLES
symbol 01d481 MSHOW_PARTICLES
symbol 01d495 MROTPARTLOOP
symbol 01d634 MUPDATE_PARTICLES
symbol 01d69b MBUMWIPE
symbol 01d6f8 MWINDRAWLINE
symbol 01d753 MWINSWPLST
symbol 01d77b MDRAWHUD
symbol 01d838 MDRAWHUDLINE
symbol 01d8c3 MDODRAWLINE
symbol 01d914 CHARBANKS
symbol 01d914 FONTDATA
symbol 01d91a FONT0WID
symbol 01d9a6 FONT0FON
symbol 01e6c6 FONT0TRN
symbol 01e7a6 PAUSETXT
symbol 01e7ae SCORETXT
symbol 01e7b5 TOTALSCORETXT
symbol 01e7c2 SLASHTXT
symbol 01e7c5 PERCENTTXT
symbol 01e7d1 BONUSTXT
symbol 01e7e1 TEAMTXT
symbol 01e7f6 PERCENTTXT2
symbol 01e7f9 PERFECTTXT
symbol 01e804 SLIPPYTXT
symbol 01e80c PEPPYTXT
symbol 01e813 FALCOTXT
symbol 01e81a DEADTXT
symbol 01e823 STAGETXT
symbol 01fbc3 MESSAGES
# <<< END AUTO-INGESTED <<<
