# bank11.cfg - auto-created by ingest_starfox_enhanced_symbols.py

bank = 11

# >>> AUTO-INGESTED FROM Star Fox Enhanced SYMBOLS.TXT - do not hand-edit between markers >>>
# Source: third_party/starfox-enhanced/upstream-ultrastarfox/SYMBOLS.TXT
# Regenerate via: py tools/ingest_starfox_enhanced_symbols.py
# These are non-promoting labels; do not convert this block to `name`.
# 756 entries (0 suppressed by hand-authored declarations).
symbol 118000 FACE_1
symbol 118000 DEBOSS_0
symbol 118000 DEBOSS_1
symbol 118000 BWARKER_3
symbol 118000 BAZZ_1
symbol 118000 BAZOOKA
symbol 118000 BAZOOKA1
symbol 118000 BAZOOKA2
symbol 118000 CAR_0
symbol 118000 CAR_1
symbol 118000 ZACO_A
symbol 118000 ZACO_B
symbol 118000 IKA
symbol 118000 SVOLCANO
symbol 118000 GATE_2
symbol 118000 WHALE
symbol 118000 SXWIRESPACEBAR
symbol 118000 PIPE_8
symbol 118000 PIPE_9
symbol 118000 PIPE_8_0
symbol 118000 MYZOOM_4
symbol 118000 WALKER_2
symbol 118000 TANK_2
symbol 118000 CLISLA_L
symbol 118000 CLISLA_M
symbol 118000 CLISLA_S
symbol 118000 R_HOU_0
symbol 118000 R_HOU
symbol 118000 WARP_1
symbol 118000 WARP_2
symbol 118000 WARP_3
symbol 118000 WARP
symbol 118000 WARKER_3
symbol 118000 RAY_0
symbol 118000 RAY_1
symbol 118000 RAY_BRED
symbol 118000 RAY_BLUE
symbol 118000 SXSOLIDSPACEBAR
symbol 118000 B_HOLL
symbol 118000 B_HOU_0
symbol 118000 COLONY3L
symbol 118000 COLONY3R
symbol 118000 COLONY_0
symbol 118000 COLONY_1
symbol 118000 COLONY_2
symbol 118000 COLONY_3L
symbol 118000 S_HOU_0
symbol 118000 XPWIRESPACEBARROTY
symbol 118000 XPWIRESPACEBAR
symbol 118000 MYBASE_0
symbol 118000 MYBASE_1
symbol 118000 SYWIRESPACEBAR
symbol 118000 XSOLIDSPACEBAR
symbol 118000 OLD_TYPE
symbol 118000 OLD_TYPP
symbol 118000 F_DRAGON
symbol 118000 F_DRA_1
symbol 118000 POLE_0
symbol 118000 SYSOLIDSPACEBAR
symbol 118000 XWIRESPACEBAR
symbol 118000 YSOLIDSPACEBAR
symbol 118000 YWIRESPACEBAR
symbol 118000 SZWIRESPACEBAR
symbol 118000 XPSOLIDSPACEBARROTY
symbol 118000 SXPWIRESPACEBARROTY
symbol 118000 SXPSOLIDSPACEBARROTY
symbol 118000 SXPWIRESPACEBAR
symbol 118000 XPSOLIDSPACEBAR
symbol 118000 SXPSOLIDSPACEBAR
symbol 118000 SZSOLIDSPACEBAR
symbol 118000 C_MISS
symbol 118000 ZSOLIDSPACEBAR
symbol 118000 ZWIRESPACEBAR
symbol 118000 BU_2_P
symbol 118000 BU_2
symbol 118000 SHIP_4
symbol 118000 SHIP_4_S
symbol 118000 SHIELDR
symbol 118000 SHIP_S_1
symbol 118000 S_FISH
symbol 118000 LINE_0
symbol 118000 LINE_1
symbol 118000 LINE_2
symbol 118000 ROUND0P
symbol 118000 MINE_2
symbol 118000 UPER_M
symbol 118000 MY_BIRD
symbol 118000 VOLCANO
symbol 118021 BU_2_F
symbol 118032 BU_2_F1
symbol 118069 MYZOOM_4_P
symbol 11808c MYZOOM_4_F
symbol 1180ec MYZOOM_4_F1
symbol 1180f7 MYZOOM_4_F3
symbol 118102 MYZOOM_4_F5
symbol 118128 MYZOOM_4_F6
symbol 118160 MYZOOM_4_F7
symbol 11816b MYZOOM_4_F9
symbol 118176 MYZOOM_4_F11
symbol 11819c MYZOOM_4_F12
symbol 1181b0 MYZOOM_4_EBSP
symbol 1181b1 MYBASE_0_P
symbol 118249 MYBASE_0_F
symbol 1182db MYBASE_0_F1
symbol 1184d1 MYBASE_0_EBSP
symbol 1184d2 MYBASE_1_P
symbol 1184e1 MYBASE_1_F
symbol 1184e6 MYBASE_1_F1
symbol 1184f3 SHIP_S_1_P
symbol 118514 SHIP_S_1_F
symbol 11851c SHIP_S_1_F1
symbol 118535 SHIP_4_P
symbol 1185ab SHIP_4_F
symbol 118646 SHIP_4_F1
symbol 118651 SHIP_4_F3
symbol 11865c SHIP_4_F5
symbol 118667 SHIP_4_F7
symbol 1186d9 SHIP_4_F8
symbol 1186f6 SHIP_4_F9
symbol 11872a SHIP_4_F10
symbol 118735 SHIP_4_F12
symbol 1187a7 SHIP_4_F13
symbol 1187c4 SHIP_4_EBSP
symbol 1187c5 SHIP_4_S_P
symbol 1187df SHIP_4_S_F
symbol 1187ff SHIP_4_S_F1
symbol 118864 WARKER_3_P
symbol 1189fc WARKER_3_F
symbol 118a1c WARKER_3_F1
symbol 118a27 WARKER_3_F3
symbol 118a4c WARKER_3_F4
symbol 118a68 WARKER_3_EBSP
symbol 118a69 BAZOOKA_P
symbol 118b3a BAZOOKA_F
symbol 118b9d BAZOOKA_F1
symbol 118ba9 BAZOOKA_F3
symbol 118bb4 BAZOOKA_F5
symbol 118bbf BAZOOKA_F7
symbol 118bdc BAZOOKA_F8
symbol 118c05 BAZOOKA_F9
symbol 118c37 BAZOOKA_F10
symbol 118c87 BAZOOKA_EBSP
symbol 118c88 BAZOOKA1_P
symbol 118c9f BAZOOKA1_F
symbol 118cb9 BAZOOKA1_F1
symbol 118d0a BAZOOKA2_P
symbol 118d1b BAZOOKA2_F
symbol 118d32 BAZOOKA2_F1
symbol 118d75 UPER_M_P
symbol 118da4 UPER_M_F
symbol 118deb UPER_M_F1
symbol 118ee4 WARP_P
symbol 118f14 WARP_F
symbol 118f5a WARP_F1
symbol 118f65 WARP_F3
symbol 118f70 WARP_F5
symbol 118fa8 WARP_F6
symbol 118fd0 WARP_F7
symbol 119000 WARP_EBSP
symbol 119001 WARP_1_P
symbol 119024 WARP_1_F
symbol 119029 WARP_1_F1
symbol 1190f4 WARP_2_P
symbol 119125 WARP_2_F
symbol 11912a WARP_2_F1
symbol 1191c5 WARP_3_P
symbol 1191e2 WARP_3_F
symbol 1191e7 WARP_3_F1
symbol 119232 TANK_2_P
symbol 11926e TANK_2_F
symbol 1192cc TANK_2_F1
symbol 1192d8 TANK_2_F3
symbol 119358 TANK_2_F4
symbol 119364 TANK_2_F6
symbol 1193a9 TANK_2_F7
symbol 1193d0 TANK_2_EBSP
symbol 1193d1 F_DRAGON_P
symbol 1194f8 F_DRAGON_F
symbol 119592 F_DRAGON_F1
symbol 11959d F_DRAGON_F3
symbol 1195c3 F_DRAGON_F4
symbol 1195ce F_DRAGON_F6
symbol 1195f4 F_DRAGON_F7
symbol 1195ff F_DRAGON_F9
symbol 11960a F_DRAGON_F11
symbol 119627 F_DRAGON_F12
symbol 119632 F_DRAGON_F14
symbol 11964f F_DRAGON_F15
symbol 119690 F_DRAGON_F16
symbol 11969b F_DRAGON_F18
symbol 1196dc F_DRAGON_EBSP
symbol 1196dd F_DRA_1_P
symbol 119807 F_DRA_1_F
symbol 119849 F_DRA_1_F1
symbol 119854 F_DRA_1_F3
symbol 119860 F_DRA_1_F5
symbol 11986a F_DRA_1_F6
symbol 11988a F_DRA_1_F7
symbol 119896 F_DRA_1_F9
symbol 1198bb F_DRA_1_F10
symbol 1198db F_DRA_1_EBSP
symbol 1198dc XSPACEBAR_P
symbol 1198f7 XSPACEBARROTY_P
symbol 11992a YSPACEBAR_P
symbol 119945 ZSPACEBAR_P
symbol 119960 SXSPACEBAR_P
symbol 11997b SXSPACEBARROTY_P
symbol 1199ae SYSPACEBAR_P
symbol 1199c9 SZSPACEBAR_P
symbol 1199e4 SOLIDSPACEBAR_F
symbol 119a37 WIRESPACEBAR_F
symbol 119a9f COLONY_0_P
symbol 119b4c COLONY_0_F
symbol 119bc3 COLONY_0_F1
symbol 119bcf COLONY_0_F3
symbol 119d6a COLONY_0_F4
symbol 119d86 COLONY_0_EBSP
symbol 119d87 COLONY_1_P
symbol 119dde COLONY_1_F
symbol 119e04 COLONY_1_F1
symbol 119e14 COLONY_1_F3
symbol 119e26 COLONY_1_F4
symbol 119e6e COLONY_1_EBSP
symbol 119e6f COLONY_3L_P
symbol 119ebd COLONY_3L_F
symbol 119efc COLONY_3L_F1
symbol 119f08 COLONY_3L_F3
symbol 119f14 COLONY_3L_F5
symbol 119f20 COLONY_3L_F7
symbol 119f34 COLONY_3L_F8
symbol 119f54 COLONY_3L_F9
symbol 119f7e COLONY_3L_F10
symbol 119f90 COLONY_3L_EBSP
symbol 119f91 COLONY3L_P
symbol 119fdf COLONY3L_F
symbol 11a02e COLONY3L_F1
symbol 11a03a COLONY3L_F3
symbol 11a046 COLONY3L_F5
symbol 11a052 COLONY3L_F7
symbol 11a05e COLONY3L_F8
symbol 11a06a COLONY3L_F10
symbol 11a080 COLONY3L_F11
symbol 11a08a COLONY3L_F12
symbol 11a096 COLONY3L_F14
symbol 11a0b6 COLONY3L_F15
symbol 11a0c0 COLONY3L_F16
symbol 11a0ca COLONY3L_EBSP
symbol 11a0cb COLONY3R_P
symbol 11a119 COLONY3R_F
symbol 11a165 COLONY3R_F1
symbol 11a171 COLONY3R_F3
symbol 11a17d COLONY3R_F5
symbol 11a189 COLONY3R_F7
symbol 11a195 COLONY3R_F8
symbol 11a1b5 COLONY3R_F9
symbol 11a1c1 COLONY3R_F10
symbol 11a1cd COLONY3R_F12
symbol 11a1d7 COLONY3R_F13
symbol 11a1ed COLONY3R_F14
symbol 11a1ff COLONY3R_EBSP
symbol 11a200 S_HOU_0_P
symbol 11a223 S_HOU_0_F
symbol 11a255 S_HOU_0_F1
symbol 11a2f4 COLONY_2_P
symbol 11a4f2 COLONY_2_F
symbol 11a558 COLONY_2_F1
symbol 11a563 COLONY_2_F3
symbol 11a5a5 COLONY_2_F4
symbol 11a5b1 COLONY_2_F6
symbol 11a5d1 COLONY_2_F7
symbol 11a5dd COLONY_2_F9
symbol 11a5fd COLONY_2_F10
symbol 11a652 COLONY_2_EBSP
symbol 11a653 WALKER_2_P
symbol 11a947 WALKER_2_F
symbol 11a99e WALKER_2_F1
symbol 11a9a9 WALKER_2_F3
symbol 11a9b5 WALKER_2_F5
symbol 11a9c2 WALKER_2_F7
symbol 11aa1b WALKER_2_F8
symbol 11aa41 WALKER_2_F9
symbol 11aa53 WALKER_2_F10
symbol 11aa94 WALKER_2_EBSP
symbol 11aa95 VOLCANO_P
symbol 11aaaa VOLCANO_F
symbol 11aabe VOLCANO_F1
symbol 11aafd B_HOLL_P
symbol 11ab11 B_HOLL_F
symbol 11ab16 B_HOLL_F1
symbol 11ab27 C_MISS_P
symbol 11ab53 C_MISS_F
symbol 11abd3 C_MISS_F1
symbol 11abde C_MISS_F3
symbol 11abe9 C_MISS_F5
symbol 11ac7b C_MISS_F6
symbol 11ac86 C_MISS_F8
symbol 11aca3 C_MISS_F9
symbol 11acbf C_MISS_F10
symbol 11acca C_MISS_F12
symbol 11acf8 C_MISS_F13
symbol 11ad0b C_MISS_EBSP
symbol 11ad0c SHIELDR_P
symbol 11ad27 SHIELDR_F
symbol 11ad5f SHIELDR_F1
symbol 11ae0e ZACO_B_P
symbol 11ae31 ZACO_B_F
symbol 11aea9 ZACO_B_F1
symbol 11aeb4 ZACO_B_F3
symbol 11aebf ZACO_B_F5
symbol 11aef7 ZACO_B_F6
symbol 11af02 ZACO_B_F8
symbol 11af0d ZACO_B_F10
symbol 11af33 ZACO_B_F11
symbol 11af47 ZACO_B_F12
symbol 11af52 ZACO_B_F14
symbol 11af5d ZACO_B_F16
symbol 11af95 ZACO_B_EBSP
symbol 11af96 ZACO_A_P
symbol 11afbf ZACO_A_F
symbol 11b03e ZACO_A_F1
symbol 11b049 ZACO_A_F3
symbol 11b054 ZACO_A_F5
symbol 11b05f ZACO_A_F7
symbol 11b06b ZACO_A_F9
symbol 11b088 ZACO_A_F10
symbol 11b0a5 ZACO_A_F11
symbol 11b0b9 ZACO_A_F12
symbol 11b0ea ZACO_A_F13
symbol 11b0f5 ZACO_A_F15
symbol 11b12e ZACO_A_F16
symbol 11b14c ZACO_A_EBSP
symbol 11b14d RAY_0_P
symbol 11b2ec RAY_0_F
symbol 11b380 RAY_0_F1
symbol 11b38b RAY_0_F3
symbol 11b396 RAY_0_F5
symbol 11b3aa RAY_0_F6
symbol 11b3c7 RAY_0_F7
symbol 11b3d2 RAY_0_F9
symbol 11b3dd RAY_0_F11
symbol 11b3e8 RAY_0_F13
symbol 11b405 RAY_0_F14
symbol 11b410 RAY_0_F16
symbol 11b448 RAY_0_F17
symbol 11b453 RAY_0_F19
symbol 11b479 RAY_0_F20
symbol 11b4a8 RAY_0_EBSP
symbol 11b4a9 RAY_1_P
symbol 11b6de RAY_1_F
symbol 11b7c4 RAY_1_F1
symbol 11b7cf RAY_1_F3
symbol 11b7da RAY_1_F5
symbol 11b7e4 RAY_1_F6
symbol 11b7ef RAY_1_F8
symbol 11b7fa RAY_1_F9
symbol 11b805 RAY_1_F11
symbol 11b819 RAY_1_F12
symbol 11b851 RAY_1_F13
symbol 11b85c RAY_1_F15
symbol 11b867 RAY_1_F17
symbol 11b87b RAY_1_F18
symbol 11b886 RAY_1_F20
symbol 11b89a RAY_1_F21
symbol 11b8d2 RAY_1_F22
symbol 11b8dd RAY_1_F24
symbol 11b8e8 RAY_1_F26
symbol 11b8f3 RAY_1_F28
symbol 11b8fe RAY_1_F30
symbol 11b9a2 RAY_1_EBSP
symbol 11b9a3 CLISLA_L_P
symbol 11b9c1 CLISLA_L_F
symbol 11b9d5 CLISLA_L_F1
symbol 11ba11 CLISLA_M_P
symbol 11ba2b CLISLA_M_F
symbol 11ba51 CLISLA_M_F1
symbol 11bac6 CLISLA_S_P
symbol 11bae1 CLISLA_S_F
symbol 11bb07 CLISLA_S_F1
symbol 11bb76 CAR_0_P
symbol 11bbae CAR_0_F
symbol 11bc30 CAR_0_F1
symbol 11bc3c CAR_0_F3
symbol 11bd28 CAR_0_F4
symbol 11bd33 CAR_0_F6
symbol 11bd3f CAR_0_F8
symbol 11bd6e CAR_0_F9
symbol 11bd82 CAR_0_EBSP
symbol 11bd83 CAR_1_P
symbol 11bdb9 CAR_1_F
symbol 11be28 CAR_1_F1
symbol 11be34 CAR_1_F3
symbol 11be40 CAR_1_F5
symbol 11be4c CAR_1_F7
symbol 11bed0 CAR_1_F8
symbol 11bf0c CAR_1_F9
symbol 11bf16 CAR_1_F10
symbol 11bf52 CAR_1_EBSP
symbol 11bf53 MINE_2_P
symbol 11bf79 MINE_2_F
symbol 11bfbb MINE_2_F1
symbol 11bfc6 MINE_2_F3
symbol 11bfd1 MINE_2_F5
symbol 11bfdc MINE_2_F7
symbol 11c033 MINE_2_F8
symbol 11c03d MINE_2_F9
symbol 11c047 MINE_2_F10
symbol 11c059 MINE_2_EBSP
symbol 11c05a ROUND0P_P
symbol 11c074 ROUND0P_F
symbol 11c08e ROUND0P_F1
symbol 11c0e4 GATE_2_P
symbol 11c113 GATE_2_F
symbol 11c14b GATE_2_F1
symbol 11c1f0 S_FISH_P
symbol 11c27a S_FISH_F
symbol 11c28e S_FISH_F1
symbol 11c2c7 BAZZ_1_P
symbol 11c3a4 BAZZ_1_F
symbol 11c441 BAZZ_1_F1
symbol 11c44b BAZZ_1_F3
symbol 11c46a BAZZ_1_F4
symbol 11c474 BAZZ_1_F6
symbol 11c493 BAZZ_1_F7
symbol 11c49d BAZZ_1_F9
symbol 11c4a8 BAZZ_1_F11
symbol 11c4bc BAZZ_1_F12
symbol 11c4c7 BAZZ_1_F14
symbol 11c4f7 BAZZ_1_F15
symbol 11c501 BAZZ_1_F16
symbol 11c50c BAZZ_1_F18
symbol 11c517 BAZZ_1_F20
symbol 11c52c BAZZ_1_F21
symbol 11c536 BAZZ_1_F22
symbol 11c540 BAZZ_1_F24
symbol 11c54a BAZZ_1_F26
symbol 11c555 BAZZ_1_F28
symbol 11c569 BAZZ_1_F29
symbol 11c587 BAZZ_1_EBSP
symbol 11c588 IKA_P
symbol 11c8e0 IKA_F
symbol 11c989 IKA_F1
symbol 11c994 IKA_F3
symbol 11c99f IKA_F5
symbol 11c9aa IKA_F7
symbol 11c9b5 IKA_F9
symbol 11c9c1 IKA_F11
symbol 11c9e9 IKA_F12
symbol 11ca57 IKA_F13
symbol 11ca62 IKA_F15
symbol 11ca6d IKA_F17
symbol 11ca82 IKA_F18
symbol 11ca96 IKA_F19
symbol 11caa1 IKA_F21
symbol 11caac IKA_F23
symbol 11cac1 IKA_F24
symbol 11cad5 IKA_EBSP
symbol 11cad6 LINE_0_P
symbol 11cadf LINE_0_F
symbol 11cae4 LINE_0_F1
symbol 11caf1 LINE_1_P
symbol 11caff LINE_1_F
symbol 11cb0a LINE_1_F1
symbol 11cb28 LINE_2_P
symbol 11cb40 LINE_2_F
symbol 11cb48 LINE_2_F1
symbol 11cb5e PIPE_8_P
symbol 11cce4 PIPE_8_F
symbol 11cd50 PIPE_8_F1
symbol 11cd5d PIPE_8_F3
symbol 11cd6a PIPE_8_F5
symbol 11cd77 PIPE_8_F7
symbol 11cd84 PIPE_8_F9
symbol 11cd90 PIPE_8_F11
symbol 11cd9c PIPE_8_F13
symbol 11cda8 PIPE_8_F15
symbol 11cdb4 PIPE_8_F17
symbol 11ce1a PIPE_8_EBSP
symbol 11ce1b PIPE_8_0_P
symbol 11ce2a PIPE_8_0_F
symbol 11ce38 PIPE_8_0_F1
symbol 11ce63 PIPE_9_P
symbol 11cfe9 PIPE_9_F
symbol 11d055 PIPE_9_F1
symbol 11d061 PIPE_9_F3
symbol 11d06e PIPE_9_F5
symbol 11d07b PIPE_9_F7
symbol 11d087 PIPE_9_F9
symbol 11d094 PIPE_9_F11
symbol 11d0a1 PIPE_9_F13
symbol 11d0ad PIPE_9_F15
symbol 11d0b9 PIPE_9_F17
symbol 11d11f PIPE_9_EBSP
symbol 11d120 OLD_TYPE_P
symbol 11d15e OLD_TYPE_F
symbol 11d220 OLD_TYPE_F1
symbol 11d22c OLD_TYPE_F3
symbol 11d238 OLD_TYPE_F5
symbol 11d243 OLD_TYPE_F7
symbol 11d24e OLD_TYPE_F9
symbol 11d2fe OLD_TYPE_F10
symbol 11d308 OLD_TYPE_F11
symbol 11d312 OLD_TYPE_F12
symbol 11d324 OLD_TYPE_F13
symbol 11d32f OLD_TYPE_F15
symbol 11d33a OLD_TYPE_F17
symbol 11d345 OLD_TYPE_F19
symbol 11d350 OLD_TYPE_F21
symbol 11d35b OLD_TYPE_F23
symbol 11d371 OLD_TYPE_F24
symbol 11d385 OLD_TYPE_F25
symbol 11d399 OLD_TYPE_F26
symbol 11d3d6 OLD_TYPE_EBSP
symbol 11d3d7 OLD_TYPP_P
symbol 11d415 OLD_TYPP_F
symbol 11d461 OLD_TYPP_F1
symbol 11d46c OLD_TYPP_F3
symbol 11d4a5 OLD_TYPP_F4
symbol 11d4b1 OLD_TYPP_F6
symbol 11d4d7 OLD_TYPP_F7
symbol 11d521 OLD_TYPP_EBSP
symbol 11d522 DEBOSS_0_P
symbol 11d579 DEBOSS_0_F
symbol 11d5a8 DEBOSS_0_F1
symbol 11d65b DEBOSS_1_P
symbol 11d6be DEBOSS_1_F
symbol 11d792 DEBOSS_1_F1
symbol 11d79e DEBOSS_1_F3
symbol 11d7aa DEBOSS_1_F5
symbol 11d7b6 DEBOSS_1_F7
symbol 11d7cc DEBOSS_1_F8
symbol 11d7fc DEBOSS_1_F9
symbol 11d808 DEBOSS_1_F11
symbol 11d838 DEBOSS_1_F12
symbol 11d844 DEBOSS_1_F14
symbol 11d86a DEBOSS_1_F15
symbol 11d876 DEBOSS_1_F17
symbol 11d882 DEBOSS_1_F19
symbol 11d8a2 DEBOSS_1_F20
symbol 11d8ad DEBOSS_1_F22
symbol 11d8dd DEBOSS_1_F23
symbol 11d8e9 DEBOSS_1_F25
symbol 11d8fc DEBOSS_1_F26
symbol 11d92d DEBOSS_1_F27
symbol 11d939 DEBOSS_1_F29
symbol 11d943 DEBOSS_1_F30
symbol 11d94e DEBOSS_1_F32
symbol 11d96d DEBOSS_1_F33
symbol 11d994 DEBOSS_1_EBSP
symbol 11d995 MY_BIRD_P
symbol 11dbdc MY_BIRD_F
symbol 11dc54 MY_BIRD_F1
symbol 11dc5f MY_BIRD_F3
symbol 11dc6a MY_BIRD_F5
symbol 11dcb4 MY_BIRD_F6
symbol 11dcec MY_BIRD_F7
symbol 11dcf7 MY_BIRD_F9
symbol 11dd02 MY_BIRD_F11
symbol 11dd3c MY_BIRD_F12
symbol 11dd62 MY_BIRD_EBSP
symbol 11dd63 WHALE_P
symbol 11df84 WHALE_F
symbol 11dff2 WHALE_F1
symbol 11dffd WHALE_F3
symbol 11e0ce WHALE_F4
symbol 11e118 WHALE_EBSP
symbol 11e119 POLE_0_P
symbol 11e13c POLE_0_F
symbol 11e16b POLE_0_F1
symbol 11e1fe FACE_1_P
symbol 11ea22 FACE_1_F
symbol 11eb36 FACE_1_F1
symbol 11eb41 FACE_1_F3
symbol 11eb4c FACE_1_F5
symbol 11eb57 FACE_1_F7
symbol 11eb62 FACE_1_F9
symbol 11ebca FACE_1_F10
symbol 11ebd5 FACE_1_F12
symbol 11ebf2 FACE_1_F13
symbol 11ec57 FACE_1_F14
symbol 11ec62 FACE_1_F16
symbol 11ec7f FACE_1_F17
symbol 11ece4 FACE_1_F18
symbol 11ed37 FACE_1_F19
symbol 11ed42 FACE_1_F21
symbol 11ed56 FACE_1_F22
symbol 11ed61 FACE_1_F24
symbol 11ed6d FACE_1_F25
symbol 11ed78 FACE_1_F27
symbol 11ed96 FACE_1_F28
symbol 11edb3 FACE_1_EBSP
symbol 11edb4 L2SMOKE
symbol 11edb4 BLACKHOLE
symbol 11edb4 CLASTEROID
symbol 11edb4 ANDROSS
symbol 11edb4 ANDROSSCUBE
symbol 11edb4 ANDROSSHOLE
symbol 11edb4 ELASER2
symbol 11edb4 ELASER2_S2
symbol 11edb4 ELASER2A
symbol 11edb4 GAMESH
symbol 11edb4 GRABBER2
symbol 11edb4 BIG_METEOR
symbol 11edb4 LMARK
symbol 11edb4 MMARK
symbol 11edb4 PLASMA
symbol 11edb4 PLANE1LW
symbol 11edb4 PLANE1RW
symbol 11edb4 PLAYERBEAM
symbol 11edb4 PLANE1B
symbol 11edb4 AMOEBA1
symbol 11edb4 AMOEBA2
symbol 11edb4 LARGEPLASMA
symbol 11edb4 LARGESHAPE
symbol 11edb4 RINGLASER
symbol 11edb4 LASERLINE
symbol 11edb4 EGG
symbol 11edb4 SMALLSHAPE
symbol 11edb4 SMARK
symbol 11edb4 DEMOSHAPES
symbol 11edb4 MEDIUMSHAPE
symbol 11edb4 ESCAPEE
symbol 11edb4 LFDIE
symbol 11edb4 OVALBEAM
symbol 11edb4 ASTEROID1
symbol 11edb4 ASTEROID2
symbol 11edb4 ASTEROID3
symbol 11edb4 ASTEROID4
symbol 11edb4 IRONBALL
symbol 11edb4 BOOSTSHAPE
symbol 11edb4 HELPBALL
symbol 11edb4 BOUNCYBALL
symbol 11edb4 LFIREBALL
symbol 11edb4 PCOLB
symbol 11edb4 PCOLLW
symbol 11edb4 PCOLRW
symbol 11edb4 SHELPBALL
symbol 11edb4 ROCKBEAM
symbol 11edb4 LFLASH_0
symbol 11edb4 LSMOKE
symbol 11edb4 MFLASH_0
symbol 11edb4 FIREBREATH
symbol 11edb4 FIRE
symbol 11edb4 FIREBALL
symbol 11edb4 FOLARGESHAPE
symbol 11edb4 FOLSMOKE
symbol 11edb4 PWCUBE_P
symbol 11edb4 NUKE
symbol 11edb4 SFLASH_0
symbol 11edb4 WELASER2
symbol 11edb4 NULLSHAPE
symbol 11edb4 LINE2
symbol 11edb4 LINE3
symbol 11edb4 LINE
symbol 11edb4 SPEXPLOD
symbol 11edb4 SPLASH
symbol 11edb4 OVERSH
symbol 11edb4 SMOKE
symbol 11edb4 SSPLASH
symbol 11edb4 MOTHER1
symbol 11edb4 EXPLOSION
symbol 11edb4 EXPLOSION2
symbol 11edb4 EXPLOSION3
symbol 11edb4 EXPLOSION4
symbol 11edb4 EXPLOSION5
symbol 11edb4 PEXPLOD
symbol 11edd0 PCUBE_P
symbol 11edec PCUBE_F
symbol 11ee25 ANDROSSCUBE_P
symbol 11ee40 ANDROSSCUBE_F
symbol 11ee93 LINE_P
symbol 11ee9f LINE_F
symbol 11ee9f LINE_F1
symbol 11eeba ELASER2_P
symbol 11ef8b ELASER2_PS2
symbol 11ef9a ELASER2_F
symbol 11efed ELASER2_FS2
symbol 11f00c MARK_P
symbol 11f01b MARK_F
symbol 11f02d LFDIE_F
symbol 11f037 LFDIE_P
symbol 11f049 TXSQUARE_F
symbol 11f05b TXSQUARE_P
symbol 11f06a TXSQUARE100_P
symbol 11f073 TXSQUARE_P2
symbol 11f082 TXSQUARE_F2
symbol 11f0a1 TXSQUARE_F3
symbol 11f0c0 SQUARE_F
symbol 11f0ca SQUARE_F1
symbol 11f0ca SQUARE_F2
symbol 11f0ca SQUARE_F3
symbol 11f0ca SQUARE_F4
symbol 11f0ca SQUARE_F5
symbol 11f0ca SQUARE_F6
symbol 11f0d4 SQUARE_P
symbol 11f0e6 MYSHIP_4
symbol 11f0e6 MYSHIP_B
symbol 11f0e6 MYSHIP_L
symbol 11f0e6 MYSHIP_R
symbol 11f0e6 GNDLCUBE
symbol 11f0e6 BMYSHIP_4
symbol 11f0e6 BMYSHIP_B
symbol 11f0e6 BMYSHIP_L
symbol 11f0e6 BMYSHIP_R
symbol 11f0e6 LCUBE
symbol 11f0e6 IMYSHIP_4
symbol 11f0e6 FRIENDSHIP_4
symbol 11f0e6 NULLPLAYER
symbol 11f0e6 PETECUBE_P
symbol 11f0e6 PETECUBE
symbol 11f0f5 PETECUBE_F
symbol 11f10c PETECUBE_F1
symbol 11f155 LCUBE_P
symbol 11f164 GNDLCUBE_P
symbol 11f173 MYSHIP_4_P
symbol 11f196 MYSHIP_4_F
symbol 11f1f0 MYSHIP_4_F1
symbol 11f1fb MYSHIP_4_F3
symbol 11f206 MYSHIP_4_F5
symbol 11f22c MYSHIP_4_F6
symbol 11f264 MYSHIP_4_F7
symbol 11f26f MYSHIP_4_F9
symbol 11f283 MYSHIP_4_F10
symbol 11f2b2 MYSHIP_4_EBSP
symbol 11f2b3 MYSHIP_L_P
symbol 11f2d9 MYSHIP_L_F
symbol 11f333 MYSHIP_L_F1
symbol 11f33e MYSHIP_L_F3
symbol 11f349 MYSHIP_L_F5
symbol 11f36f MYSHIP_L_F6
symbol 11f3a7 MYSHIP_L_F7
symbol 11f3b2 MYSHIP_L_F9
symbol 11f3d8 MYSHIP_L_F10
symbol 11f3f5 MYSHIP_L_EBSP
symbol 11f3f6 MYSHIP_R_P
symbol 11f41c MYSHIP_R_F
symbol 11f476 MYSHIP_R_F1
symbol 11f481 MYSHIP_R_F3
symbol 11f48c MYSHIP_R_F5
symbol 11f4b2 MYSHIP_R_F6
symbol 11f4ea MYSHIP_R_F7
symbol 11f4f5 MYSHIP_R_F9
symbol 11f509 MYSHIP_R_F10
symbol 11f538 MYSHIP_R_EBSP
symbol 11f539 MYSHIP_B_P
symbol 11f55c MYSHIP_B_F
symbol 11f5b6 MYSHIP_B_F1
symbol 11f5c1 MYSHIP_B_F3
symbol 11f5cc MYSHIP_B_F5
symbol 11f5f2 MYSHIP_B_F6
symbol 11f62a MYSHIP_B_F7
symbol 11f635 MYSHIP_B_F9
symbol 11f65b MYSHIP_B_F10
symbol 11f678 MYSHIP_B_EBSP
symbol 11fb75 DOGCCR
symbol 11fb75 BOSS_ASTEROID
symbol 11fe20 BOSS_MACBETH
# <<< END AUTO-INGESTED <<<
