# bank06.cfg - auto-created by ingest_starfox_enhanced_symbols.py

bank = 06

# >>> AUTO-INGESTED FROM Star Fox Enhanced SYMBOLS.TXT - do not hand-edit between markers >>>
# Source: third_party/starfox-enhanced/upstream-ultrastarfox/SYMBOLS.TXT
# Regenerate via: py tools/ingest_starfox_enhanced_symbols.py
# These are non-promoting labels; do not convert this block to `name`.
# 191 entries (0 suppressed by hand-authored declarations).
symbol 068000 FLYINLEFT_SROU
symbol 06807e FLYINRIGHT_SROU
symbol 0680fe CLSHIPWARPA_ISTRAT
symbol 068131 CLSHIPWARPA_STRAT
symbol 06814c CLSHIPWARPB_ISTRAT
symbol 06817f CLSHIPWARPB_STRAT
symbol 06819a CLSHIPWARPC_ISTRAT
symbol 0681c0 CLSHIPWARPC_STRAT
symbol 0681e9 CLSHIPWARP_CONT
symbol 068289 CLSHIPGNDA_ISTRAT
symbol 0682af CLSHIPGNDA_STRAT
symbol 0682d8 CLSHIPGNDB_ISTRAT
symbol 0682fe CLSHIPGNDB_STRAT
symbol 068327 CLSHIPGNDC_ISTRAT
symbol 068349 CLSHIPGNDC_STRAT
symbol 068372 CLSHIPGND_CONT
symbol 06840e CLSHIPBOOST_ISTRAT
symbol 068414 CLSHIPBOOSTNOSND_ISTRAT
symbol 068453 CLSHIPBOOST_STRAT
symbol 06848f CLSHIPEARTHA_ISTRAT
symbol 0684c6 CLSHIPEARTHA_STRAT
symbol 0684f3 CLSHIPEARTHB_ISTRAT
symbol 06852a CLSHIPEARTHB_STRAT
symbol 068557 CLSHIPEARTHC_ISTRAT
symbol 06858a CLSHIPEARTHC_STRAT
symbol 0685b7 CLSHIPSHIPA_ISTRAT
symbol 0685c1 CLSHIP1_ISTRAT
symbol 0685de CLSHIP1_STRAT
symbol 068607 CLSHIPSHIPB_ISTRAT
symbol 068611 CLSHIP2_ISTRAT
symbol 06862e CLSHIP2_STRAT
symbol 068657 CLSHIPSHIPC_ISTRAT
symbol 068661 CLSHIP3_ISTRAT
symbol 06867a CLSHIP3_STRAT
symbol 0686a3 CLSHIP_CONT
symbol 0687c7 CLSHIPTURNA_ISTRAT
symbol 06880b CLSHIPTURNA_STRAT
symbol 068826 CLSHIPTURNB_ISTRAT
symbol 06886a CLSHIPTURNB_STRAT
symbol 068885 CLSHIPTURNC_ISTRAT
symbol 0688bc CLSHIPTURNC_STRAT
symbol 0688e5 CLSHIPTURN_CONT
symbol 06896e CLSHIPTURN_ISTRAT
symbol 06897f CLSHIPTURN_STRAT
symbol 0689a5 CLSHIPTURN2_ISTRAT
symbol 0689c6 CLSHIPTURN2_STRAT
symbol 0689e8 CLSHIPTURN2_CONT
symbol 068a03 CLSHIPBRIDGEA_ISTRAT
symbol 068a2d CLSHIPBRIDGEA_STRAT
symbol 068a56 CLSHIPBRIDGEB_ISTRAT
symbol 068a80 CLSHIPBRIDGEB_STRAT
symbol 068aa9 CLSHIPBRIDGEC_ISTRAT
symbol 068acb CLSHIPBRIDGEC_STRAT
symbol 068af4 CLSHIPBRIDGE_CONT
symbol 068b9e CLSHIPBRIDGEBOOST_ISTRAT
symbol 068bb3 CLSHIPBRIDGEBOOST_STRAT
symbol 068c19 CLSHIPDIVEA_ISTRAT
symbol 068c39 CLSHIPDIVEA_STRAT
symbol 068cec CLSHIPDIVEB_ISTRAT
symbol 068d0c CLSHIPDIVEB_STRAT
symbol 068dbf CLSHIPDIVEC_ISTRAT
symbol 068ddf CLSHIPDIVEC_STRAT
symbol 068e68 CLSHIPDIVE_CONT
symbol 068ed6 CLSHIPDIVE_CONT2
symbol 068ef9 CLSHIPDIVEBOOST_ISTRAT
symbol 068f04 CLSHIPCHASEA_ISTRAT
symbol 068f2e CLSHIPCHASEA_STRAT
symbol 068f57 CLSHIPCHASEB_ISTRAT
symbol 068f81 CLSHIPCHASEB_STRAT
symbol 068faa CLSHIPCHASEC_ISTRAT
symbol 068fcc CLSHIPCHASEC_STRAT
symbol 068ff5 CLSHIPCHASE_CONT
symbol 06909f CLSHIPCHASEBOOST_ISTRAT
symbol 0690b4 CLSHIPCHASEBOOST_STRAT
symbol 069111 CLSHIPUNDERA_ISTRAT
symbol 069145 CLSHIPUNDERA_STRAT
symbol 06916e CLSHIPUNDERB_ISTRAT
symbol 0691a2 CLSHIPUNDERB_STRAT
symbol 0691cb CLSHIPUNDERC_ISTRAT
symbol 0691f3 CLSHIPUNDERC_STRAT
symbol 06921c CLSHIPUNDER_CONT
symbol 0692c6 CLSHIPUNDERBOOST_ISTRAT
symbol 0692dd CLSHIPUNDERBOOST_STRAT
symbol 06934e PSHIPDIVEGND_ISTRAT
symbol 06937c PSHIPDIVEGND_STRAT
symbol 069484 VIEWDIVEGND_ISTRAT
symbol 0694c0 VIEWDIVEGND_STRAT
symbol 06959e LSEQDOOR1_ISTRAT
symbol 069604 LSEQDOOR2_ISTRAT
symbol 06969b SHIPLB1_ISTRAT
symbol 06973c SHIPLB1YCHASE_SROU
symbol 069769 PSHIPOUTOFLB1_ISTRAT
symbol 06978f PSHIPOUTOFLB1_STRAT
symbol 069ab9 VIEWOUTOFLB1_ISTRAT
symbol 069af8 VIEWOUTOFLB1_STRAT
symbol 069cc2 SHIPOUTOFLB3_ISTRAT
symbol 069cd9 SHIPOUTOFLB3_STRAT
symbol 069e3e PSHIPOUTOFLB3_ISTRAT
symbol 069e61 PSHIPOUTOFLB3_STRAT
symbol 06a04a VIEWOUTOFLB3_ISTRAT
symbol 06a06d VIEWOUTOFLB3_STRAT
symbol 06a590 VIEWLB3MOVE_SROU
symbol 06a5bd PSHIPCOLONY_ISTRAT
symbol 06a5d8 PSHIPCOLONY_STRAT
symbol 06a858 PSHIPCOLONYROT_TAB
symbol 06a88c PSHIPWASHENT_ISTRAT
symbol 06a8a7 PSHIPWASHENT_STRAT
symbol 06ab11 PSHIPWASHENTROT_TAB
symbol 06ab2a SHIP0CDOWN_ISTRAT
symbol 06ab45 SHIP0CDOWN_STRAT
symbol 06ac0e FLOATCLSHIP_L
symbol 06ac6e FLOATCLSHIP2_L
symbol 06ad02 BOSSDELAYEXPLODE_ISTRAT
symbol 06ad31 BOSSDELAYEXPLODE_STRAT
symbol 06ad8b QBOSSEXPLODE_ISTRAT
symbol 06ada7 BOSSEXPLODE_ISTRAT
symbol 06aefe MAKEBOSSCIRCEXP_SROU
symbol 06af43 BOSSBIGOUTEXPLODEOFF_ISTRAT
symbol 06af61 BOSSBIGOUTEXPLODE_ISTRAT
symbol 06af7f BOSSBIGOUTEXPLODE_ICONT
symbol 06b07d SETOUTEXP_SROU
symbol 06b0c9 ADDSVARS2POSY
symbol 06b0f4 BIGWHITEFOSPRITE_L
symbol 06b102 DELAYEXPLODE_ISTRAT
symbol 06b131 DELAYEXPLODE_STRAT
symbol 06b16b CIRCDELAYEXPLODE_ISTRAT
symbol 06b18a CIRCDELAYEXPLODE_STRAT
symbol 06b1d8 MAKELEXPOBJ_SROU
symbol 06b1e7 MAKEMEDEXPOBJ_SROU
symbol 06b1f6 MAKESMLEXPOBJ_SROU
symbol 06b205 MAKEFOLEXPOBJ_SROU
symbol 06b214 MAKEEXPOBJ_SROU
symbol 06b260 ADDRND2POSY_SROU
symbol 06b299 ADDRND2POSXYZ2_SROU
symbol 06b2f1 IMPLODE_ISTRAT
symbol 06b317 IMPLODE_STRAT
symbol 06b33f SMARKEXPLODE_ISTRAT
symbol 06b36d MMARKEXPLODE_ISTRAT
symbol 06b39b LMARKEXPLODE_ISTRAT
symbol 06b3c9 BIGEXPLODE_ISTRAT
symbol 06b450 FASTEXPLODEDEBRIS_ISTRAT
symbol 06b47a ESCAPEEEXPLODE2_ISTRAT
symbol 06b488 ESCAPEEEXPLODE_ISTRAT
symbol 06b494 MAKEESCAPEE_ICONT
symbol 06b4c7 NOESCAPEE_ICONT
symbol 06b4cb ESCAPEE_ISTRAT
symbol 06b4d3 EXPLODEDEBRIS_ISTRAT
symbol 06b4fa EXPLODEDEBRIS_ICONT
symbol 06b603 EXPSPIECE_ISTRAT
symbol 06b62c EXPSPIECE_STRAT
symbol 06b659 EXPPIECE_ISTRAT
symbol 06b6af EXPPIECE_STRAT
symbol 06b6ee EXPPIECEEXP_ISTRAT
symbol 06b6fd EXPLODEBIGPARTS_ISTRAT
symbol 06b727 STOPEXPLODE_ISTRAT
symbol 06b758 EXPLODE_ISTRAT
symbol 06b7ae EXPLODE_ICONT
symbol 06ba7c LEXPLODE_STRAT
symbol 06baa6 EXPLODE_STRAT
symbol 06bac1 EXPLODE_END
symbol 06badf PARTICLEEXPLODE_ISTRAT
symbol 06bb15 PARTICLEEXPLODE_STRAT
symbol 06bb46 FASTPARTICLEEXPLODE_ISTRAT
symbol 06bb7c FASTPARTICLEEXPLODE_STRAT
symbol 06bb95 BIGPARTICLEEXPLODE_ISTRAT
symbol 06bbcb BIGPARTICLEEXPLODE_STRAT
symbol 06bbfe CIRC2PARTICLEEXPLODE_ISTRAT
symbol 06bc34 CIRC2PARTICLEEXPLODE_STRAT
symbol 06bc67 CIRCPARTICLEEXPLODE_STRAT
symbol 06bc67 CIRCPARTICLEEXPLODE_ISTRAT
symbol 06bc68 PARTICLEFIRE_ISTRAT
symbol 06bc80 PARTICLEFIRE_ICONT
symbol 06bc9e PARTICLEFIRE_STRAT
symbol 06bc9f PARTICLEFIREDOWN_ISTRAT
symbol 06bcbb MAKEPOLLEN_SROU_L
symbol 06bcf1 PARTICLEPOLLEN_ISTRAT
symbol 06bd27 PARTICLEPOLLEN_STRAT
symbol 06bd4c EXPLODEGATE2_ISTRAT
symbol 06bd99 TOW0EXPLODE_ISTRAT
symbol 06bda5 PILLAR3EXPLODE_ISTRAT
symbol 06bdae PILLAREXPLODE_ISTRAT
symbol 06be56 MNOGRAD
symbol 06be80 MROTPLANET
symbol 06bedf MTUNNELGRAD
symbol 06bf2a MWIBBLETUNNEL
symbol 06bfc6 MBHOLE
symbol 06c049 WATERSINETAB
symbol 06c069 WATERSINETABEND
symbol 06c129 BHOLETAB
symbol 06c16f BHOLETABEND
symbol 06c241 WSCTAB
# <<< END AUTO-INGESTED <<<
