bank = 31

# >>> AUTO-INGESTED FROM Star Fox Enhanced SYMBOLS.TXT - do not hand-edit between markers >>>
# Source: third_party/starfox-enhanced/upstream-ultrastarfox/SYMBOLS.TXT
# Regenerate via: py tools/ingest_starfox_enhanced_symbols.py
# These are non-promoting labels; do not convert this block to `name`.
# 295 entries (0 suppressed by hand-authored declarations).
symbol 1f8e77 BOSS_CORNERIA
symbol 1f9441 BOSS_TITANIA
symbol 1f9a38 BOSS_METEOR
symbol 1f9f4a BOSS_SPACE_ARMADA
symbol 1fa388 BOSS_VENOM_BASE_2
symbol 1fa783 BOSS_VENOM_BASE_1
symbol 1fafb0 VENOM_ANDROSS
symbol 1fb985 OBJ2CCR
symbol 1fbdb0 STRATDEBUG_L
symbol 1fbdb1 STARTBOOT
symbol 1fbdf8 RESTART
symbol 1fbe43 FIRSTTIMEUSE
symbol 1fbe59 INITIALISE_RAM
symbol 1fbeec STARTSFX_L
symbol 1fbff3 FNMI_L
symbol 1fbff4 REMOVEDEADAL_L
symbol 1fbff8 REMOVEDEADAL
symbol 1fc055 GENERATE_COLLIST_L
symbol 1fc0b7 ALVELVECS_L
symbol 1fc0b9 VELVECS_L
symbol 1fc12a VELVEC1
symbol 1fc17f VELVEC2
symbol 1fc189 NALVELVECS_L
symbol 1fc18d NVELVECS_L
symbol 1fc18f NVECS_L
symbol 1fc201 NVELVEC1
symbol 1fc256 NVELVEC2
symbol 1fc260 ALVEL3VECS_L
symbol 1fc262 VEL3VECS_L
symbol 1fc428 NALVEL3VECS_L
symbol 1fc42a NVEL3VECS_L
symbol 1fc436 N3DVECS_L
symbol 1fc5fc SIDEVECS_L
symbol 1fc671 SIDEVEC1
symbol 1fc6c6 SIDEVEC2
symbol 1fc6d0 FRONTVECS_L
symbol 1fc742 FVEC1
symbol 1fc797 FVEC2
symbol 1fc7a1 ADDVECS4_L
symbol 1fc7b1 ADDVECS2_L
symbol 1fc7b9 ADDVECS_L
symbol 1fc7bb ADDVECS0_L
symbol 1fc7d3 ADDALVECS_L
symbol 1fc7ed FIND_OBJECT_L
symbol 1fc7ed FINDTARGET_L
symbol 1fc810 BAD_FOBJ
symbol 1fc819 GET_ANYOBJ
symbol 1fc82f FIND_MOBJECT_L
symbol 1fc864 GET_ANYMOBJ
symbol 1fc888 FIND_NEAROBJECT_L
symbol 1fc888 FINDNTARGET_L
symbol 1fc8cb BADFEND
symbol 1fc8d1 FIND_ANYNEAROBJECT_L
symbol 1fc902 FIND_RADIUSOBJECT_L
symbol 1fc93d FIND_ANYRADIUSOBJECT_L
symbol 1fc969 FIND_SHAPE_L
symbol 1fc97b COUNT_SHAPES_L
symbol 1fc993 ROTATE_8XZ_L
symbol 1fcb13 ROTATE_8YZ_L
symbol 1fcc90 ROTATE_8YX_L
symbol 1fce08 ROTATE_16XZ_L
symbol 1fce9c ROTATE_16YZ_L
symbol 1fcf33 ANGLEXY_OFF_L
symbol 1fcf5b ANGLEXY_ABS_L
symbol 1fcf72 XZDIFFS_OFF_L
symbol 1fcfaa XZDIFFS_ABS_L
symbol 1fcfda XYDIFFS_ABS_L
symbol 1fd009 ADD_OBJVECS_L
symbol 1fd039 ANGLEXY_L
symbol 1fd039 YANGLEXY_L
symbol 1fd056 XANGLEXY_L
symbol 1fd074 XANGLEXABS_L
symbol 1fd09c YANGLEXABS_L
symbol 1fd0c3 XZDIFFS_L
symbol 1fd0e1 XZDIFFS_DIFFABS_L
symbol 1fd12d XYDIFFS_L
symbol 1fd15e FIRE_WEAPON_L
symbol 1fd192 WEAPONS_DATA
symbol 1fd252 DO_COLL_L
symbol 1fd283 DO_STRAT_L
symbol 1fd386 INIT_OBJVARS_L
symbol 1fd3c1 MAKEOBJ_L
symbol 1fd3f8 CLEARMAP_L
symbol 1fd415 CLEARREALOBJMAP_L
symbol 1fd432 SET_NORMCOLLPTRSX_L
symbol 1fd44d SET_NORMCOLLPTRSY_L
symbol 1fd468 SET_0COLLPTRSX_L
symbol 1fd47c SET_0COLLPTRSY_L
symbol 1fd490 ADD2POSOBJYFOBJX_L
symbol 1fd4aa PERC56A_L
symbol 1fd4c0 PERC62A_L
symbol 1fd4d2 PERC75A_L
symbol 1fd4e0 PERC87A_L
symbol 1fd4f7 PERC93A_L
symbol 1fd519 SR_REMOVE_OBJX
symbol 1fd558 SR_REMOVE_OBJY
symbol 1fd563 SR_MAKE_OBJ
symbol 1fd587 SR_MAKE_CHILD
symbol 1fd5bf SR_GEN_3DVECS
symbol 1fd5d4 SR_GEN_3DVECS1
symbol 1fd5ec SR_GEN_3DVECS2
symbol 1fd607 SR_GEN_3DVECS3
symbol 1fd625 SR_SPEEDTO
symbol 1fd654 SR16_ACHASE_ALVAR1
symbol 1fd687 SR16_ACHASE_ALVAR2
symbol 1fd6c3 SR16_ACHASE_ALVAR3
symbol 1fd708 SR16_ACHASE_ALVAR4
symbol 1fd756 SR16_ACHASE_ALVAR5
symbol 1fd7ad SR16_ACHASE_ALVAR6
symbol 1fd80d SR16_ACHASE_ALVAR7
symbol 1fd876 SR8_ACHASE_ALVAR1
symbol 1fd8a2 SR8_ACHASE_ALVAR2
symbol 1fd8d5 SR8_ACHASE_ALVAR3
symbol 1fd90f SR8_ACHASE_ALVAR4
symbol 1fd950 SR8_ACHASE_ALVAR5
symbol 1fd998 SR8_ACHASE_ALVAR6
symbol 1fd9e7 SR8_ACHASE_ALVAR7
symbol 1fda3d SR_ACHASE_ALVAR_END
symbol 1fda41 SR_ACHASE_ALVAR_FIN
symbol 1fda45 SR_SET_EXPSTRAT_EXPX
symbol 1fda57 SR_SET_EXPSTRAT_EXPY
symbol 1fda6f SR_BANKTOPLAYER
symbol 1fdad0 SR_MAKE_XYVEC
symbol 1fdaf1 SR_COPYPOSYX
symbol 1fdb05 SR_COPYPOSXY
symbol 1fdb19 SR_COPYROTSYX
symbol 1fdb29 SR_COPYROTSXY
symbol 1fdb39 SR_KEEPRELTO_PLAYERX
symbol 1fdb4a SR_KEEPRELTO_PLAYERY
symbol 1fdb5d SR_ZERO_VECSX
symbol 1fdb6a SR_ZERO_VECSY
symbol 1fdb7e NEXTSTATE
symbol 1fdb88 SETSTATE0
symbol 1fdb90 SETSTATE1
symbol 1fdb98 SETSTATE2
symbol 1fdba0 SETSTATE3
symbol 1fdba8 SETSTATE4
symbol 1fdbb0 SETSTATE5
symbol 1fdbb8 JMPTOSTRAT
symbol 1fdbbc DIVORCEFAMILY_L
symbol 1fdc3d JMPTOSTRATX_JML
symbol 1fdc58 SETOBJTOBECHILDYX_SROU
symbol 1fdc6d SETOBJTOBECHILDXY_SROU
symbol 1fdc81 SR_ADDPLAYERZX
symbol 1fdc8e SR_ADDPLAYERZY
symbol 1fdc9d DOBLINK
symbol 1fdcaa DOBLINK1
symbol 1fdcb7 DOBLINK2
symbol 1fdcc4 DOBLINK3
symbol 1fdcd1 DOBLINK4
symbol 1fdcde STOPALL
symbol 1fde2f OOPSHDMA
symbol 1fde4d MIDBLINK
symbol 1fde69 COPY_TO_0101_L
symbol 1fde8c NMIHAN
symbol 1fdec8 CLIP_PLOT_L
symbol 1fdec8 NMIHANEND
symbol 1fdecc NOPLOT
symbol 1fdecd CLIP_PLOT
symbol 1fdef3 PLOT
symbol 1fdef6 PLOT0
symbol 1fdf3b PRINTT_L
symbol 1fdf88 PRINTW_L
symbol 1fdf95 PRINTBD_L
symbol 1fdfb1 PRINTBSD_L
symbol 1fdfcd PRINTB_L
symbol 1fdfe9 PRINTBSD
symbol 1fe003 PRINTBD
symbol 1fe0b6 PRINTCHAR
symbol 1fe102 PRINTB
symbol 1fe171 PRINTBB_L
symbol 1fe1c0 ENDSEQ_L
symbol 1fe326 END_ENDSEQ
symbol 1fe32a END_ENDSEQ2
symbol 1fe32c ENDTRANS_L
symbol 1fe330 ENDTRANS
symbol 1fe3a8 DOSTRATLIST
symbol 1fe415 SETBOSS_L
symbol 1fe436 GETABOSS
symbol 1fe58d SETMYBGA
symbol 1fe5b5 SETMYBGB
symbol 1fe5da QSETIT
symbol 1fe640 PRTDEMOTXT
symbol 1fe684 HANDLER
symbol 1fe689 SCROLLINL
symbol 1fe6ac SCROLLOUTR
symbol 1fe6cf SCROLLINR
symbol 1fe6f2 SCROLLOUTL
symbol 1fe724 BOSS11_IHAN
symbol 1fe78e BOSS11_HAN
symbol 1fe841 BOSS12_IHAN
symbol 1fe899 BOSS13_IHAN
symbol 1fe8f1 BOSS13_HAN
symbol 1fe9a4 BOSS14_IHAN
symbol 1fea07 BOSS15_IHAN
symbol 1fea72 BOSS16_IHAN
symbol 1feaca BOSS21_IHAN
symbol 1feb2e BOSS22_IHAN
symbol 1feb80 BOSS23_IHAN
symbol 1febd2 BOSS23_HAN
symbol 1fec85 BOSS24_IHAN
symbol 1fecd7 BOSS25_IHAN
symbol 1fed29 BOSS26_IHAN
symbol 1fed86 BOSS26_HAN
symbol 1fee39 BOSS31_IHAN
symbol 1fee9c BOSS32_IHAN
symbol 1feeff BOSS33_IHAN
symbol 1fef57 BOSS34_IHAN
symbol 1fefaf BOSS35_IHAN
symbol 1ff012 BOSS36_IHAN
symbol 1ff075 BOSS37_IHAN
symbol 1ff0d8 BOSSFINAL_IHAN
symbol 1ff13b ENDSEQBOSS
symbol 1ff13b BOSS11
symbol 1ff140 BOSS12
symbol 1ff145 BOSS13
symbol 1ff14a BOSS14
symbol 1ff14f BOSS15
symbol 1ff154 BOSS16
symbol 1ff159 BOSS21
symbol 1ff15e BOSS22
symbol 1ff163 BOSS23
symbol 1ff168 BOSS24
symbol 1ff16d BOSS25
symbol 1ff172 BOSS26
symbol 1ff177 BOSS31
symbol 1ff17c BOSS32
symbol 1ff181 BOSS33
symbol 1ff186 BOSS34
symbol 1ff18b BOSS35
symbol 1ff190 BOSS36
symbol 1ff195 BOSS37
symbol 1ff19a BOSSFINAL
symbol 1ff19f BOSS11DEMO
symbol 1ff1b3 BOSS12DEMO
symbol 1ff1bf BOSS14DEMO
symbol 1ff1d3 BOSS15DEMO
symbol 1ff1e3 BOSS16DEMO
symbol 1ff1f7 BOSS23DEMO
symbol 1ff204 BOSS24DEMO
symbol 1ff210 BOSS25DEMO
symbol 1ff21c BOSS26DEMO
symbol 1ff22c BOSS31DEMO
symbol 1ff23c BOSS32DEMO
symbol 1ff248 BOSS33DEMO
symbol 1ff254 BOSS35DEMO
symbol 1ff260 BOSS36DEMO
symbol 1ff270 BOSS37DEMO
symbol 1ff27c BOSSFINALDEMO
symbol 1ff28c DEMOTXTBASE
symbol 1ff28c BOSS11TXT
symbol 1ff2a2 BOSS21TXT
symbol 1ff2b8 BOSS31TXT
symbol 1ff2ce BOSS11TXT2
symbol 1ff2ce BOSS21TXT2
symbol 1ff31e BOSS31TXT2
symbol 1ff360 BOSS12TXT
symbol 1ff376 BOSS22TXT
symbol 1ff38c BOSS12TXT2
symbol 1ff38c BOSS22TXT2
symbol 1ff3ce BOSS32TXT
symbol 1ff3e4 BOSS32TXT2
symbol 1ff42c BOSS13TXT
symbol 1ff448 BOSS13TXT2
symbol 1ff48d BOSS23TXT
symbol 1ff4a2 BOSS23TXT2
symbol 1ff4f2 BOSS33TXT
symbol 1ff507 BOSS33TXT2
symbol 1ff553 BOSS14TXT
symbol 1ff567 BOSS14TXT2
symbol 1ff5b5 BOSS24TXT
symbol 1ff5cb BOSS24TXT2
symbol 1ff616 BOSS34TXT
symbol 1ff62c BOSS34TXT2
symbol 1ff672 BOSS15TXT
symbol 1ff685 BOSS25TXT
symbol 1ff698 BOSS15TXT2
symbol 1ff6d6 BOSS25TXT2
symbol 1ff720 BOSS16TXT
symbol 1ff733 BOSS26TXT
symbol 1ff746 BOSS26TXT2
symbol 1ff78f BOSS35TXT
symbol 1ff7a4 BOSS35TXT2
symbol 1ff7e7 BOSS36TXT
symbol 1ff7fa BOSS36TXT2
symbol 1ff840 BOSS37TXT
symbol 1ff853 BOSS37TXT2
symbol 1ff89e BOSSFINALTXT
symbol 1ff8af BOSSFINALTXT2
symbol 1ff8f6 BOSS13DEMO
symbol 1ff97a TITLESEQ_L
symbol 1ff97b TITLEREDO
symbol 1ffa39 INTRO_L
symbol 1ffaaf TIT_ISTRAT
symbol 1ffac8 TIT_STRAT
# <<< END AUTO-INGESTED <<<
